<div class='footerBox ajab-container '>
    <div class='footerArt'></div>
    <div class='footerWrapper'>
        <footer class='ajab-wrapper'>
            <ul class='footerList'>
                <li><a href="/links/songs/songsHomePage.html">Songs</a></li>
                <li><a href="/links/couplets/coupletsHomePage.html">Couplets</a></li>
                <li><a href="/links/words/wordsHomePage.html">Words</a></li>
            </ul>

            <ul class='footerList'>
                <li><a href="/links/reflections/reflectionsHomePage.html">Reflections</a></li>
                <li><a href="/links/people/peopleHomePage.html">People</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Places</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Gatherings</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Films</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Classroom</a></li>
            </ul>

            <ul class='footerList'>
                <li><a href="/links/underConstruction/underConstruction.html">Poets</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Radio</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">String</a></li>
                <li><a href="/links/underConstruction/underConstruction.html">Glimpse</a></li>
            </ul>

            <ul class='footerList'>
                <li>About</li>
                <li>Map</li>
                <li>Shop</li>
                <li>Support</li>
                <li>Glossary</li>
                <li>Singer Index</li>
                <li>Resources</li>
                <li>Copyright</li>
            </ul>

            <ul class='footerList'>
                <li>Contact</li>
                <li>OK Listen</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Soundcloud</li>
            </ul>

            <ul class='footerExtra'>
                <li><font color="#e83785">SUBCRIBE</font> - Get updates about new uploads, events, curated playlists..
                </li>
                <li><font color="#e83785">PARTICIPATE</font> - Share your songs or thoughts, support an artist, start a
                    discussion..
                </li>
                <li class='kabirProject'>A Kabir Project initiative</li>
            </ul>

        </footer>
    </div>
</div>