<div class='headerBox ajab-container '>
    <div class='headerWrapper'>
        <header>
            <div class='logoContainer'>
                <img class='logo' />
            </div>
            <div class='menuContainer'>
                <ul class='topLine'>
                    <li class='selected'>English</li>
                    <li>हिन्दी</li>
                    <li title="Support an artist or Ajab Shahar">Support</li>
                    <li title='Take a tour of this city '>Map</li>
                    <li title='Our inspiration, team, funding…'>About</li>
                    <li title=''>Sign in</li>
                </ul>

                <ul class='firstLine'>
                    <li title='Songs from the oral traditions – Bhakti, Sufi, Baul…'><a href="/partials/songs/landingPage.html">Songs</a></li>
                    <li title='Pithy poems – dohas, saakhis, beyts, rekhtas…'><a href="/partials/couplets/landingPage.html">Couplets</a></li>
                    <li title='Explorations of key words and ideas in the poetry'><a href="/partials/words/landingPage.html">Words</a></li>
                </ul>
                <ul class='secondLine'>
                    <li title='Interviews and writings about the poetry'><a href="/partials/reflections/landingPage.html">Reflections</a></li>
                    <li title='Meet with poets, singers, artists, scholars, seekers… '><a href="/partials/people/landingPage.html">People</a></li>
                    <li title='Enter the landscapes of song'><a href="/partials/common/underConstruction.html">Places</a></li>
                    <li title='Join a festival, concert, talk, satsang…'><a href="/partials/common/underConstruction.html">Gatherings</a></li>
                    <li title='Four musical travelogues exploring Kabir'><a href="/partials/common/underConstruction.html">Films</a></li>
                    <li title='Taking mystic poetry to students '><a href="/partials/common/underConstruction.html">Classroom</a></li>
                </ul>
                <ul class='thirdLine'>
                    <li title='Bhakti, Sufi and Baul poets in Ajab Shahar'><a href="/partials/common/underConstruction.html">Poets</a></li>
                    <li title='Playlists of music from Ajab Shahar '><a href="/partials/common/underConstruction.html">Radio</a></li>
                    <li title='String couplets on the thread of a word'><a href="/partials/common/underConstruction.html">String</a></li>
                    <li title='Visual expressions of mystic poetry'><a href="/partials/common/underConstruction.html">Glimpse</a></li>
                    <li title='Share a song, thought, idea, artwork or start a discussion'><a href="/partials/common/underConstruction.html">Participate</a></li>
                    <li class='searchBox'>
                        <input class='searchField' placeholder='Search'/>
                    </li>
                </ul>
            </div>

        </header>
    </div>
    <div class='headerArt'></div>
</div>

<script type="text/javascript">
$(function(){
$(window).scroll(function(){
  var sticky = $('.headerWrapper'),stickyArt = $('.headerArt'),
      scroll = $(window).scrollTop(),toFix=$('.headerWrapper').height();

  if (scroll >= toFix){sticky.addClass('fixed');stickyArt.addClass('fixed');$('body').css('padding-top',toFix+'px');}
  else {sticky.removeClass('fixed');stickyArt.removeClass('fixed');$('body').css('padding-top','0px');}
});


$('.headerArt').on('click',function(){
var addMarginToArt=$('.headerWrapper').height();
if($('.headerWrapper').css('display')=='none'){
    $('.headerWrapper').addClass('fixedOnScroll');
    $('.headerArt').css('top',addMarginToArt+'px');
}
else{
    $('.headerWrapper').removeClass('fixedOnScroll');
    $('.headerArt').css('top','0px');
}
});

});
</script>