<div class='ajab-container words-wrapper'>
    <div class='ajab-wrapper'>
        <div class="page-header">
                    <span class="logo-container">
                        <a href="javascript:void(0)">words</a>
                    </span>

            <div class="pagination-head">
                <div class="upper">
                    <original-english-toggle></original-english-toggle>
                    <span class="numeric-count" ng-cloak>{{numberOfWords}} words</span>
                </div>
            </div>
        </div>
        <div class='homepage-content'>
            <div ng-repeat="word in words">
                <word-bubble id="{{word.id}}"
                             word-transliteration="{{word.wordTransliteration}}"
                             word-translation="{{word.wordTranslation}}"
                             transliteration-intro="{{word.englishIntroExcerpt}}"></word-bubble>
            </div>
        </div>
    </div>
</div>


