
<div class="ajab_container" id="glossary_page" ng-random-class ng-classes="classes">
    <div class="ajab-wrapper">
        <div class="page-header">
            <div class="logo-container">
                <a href="javascript:void(0)" target="_self">
                    <span class="page-logo">glossary</span>
                </a>
            </div>

        </div>

        <div class="content-wrapper">
            <div class="pagination-head">
                <div class="upper">
                    <span class="numeric-count" ng-cloak>{{numberOfTerms}} words</span>
                </div>
            </div>

            <div ng-repeat="term in glossary">
                <dl>
                    <dt class="word-title" ng-class="term.isRootWord ? 'root-word' : ''" ng-click="open('{{term.id}}')">
                                   <span ng-if="term.isRootWord">
                                       <a ng-href="{{getWordUrl(term)}}" ng-cloak target="_self">{{term.wordTransliteration}}</a>
                                   </span>
                                   <span ng-if="!term.isRootWord" ng-cloak>
                                       {{term.wordTransliteration}}
                                   </span>
                        <span class="related" ng-cloak ng-show="term.wordOriginal || term.diacritic">(<span
                                class="hindi">{{term.wordOriginal}}</span><span ng-show="term.wordOriginal && term.diacritic">, </span>{{term.diacritic}})</span>
                    </dt>
                    <dd class="word-meaning">
                        <div class="original-html-size" bind-dynamic-html='term.meaning'></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
