<div class="words-details header-with-carousel details">
    <ajab-shahar-header></ajab-shahar-header>
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="page-title">
                <span class="main">{{words[0].wordTransliteration}}</span>
            </div>
            <div class="page-title">
                <span class="sub-main">{{words[0].wordTranslation}}</span>
            </div>
        </div>
    </div>

    <div class="lower-pardah">
        <div class="carousel-wrapper jcarousel-wrapper" ng-show="showVersion && shouldShowReflections()">
            <div as-carousel class="carousel-box jcarousel">
                <ul>
                    <li ng-repeat="word in wordReflections.wordThumbnails track by $index">
                        <word-thumbnail id="{{word.id}}" transliteration="{{word.wordTransliteration}}"
                                        open="detailsService.openWord(word.id)" translation="{{word.wordTranslation}}"
                                        english-intro-excerpt="{{word.englishIntroExcerpt}}"
                                        custom-style="{{word.customStyle}}"
                                        img-src="https://yt3.ggpht.com/-JtqzFmOGDiI/AAAAAAAAAAI/AAAAAAAAAAA/McQLKmfBpqg/s900-c-k-no/photo.jpg"></word-thumbnail>
                    </li>
                    <li ng-repeat="reflection in wordReflections.reflections track by $index">
                        <reflection-thumbnail id="{{reflection.id}}" title="{{reflection.title}}"
                                              verb="{{reflection.verb}}"
                                              open="detailsService.openReflection(reflection.id)"
                                              speaker="{{reflection.speaker}}"></reflection-thumbnail>
                    </li>
                </ul>
                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
            </div>
        </div>
        <div class="see-more" ng-click="toggleVersion()">
            <a class="version" href="javascript:void(0)">
                intro + {{numberOfReflections}} reflections
                <span class="arrow" ng-class="showVersion ? 'up-arrow' : ''"></span>
            </a>
        </div>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div class="left-nav" scroll>
                    <ul>
                        <li><a href="javascript:void(0)" class="active ">word</a></li>
                        <li><a target="_self" href="/user/partials/common/underConstruction.html">explore</a></li>
                    </ul>
                </div>
                <div class="content-wrapper">
                    <div>
                        <h2 class="song-heading">{{currentWord.wordOriginal}}</h2>
                        <h2 class="song-heading">Song heading</h2>
                        <div class="lyrics">
                            <div bind-dynamic-html="currentWord.wordIntroEnglish"></div>
                        </div>
                    </div>
                    <div ng-show="showReflection">
                        <h2 class="song-heading">{{currentReflection.title}}</h2>

                        <div class="lyrics">
                            <reflection-content-details video-id="{{currentReflection.videoId}}"
                                                        audio-url="{{currentReflection.audioUrl}}"
                                                        id="{{currentReflection.id}}"
                                                        details-service="popupService"
                                                        transcript="{{currentReflection.text}}"></reflection-content-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
