<div class="words-details header-with-carousel details">
    <div class="ajab-wrapper">
        <div class="page-header">

            <div class="logo-container">
                <a href="/words/#/featuredContent" target="_self">
                    <span class="page-logo">words</span>
                </a>
            </div>
            <div class="page-title">
                <p>
                    <span class="main" ng-bind="wordDetails.wordTransliteration"></span>
                    <span class="sub-main" ng-bind="wordDetails.wordTranslation"></span>
                    <span ng-repeat="word in associatedWords">
                        <span class="header-translit-text" ng-cloak>{{word.wordTransliteration}}
                            <span class="header-translate-text" ng-cloak>
                                {{word.wordTranslation}}<span ng-hide="$last" class="comma-space">,  </span>
                            </span>
                        </span>

                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="lower-pardah" ng-class="{'no-pardah': !containsReflections() }">
        <div class="versions toggleBySlide" ng-show="shouldShowCarousel()">
            <carousel items="carouselItems" item-clicked="selectThumbnail" format="'transliteration'"></carousel>
        </div>
        <div class="see-more" ng-show="containsReflections()" ng-click="toggleCarousel()">
            <a class="version" href="javascript:void(0)" ng-cloak>
                <span ng-show="containsWordIntro">intro + </span> {{reflectionCount()}} reflection<span ng-show="reflectionCount() != 1">s</span>
                <span class="arrow" ng-class="shouldShowCarousel() ? 'up-arrow' : ''"></span>
            </a>
        </div>
    </div>
    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div>
                    <content-details ng-if="detailsObject" content="detailsObject"></content-details>
                </div>
            </div>
        </div>
    </div>
</div>