<div class="words-details header-with-carousel details">
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="logo-container">
                <a href="/user/partials/words/allWords.html" target="_self">
                    <span class="page-logo">words</span>
                </a>
            </div>
            <div class="page-title">
                <span class="main" ng-bind="wordDetails.wordTransliteration"></span>
                <span class="sub-main" ng-bind="wordDetails.wordTranslation"></span>

                <p class="title-related-words">
                    <span ng-repeat="word in associatedWords">
                        <span class="header-translit-text" ng-bind="word.wordTransliteration"></span>
                        <span class="header-translate-text" ng-bind="word.wordTranslation"></span>
                        <span ng-hide="$last">, </span>
                    </span>
               </p>
            </div>
        </div>
    </div>


    <div class="lower-pardah" ng-class="{'no-pardah': !containsReflections() }">

        <div class="versions toggleBySlide" ng-show="shouldShowCarousel()">
            <carousel items="carouselItems" item-clicked="selectThumbnail" format="'transliteration'"></carousel>
        </div>

        <div class="see-more" ng-click="toggleCarousel()">
            <a class="version" href="javascript:void(0)" >
                intro + {{reflectionCount()}} reflection<span ng-show="reflectionCount() != 1">s</span>
                <span class="arrow" ng-class="shouldShowCarousel() ? 'up-arrow' : ''"></span>
            </a>
        </div>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div class="left-nav" scroll>
                    <ul>
                        <li><a href="javascript:void(0)" class="active ">word</a></li>
                        <li><a target="_self" href="/user/partials/common/underConstruction.html">explore</a></li>
                    </ul>
                </div>
                <div class="content-wrapper">
                    <content-details ng-if="detailsObject" content="detailsObject"></content-details>
                </div>

                <div class="content-wrapper-bottom-image"></div>
            </div>
        </div>
    </div>
</div>

