<div class='headerBox ajab-container '>
    <div class='headerWrapper'>
        <header>
            <div class='logoContainer'>
                <img class='logo' src='img/common/logo.png'/>
            </div>
            <div class='menuContainer'>
                <ul class='topLine'>
                    <li class='selected'>English</li>
                    <li>हिन्दी</li>
                    <li title="Support an artist or Ajab Shahar">Support</li>
                    <li title='Take a tour of this city '>Map</li>
                    <li title='Our inspiration, team, funding…'>About</li>
                    <li title=''>Sign in</li>
                </ul>

                <ul class='firstLine'>
                    <li title='Songs from the oral traditions – Bhakti, Sufi, Baul…'><a href="/Links/Songs/SongsHomePage.html">Songs</a></li>
                    <li title='Pithy poems – dohas, saakhis, beyts, rekhtas…'><a href="/Links/Couplets/CoupletsHomePage.html">Couplets</a></li>
                    <li title='Explorations of key words and ideas in the poetry'><a href="/Links/Words/WordsHomePage.html">Words</a></li>
                </ul>
                <ul class='secondLine'>
                    <li title='Interviews and writings about the poetry'><a href="/Links/Reflections/ReflectionsHomePage.html">Reflections</a></li>
                    <li title='Meet with poets, singers, artists, scholars, seekers… '><a href="/Links/People/PeopleHomePage.html">People</a></li>
                    <li title='Enter the landscapes of song'><a href="/Links/UnderConstruction/UnderConstruction.html">Places</a></li>
                    <li title='Join a festival, concert, talk, satsang…'><a href="/Links/UnderConstruction/UnderConstruction.html">Gatherings</a></li>
                    <li title='Four musical travelogues exploring Kabir'><a href="/Links/UnderConstruction/UnderConstruction.html">Films</a></li>
                    <li title='Taking mystic poetry to students '><a href="/Links/UnderConstruction/UnderConstruction.html">Classroom</a></li>
                </ul>
                <ul class='thirdLine'>
                    <li title='Bhakti, Sufi and Baul poets in Ajab Shahar'><a href="/Links/UnderConstruction/UnderConstruction.html">Poets</a></li>
                    <li title='Playlists of music from Ajab Shahar '><a href="/Links/UnderConstruction/UnderConstruction.html">Radio</a></li>
                    <li title='String couplets on the thread of a word'><a href="/Links/UnderConstruction/UnderConstruction.html">String</a></li>
                    <li title='Visual expressions of mystic poetry'><a href="/Links/UnderConstruction/UnderConstruction.html">Glimpse</a></li>
                    <li title='Share a song, thought, idea, artwork or start a discussion'><a href="/Links/UnderConstruction/UnderConstruction.html">Participate</a></li>
                    <li class='searchBox'>
                        <input class='searchField' placeholder='Search'/>
                    </li>
                </ul>
            </div>

        </header>
    </div>
    <div class='headerArt'></div>
</div>