<div class="media-introduction word">
    <div id="content-wrapper">
        <div class="content-bg">
            <h3 class="context">{{wordTransliteration}} {{wordTranslation}}</h3>
            <h5 class="artistName">
                <small>Introduction by</small>
                <span class="selected">{{people}}</span>
                <!--<span class="selected">Vipul Rikhi</span>-->
                <small>, Ajab Shahar Team</small>
            </h5>
            <div bind-dynamic-html="wordIntroEnglish" class="lightbx-text-content">
            </div>
        </div>
    </div>
    <div class="mediaFooter">
        <h3 class='infoText'>For reflections, related songs, related poems and more enter
            <a href="/user/js/words/#/details/{{id}}">WORD</a>
            or see
            <a href="/user/js/words/#/glossary">ALL WORDS</a>
        </h3>

        <div class="creditCont">
            <div class="creditBox" ng-repeat="writer in writers"><span
                    class="selected ng-binding">{{writer.name}}</span> {{writer.primaryOccupation}}
            </div>
        </div>
    </div>
</div>