<div class="thumbnailWrapper">
    <div class="thumbnail-desc" ng-mouseEnter="showStaticText = true" ng-mouseleave="showStaticText = false">
        <div class="title">
            <a ng-href="{{wordDetailUrl}}">{{primaryTitle}}</a>
        </div>
        <div class="sub-title">
            <a ng-href="{{wordDetailUrl}}">{{secondaryTitle}}</a>
        </div>

        <a ng-href="{{wordDetailUrl}}">
            <div class="show-desc" ng-show="showStaticText">
                <div class="bubble">
                    <div bind-dynamic-html="transliterationIntro"></div>
                    <div class="more-info">For Intro & Reflections enter <a ng-href="{{wordDetailUrl}}"
                                                                            class="selected">WORD</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
