<div class="media-introduction word">

    <!--<h3 class="context"></h3>-->

    <div id="content-wrapper">
        <div class="content-bg">
            <h3 class="context">{{wordTransliteration}} {{wordTranslation}}</h3>
            <h5 class="artistName">
                <small>Introduction by</small>
                <span class="selected">{{people}}</span>
                <small ng-show="displayAjabShaharTeam">, Ajab Shahar Team</small>
            </h5>
            <div bind-dynamic-html="wordIntroEnglish" class="lightbx-text-content">
            </div>
        </div>
    </div>

    <div class="mediaFooter">
        <h3 class='infoText'>For reflections, related songs, related poems and more enter
            <a href="/user/js/words/#/details/{{id}}">WORD</a>
        </h3>

        <div class="creditCont">
            <div class="creditBox"><span class="selected ng-binding">Roshik</span> POET</div>
            <div class="creditBox"><span class="selected ng-binding">Mooralala Marwada</span> SINGER</div>
            <div class="creditBox"><span class="selected ng-binding"></span></div>
            <br>

            <div class="creditBox"><span class="selected ng-binding"></span></div>
            <div class="creditBox"><span class="selected ng-binding"></span></div>
            <div class="creditBox"><span class="selected ng-binding"></span></div>
        </div>
    </div>

</div>
