<div class="media-introduction word">
    <div id="content-wrapper">
        <div class="content-bg">
            <div class="header">
                <h3 class="title-pink">{{wordTransliteration}} </h3>
                <span>{{wordTranslation}}</span>
                <h5 class="artistName">
                    <small>Introduction by {{people}} <span ng-show="displayAjabShaharTeam">, Ajab Shahar Team.</span></small>
                </h5>
            </div>
            <div bind-dynamic-html="wordIntroEnglish" class="lightbx-text-content">
            </div>
        </div>
    </div>
    <div class="mediaFooter">
        <h3 class='infoText'>For related reflections enter
            <a href="/user/js/words/#/details/{{id}}">WORD</a>
            or see
            <a href="/user/js/words/#/glossary">ALL WORDS</a>
        </h3>

        <div class="creditCont">
            <div class="creditBox" ng-repeat="writer in writers"><span
                    class="title-dark ng-binding">{{writer.name}}</span> {{writer.primaryOccupation}}
            </div>
        </div>
    </div>
</div>