<div class="thumbnailWrapper">
    <div class="thumbnail-desc" ng-mouseEnter="showStaticText = true" ng-mouseleave="showStaticText = false">
        <div class="title" ng-cloak>
            <a ng-href="{{wordDetailUrl}}" target="_self">{{primaryTitle}}</a>
        </div>
        <div class="sub-title" ng-cloak>
            <a ng-href="{{wordDetailUrl}}" target="_self">{{secondaryTitle}}</a>
        </div>

        <a ng-href="{{wordDetailUrl}}" target="_self">
            <div class="show-desc" ng-show="showStaticText">
                <div class="bubble">
                    <div class="original-html-size" bind-dynamic-html="transliterationIntro"></div>
                    <div class="more-info">For Intro & Reflections enter <a ng-href="{{wordDetailUrl}}"
                                                                            class="selected">WORD</a>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
