<!doctype html>
<html lang="en" ng-app="allSongsApp">
<head>
    <meta charset="utf-8">
    <title>Songs Details Page</title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/angular-animate/angular-animate.min.js"></script>
    <script src="../../lib/underscore/underscore.js"></script>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/songs/introduction.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../js/common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../js/common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/songs/songDetailsApp.js"></script>
    <script type="text/javascript" src="../../js/songs/controllers/songDetailsController.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../js/common/services/songThumbnailService.js"></script>
    <script type="text/javascript" src="../../js/common/directives/header/sticky.js"></script>
    <script type="text/javascript" src="../../js/common/directives/carouselSupport/carousel.js"></script>
    <link href="../../css/common/header.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">
    <link href="../../css/carouselSupport/carousel.css" rel="stylesheet" type="text/css">
    <link href="../../css/carouselSupport/carouselAnimation.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="songDetailsController" class="page-songs">
    <ajab-shahar-header></ajab-shahar-header>

<div class='ajab-container'>
    <div class='ajab-wrapper'>
    <carousel>
        <section id="one">
            <ul class='ajab-ribbon'>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
            </ul>
        </section>
         <section id="one">
            <ul class='ajab-ribbon'>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
                <li><song-with-details open="showDetails('song_1')" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details></li>
            </ul>
        </section>
     
    </carousel>
</div>
</div>


</body>
</html>