<!doctype html>
<html lang="en" ng-app="mainLandingPageApp">
<head>
    <meta charset="utf-8">
    <title>Songs Landing Page</title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/underscore/underscore.js"></script>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/couplet.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/film.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/gathering.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/reflection.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/unknown.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/word.js"></script>
    <script type="text/javascript" src="../../js/common/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../js/common/directives/common/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/app.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/thumbnailService.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/introductionPopupService.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/controllers/songsController.js"></script>
    <script type="text/javascript" src="../../js/common/directives/common/sticky.js"></script>
    <link href="../../css/common/header.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/popup.css" rel="stylesheet" type="text/css">


</head>
<body ng-controller="songsController">
<ajab-shahar-header should-expand-by-default="true"></ajab-shahar-header>

<!-- thumbnail and middle content starts -->
<div class='ajab-container'>
    <div class='ajab-wrapper'>
        <div class='homepage-content'>
            <div bind-unsafe-html="getLandingPageThumbnails()"></div>
        </div>
    </div>
</div>
<!-- thumbnail and middle content starts -->

<div ng-include src="'../common/footer.html'"></div>

</body>
</html>