<div class="thumbnailWrapper">
    <div class="thumbnail {{customStyle}}">
        <div class="thumbnailVideo">
            <img src="{{imgSrc}}"/>
        </div>
        <div class="thumbnailDesc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()" ng-click="open()">
            <h3 class="selected" >{{name}}</h3>
            <small>sings {{singer|uppercase}}</small>
            <div ng-show="shouldShowDetails">
                <small>Poet {{poet|uppercase}}</small><br>
                <small class="play">{{categoryName}}</small><small> {{duration}}</small>
            </div>
        </div>

        <pop-up overlay-id="{{overlayId}}" width="100" show="shouldBeOpen" on-close="onClose()" closeButton="true">
            <img src="{{imgSrc}}"/>
        </pop-up>
    </div>
</div>
