<div class="thumbnailWrapper" ng-click="open('{{overlayId}}')">
    <div class="thumbnail {{customStyle}}">
        <div class="thumbnailVideo">
            <img src="{{imgSrc}}"/>
        </div>
        <div class="thumbnailDesc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="selected" >{{name}}</h3>
            <small>sings {{singer|uppercase}}</small>

            <div ng-show="shouldShowDetails" class='shouldShowDetails'>
                <small class="poetDetails">Poet {{poet|uppercase}}</small>
                <div class='categoryDetails'>
                <small class="categoryName">{{categoryName}}</small>
                <small class="play">{{duration}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
