$tab-portrait: new-breakpoint(min-width 768px);
$tab-landscape: new-breakpoint(min-width 1024px);
$desktop: new-breakpoint(min-width 1025px);

.thumbnails-grid {
    .media-list {
        @include outer-container;

        .media {
            min-height: 250px;

            @include span-columns(12);

            @include media($tab-portrait) {
              @include span-columns(6);
              margin-right: 1%; // TBD: hack for tab portrait
            }

            @include media($tab-landscape) {
              @include span-columns(4);
            }

            @include media($desktop) {
              @include span-columns(3);
            }
        }
    }
}
