.page-header-with-logo {
        width: 100%;
        padding: 20px 0 0;
        display: inline-block;

        .logo-container {
            width: 85px;
            &>a {
                background: transparent url(../../user-img/songs/songs_logo.png) center center no-repeat;
                width: inherit;
                height: 55px;
                float: left;
                clear: both;
                padding: 30px 0 0 0;
                color: #999;
                font-family: 'Merriweather';
                font-size: 18px;
                font-weight: 300;
            }
        }
        .sub-info {
            width: inherit;

            .number {
                font-size: 14px;
                color: #999;
                border-bottom: solid 1px #d3135a;
                padding: 5px;
            }
            .all-link {
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                padding-top: 5px;
                display: inline-block;
                line-height: 27px;
            }
        }
 }