#intellij idea
.sass-cache/
.idea
.DS_Store
platform.iml
target
test-results.xml
dependency-reduced-pom.xml
src/main/resources/assets/npm-debug.log
src/main/resources/assets/app/user/css/ajabShahar.css
node_modules/
.gradle/
AjabShahar.iml
AjabShahar.ipr
AjabShahar.iws
*.db
dist
**/ajabShahar.css
web/app/common/lib
web/app/coverage
**/coverage
*.log
*.iml
gradle*

.classpath
.project
*.atxa
.settings