<div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            Search: <input ng-model="query">
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <ul class="list-unstyled">
                <li ng-repeat= "phone in phones | filter:query" class="" ng-controller='ItemController'>
                    <a href="#/phones/{{phone.id}}" class="h3">{{phone.name}}</a>
                    <div rating></div>
                    <blockquote>
                        <p class="lead">{{phone.snippet}}</p>
                    </blockquote>
                    <label>Rating: {{phone.rating}}</label>
                    </li>
                </ul>
            </div>
        </div>
