<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Testing Page</title>
    <link rel="stylesheet" type="text/css" href="../lib/angular-socialshare/angular-socialshare.css">

    <script src="../lib/angular/angular.js"></script>
    <script src="../js/common/directives/socialMedia/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script src="../lib/angular-socialshare/angular-socialshare.js"></script>
    <script type="text/javascript" src="../js/Test/app.js"></script>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="test">
            <div facebook class="facebookShare" data-url='{{url}}' data-shares='shares'></div>

            <a twitter  data-lang="en" data-count='horizontal' data-url='{{url}}' data-via='notsosleepy' data-size="medium" data-text='Testing Twitter Share' ></a>

            <div pintrest data-href='{{url}}' data-description='testing share' data-pin-do='buttonPin' data-pin-config='beside'></div>

        </div>
    </div>
</body>
</html>