<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Testing Page</title>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="../common/lib/jquery/dist/jquery.js"></script>

    <script src="../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../user/js/Test/SoundCloud/app.js"></script>
    <script type="text/javascript" src="../user/js/Test/SoundCloud/controllers/soundCloudController.js"></script>

</head>
<body ng-app="soundCloudApp">
    <div ng-controller="soundCloudController">
        <input type="button" id="loadTracks" class="button big" value="Get hottest track" ng-click="loadTrack()"/>
        <div id="track"></div>

        <button class="play" ng-click="playTracks()">Play the music</button>

        <button class="pause" ng-click="pauseTrack()">Pause</button>
    </div>
</body>
</html>