<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Testing Page</title>
    <script src="../lib/angular/angular.js"></script>
    <script type="text/javascript" async="true" src="//connect.facebook.net/en_US/all.js" id="facebook-jssdk"></script>
    <script type="text/javascript" src="../js/common/directives/socialMedia/fb.js"></script>
    <script type="text/javascript" src="../js/Test/app.js"></script>
</head>
<body>
    <div ng-app="myApp">
        <facebook-like share=true></facebook-like>
    </div>
</body>
</html>