.accordion-container {
    position: relative;
}

.accordion.in {
   max-height: 0px;
   overflow: hidden;
   transition: max-height 1s linear;
}

.accordion.out {
    max-height: 1000px;
    transition: max-height 1s linear;
}