<!doctype html>
<html lang="en" ng-app="editorsChoiceApp">
<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <script type="text/javascript" src="../js/common/directives/soundCloud/sdk.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/api.js"></script>
    <script src="../../common/lib/angular/angular.js"></script>
    <script src="../../common/lib/underscore/underscore.js"></script>
    <script src="../../common/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../common/lib/angular-socialshare/angular-socialshare.css">
    <script src="../js/common/directives/socialMedia/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script src="../../common/lib/angular-socialshare/angular-socialshare.js"></script>
    <script type="text/javascript" src="../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../js/common/directives/popupSupport/popupMapper.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/songThumbnailMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/introduction/songIntroductionMapper.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/word.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/wordMapper.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/couplet.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/coupletThumbnailMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/introduction/coupletIntroductionMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/film.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/gathering.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/reflection.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/unknown.js"></script>
    <script type="text/javascript" src="../js/common/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="../js/jquery.stellar.js"></script>

    <script type="text/javascript" src="../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/couplets/coupletIntroduction.js"></script>

    <script type="text/javascript" src="../js/common/directives/songs/songIntroduction.js"></script>

    <script type="text/javascript" src="../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../common/directives/animation/animationModule.js"></script>
    <script type="text/javascript" src="../../common/directives/animation/toggleBySlide.js"></script>
    <script type="text/javascript" src="../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../js/EditorsChoice/services/contentService.js"></script>
    <script type="text/javascript" src="../js/common/services/popupService.js"></script>

    <script type="text/javascript" src="../js/EditorsChoice/app.js"></script>

    <script type="text/javascript" src="../js/EditorsChoice/controllers/soundCloudController.js"></script>
    <script type="text/javascript" src="../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../js/EditorsChoice/controllers/mainEditorsChoiceController.js"></script>
    <script type="text/javascript" src="../../common/directives/header/sticky.js"></script>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <!--<link href="../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">-->
    <link href="../css/thumbnails.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainEditorsChoiceController">
    <ajab-shahar-header show-menu-details="true" call-back="setPageHeight()"></ajab-shahar-header>

<div class='mainContentWrapper'>

    <!-- parallax effect starts -->
    <div class='parallax-container'>
        <div class='pxLayers px-layer1' data-name='body' data-stellar-background-ratio="1"></div>
        <div class='pxLayers px-layer2' data-name='map' data-stellar-background-ratio="3"></div>
        <div class='pxLayers px-layer3' data-name='water' data-stellar-background-ratio="1"></div>
        <div class='pxLayers px-layer5' data-name='bird'></div>
        <div class='pxLayers px-layer6' data-name='clouds'></div>
    </div>
    <!-- parallax effect ends -->
    <!-- thumbnail and middle content starts -->
    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class='homepage-content'>
                <div ng-repeat="song in thumbnailDetails.songs | limitTo: 9">
                    <song-thumbnail-mapper details="song" show-details-service="detailsService" custom-style="{{getSongCustomStyle(song)}}"/>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="song in thumbnailDetails.songs | limitTo: 9">
        <song-introduction-mapper total-count="9" index="{{$index}}" details="song" show-details-service="detailsService"/>
    </div>
</div>

    <div ng-include src="'common/footer.html'"></div>
    <script type="text/javascript">
        $.stellar({
            horizontalScrolling: false,
            responsive: true
          });
    </script>
</body>
</html>