<!doctype html>
<html lang="en" ng-app="glossaryApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Glossary</title>
    <!--<link rel="stylesheet" type="text/css" href="../../common/lib/angular-socialshare/angular-socialshare.css">-->
    <!--<link href="../user-css/common/directives/header/header.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../user-css/common/directives/footer/footer.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../user-css/common/directives/popup.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../user-css/common/directives/introduction.css" rel="stylesheet" type="text/css">-->
    <!--<link href="../user-css/pages/glossary.css" rel="stylesheet" type="text/css">-->
    <!--<link rel="stylesheet" href="../user-css/jquery.jscrollpane.css"/>-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/lohitdevanagari.css" />

    <link rel="stylesheet" type="text/css" href="/user-css/ajabShahar.css" />

    <body ng-controller="glossaryController">

        <div class="ajab_container" id="glossary_page">
            <ajab-shahar-header></ajab-shahar-header>
               <div class="ajab-wrapper">
                   <div class="page-header">
                       <div class="logo-container">
                           <a href="javascript:void(0)" target="_self">
                               <span class="page-logo">glossary</span>
                           </a>
                       </div>

                   </div>

                   <div class="content-wrapper">
                       <div class="pagination-head">
                           <div class="upper">
                               <span class="numeric-count">{{numberOfTerms}} words</span>
                           </div>
                       </div>

                       <div ng-repeat="term in glossary">
                           <dl>
                               <dt class="word-title" ng-class="term.isRootWord ? 'root-word' : ''" ng-click="open('{{term.id}}')">
                                   <span ng-if="term.isRootWord">
                                       <a href="/words/details.html?id={{term.id}}" >{{term.wordTransliteration}}</a>
                                   </span>
                                   <span ng-if="!term.isRootWord">
                                       {{term.wordTransliteration}}
                                   </span>
                                   <span class="related">(<span class="hindi">{{term.wordOriginal}}</span>, {{term.diacritic}})</span>
                               </dt>
                               <dd class="word-meaning">
                                   <div bind-dynamic-html='term.meaning'></div>
                               </dd>
                           </dl>
                       </div>
                   </div>
               </div>
        </div>
        <!--<ajab-shahar-footer></ajab-shahar-footer>-->


        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/sdk.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/api.js"></script>-->
        <script type="text/javascript" src="../../common/lib/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="../../common/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular-touch/angular-touch.min.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/socialMedia/widgets.js"></script>
        <!--<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>-->
        <!--<script type="text/javascript" src="../../common/lib/angular-socialshare/angular-socialshare.js"></script>-->
        <script type="text/javascript" src="../user-js/common/directives/animation/animationModule.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/animation/toggleBySlide.js"></script>
        <!--<script type="text/javascript" src="../user-js/common/modules/thumbnailModule.js"></script>-->
        <script type="text/javascript" src="../user-js/common/modules/PopupSupport.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/popupSupport/popup.js"></script>
        <!--<script type="text/javascript" src="../user-js/angular-jscrollpane.min.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/jquery.mousewheel.js"></script>-->

        <!--<script type="text/javascript" src="../user-js/common/directives/songs/songThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/words/wordThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/coupletThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/filmThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/gatheringThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/reflections/reflectionThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/scrollability.min.js"></script>-->
        <script type="text/javascript" src="../user-js/jquery.stellar.js"></script>
        <script type="text/javascript" src="../user-js/landingPage.js"></script>

        <!--<script type="text/javascript" src="../user-js/common/modules/mediaPlayer.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/soundcloud_player.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/youtube/youtube_player.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/couplets/coupletIntroduction.js"></script>-->

        <!--<script type="text/javascript" src="../user-js/common/directives/songs/songOverview.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/words/wordOverview.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/reflections/reflectionOverview.js"></script>-->

        <script type="text/javascript" src="../user-js/common/config/resourceUrlWhiteList.js"></script>
        <script type="text/javascript" src="../user-js/common/modules/headerModule.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/header/ajabShaharHeader.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/footer/ajabShaharFooter.js"></script>
        <script type="text/javascript" src="../user-js/featuredContent/services/contentService.js"></script>
        <!--<script type="text/javascript" src="../user-js/songs/services/songMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/words/services/wordMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/reflections/services/reflectionMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/mappers.js"></script>-->
        <script type="text/javascript" src="../user-js/common/services/popupService.js"></script>

        <script type="text/javascript" src="../../user-js/common/bindDynamicHtml.js"></script>
        <script type="text/javascript" src="../user-js/featuredContent/app.js"></script>

        <script type="text/javascript" src="../user-js/common/modules/htmlGenerator.js"></script>
        <!--<script type="text/javascript" src="../user-js/featuredContent/controllers/featuredContentController.js"></script>-->
        <script type="text/javascript" src="../user-js/common/directives/header/sticky.js"></script>
        <!--<script type="text/javascript" src="../user-js/common/modules/lazyLoadModule.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/lazyload/lazyload.js"></script>-->

        <script type="text/javascript" src="../user-js/featuredContent/services/contentService.js"></script>
        <script type="text/javascript" src="../user-js/featuredContent/glossaryApp.js"></script>
        <script type="text/javascript" src="../user-js/words/controllers/glossaryController.js"></script>

        <div id="loader_wrapper"><span></span></div>
    </body>
</html>