<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Glossary</title>
    <!--<link rel="stylesheet" type="text/css" href="../../common/lib/angular-socialshare/angular-socialshare.css">-->
    <link href="../user-css/common/directives/header/header.css" rel="stylesheet" type="text/css">
    <link href="../user-css/common/directives/footer/footer.css" rel="stylesheet" type="text/css">
    <link href="../user-css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../user-css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../user-css/pages/glossary.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="../user-css/jquery.jscrollpane.css"/>-->

    <body>
        <!--<ajab-shahar-header show-menu-details="true" call-back="setPageHeight()"></ajab-shahar-header>-->

        <div class="ajab_container" id="glossary_page">
               <div class="ajab-wrapper">
                   <div class="logo-container">
                       <a href="javascript:void(0)" target="_self">
                           <span class="page-logo">glossary</span>
                       </a>
                   </div>

                   <div class="content-wrapper">
                       <div class="pagination-head">
                           <div class="upper">
                                <span class="numeric-count">20 words</span>
                           </div>
                       </div>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                       <dl>
                           <dt class="word-title">
                               Agam Nigam
                               <span class="related">(<span class="hindi">अगम निगम</span>, agam nigam) n.</span>
                           </dt>
                           <dd class="word-meaning">
                               <p>
                                   Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                   dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                   nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                   quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                   nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                   justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                                   Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                   porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                   viverra quis, feugiat a, tellus.
                               </p>
                               <p>
                                   Phasellus viverra nulla ut metus varius laoreet.
                                   Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
                                   ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                                   eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                   ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                                   nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
                                   Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                   fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo
                                   eget bibendum sodales, augue velit cursus nunc,
                               </p>
                           </dd>
                       </dl>
                   </div>
               </div>
        </div>
        <!--<ajab-shahar-footer></ajab-shahar-footer>-->


        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/sdk.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/api.js"></script>-->
        <script type="text/javascript" src="../../common/lib/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="../../common/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="../../common/lib/angular-touch/angular-touch.min.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/socialMedia/widgets.js"></script>
        <!--<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>-->
        <!--<script type="text/javascript" src="../../common/lib/angular-socialshare/angular-socialshare.js"></script>-->
        <script type="text/javascript" src="../user-js/common/directives/animation/animationModule.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/animation/toggleBySlide.js"></script>
        <!--<script type="text/javascript" src="../user-js/common/modules/thumbnailModule.js"></script>-->
        <script type="text/javascript" src="../user-js/common/modules/PopupSupport.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/popupSupport/popup.js"></script>
        <!--<script type="text/javascript" src="../user-js/angular-jscrollpane.min.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/jquery.mousewheel.js"></script>-->

        <!--<script type="text/javascript" src="../user-js/common/directives/songs/songThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/words/wordThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/coupletThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/filmThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/thumbnail/gatheringThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/reflections/reflectionThumbnail.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/scrollability.min.js"></script>-->
        <script type="text/javascript" src="../user-js/jquery.stellar.js"></script>
        <script type="text/javascript" src="../user-js/jquery.lazyload.js"></script>
        <script type="text/javascript" src="../user-js/landingPage.js"></script>

        <!--<script type="text/javascript" src="../user-js/common/modules/mediaPlayer.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/soundCloud/soundcloud_player.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/youtube/youtube_player.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/couplets/coupletIntroduction.js"></script>-->

        <!--<script type="text/javascript" src="../user-js/common/directives/songs/songOverview.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/words/wordOverview.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/reflections/reflectionOverview.js"></script>-->

        <script type="text/javascript" src="../user-js/common/config/resourceUrlWhiteList.js"></script>
        <script type="text/javascript" src="../user-js/common/modules/headerModule.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/header/ajabShaharHeader.js"></script>
        <script type="text/javascript" src="../user-js/common/directives/footer/ajabShaharFooter.js"></script>
        <script type="text/javascript" src="../user-js/featuredContent/services/contentService.js"></script>
        <!--<script type="text/javascript" src="../user-js/songs/services/songMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/words/services/wordMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/reflections/services/reflectionMapper.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/mappers.js"></script>-->
        <script type="text/javascript" src="../user-js/common/services/popupService.js"></script>

        <script type="text/javascript" src="../../user-js/common/bindDynamicHtml.js"></script>
        <script type="text/javascript" src="../user-js/featuredContent/app.js"></script>

        <script type="text/javascript" src="../user-js/common/modules/htmlGenerator.js"></script>
        <!--<script type="text/javascript" src="../user-js/featuredContent/controllers/featuredContentController.js"></script>-->
        <script type="text/javascript" src="../user-js/common/directives/header/sticky.js"></script>
        <!--<script type="text/javascript" src="../user-js/common/modules/lazyLoadModule.js"></script>-->
        <!--<script type="text/javascript" src="../user-js/common/directives/lazyload/lazyload.js"></script>-->

        <div id="loader_wrapper"><span></span></div>
    </body>
</html>