<!doctype html>
<html lang="en" ng-app="landingPagesApp">
<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <script type="text/javascript" src="../js/common/directives/soundCloud/sdk.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/api.js"></script>
    <script src="../../common/lib/angular/angular.js"></script>
    <script src="../../common/lib/underscore/underscore.js"></script>
    <script src="../../common/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../common/lib/angular-socialshare/angular-socialshare.css">
    <script src="../js/common/directives/socialMedia/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script src="../../common/lib/angular-socialshare/angular-socialshare.js"></script>
    <script type="text/javascript" src="../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../js/common/directives/popupSupport/popup.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/songMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/introduction/songIntroductionMapper.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/word.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/wordMapper.js"></script>

    <script type="text/javascript" src="../js/common/directives/thumbnail/couplet.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/coupletMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/mappers/introduction/coupletIntroductionMapper.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/film.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/gathering.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/reflection.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/unknown.js"></script>
    <script type="text/javascript" src="../js/common/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/couplets/coupletIntroduction.js"></script>

    <script type="text/javascript" src="../js/common/directives/songs/songIntroduction.js"></script>

    <script type="text/javascript" src="../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../js/common/services/popupService.js"></script>

    <script type="text/javascript" src="../js/LandingPages/app.js"></script>

    <script type="text/javascript" src="../js/LandingPages/controllers/soundCloudController.js"></script>
    <script type="text/javascript" src="../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../js/LandingPages/controllers/mainLandingPageController.js"></script>
    <script type="text/javascript" src="../../common/directives/header/sticky.js"></script>
    <link href="../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainLandingPageController">
    <ajab-shahar-header show-menu-details="true" call-back="setPageHeight()"></ajab-shahar-header>

<div class='mainContentWrapper'>

    <!-- parallax effect starts -->
    <div class='parallax-container'>
        <div class='pxLayers px-layer1' data-name='body'></div>
        <div class='pxLayers px-layer2' data-name='map' parallax-background parallax-ratio="1"></div>
        <div class='pxLayers px-layer3' data-name='water'></div>
        <div class='pxLayers px-layer3' data-name='water'></div>
        <div class='pxLayers px-layer4' data-name='riverlines'></div>
        <div class='pxLayers px-layer5' data-name='bird'></div>
        <div class='pxLayers px-layer6' data-name='clouds'></div>
        <div class='pxLayers px-layer7' data-name='whitestring'></div>
        <div class='pxLayers px-layer8' data-name='hinditext'></div>
    </div>
    <!-- parallax effect ends -->
    <!-- thumbnail and middle content starts -->
    <div ng-repeat="song in thumbnailDetails.songs | limitTo: 5">
        <song-introduction-mapper index="{{$index}}" details="song" show-details-service="detailsService"/>
    </div>

    <div ng-repeat="couplet in thumbnailDetails.couplets | limitTo: 5">
        <couplet-introduction-mapper details="couplet" show-details-service="detailsService"/>
    </div>

    <div ng-repeat="word in thumbnailDetails.words | limitTo: 5">
        <word-introduction-mapper details="word" show-details-service="detailsService"/>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class='homepage-content'>
                <div ng-repeat="song in thumbnailDetails.songs | limitTo: 5">
                    <song-mapper details="song" show-details-service="detailsService" custom-style="{{getSongCustomStyle(song)}}"/>
                </div>
                <div ng-repeat="couplet in thumbnailDetails.couplets | limitTo: 5">
                    <couplet-mapper details="couplet" show-details-service="detailsService" custom-style="{{getCoupletCustomStyle(couplet)}}"/>
                </div>
                <div ng-repeat="word in thumbnailDetails.words | limitTo: 5">
                    <word-mapper details="word" show-details-service="detailsService" custom-style="{{getWordCustomStyle(word)}}"/>
                </div>
            </div>
        </div>
    </div>

</div>

    <div ng-include src="'common/footer.html'"></div>

</body>
</html>