<!doctype html>
<html lang="en" ng-app="landingPagesApp">
<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <script type="text/javascript" src="../js/common/directives/soundCloud/sdk.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/api.js"></script>
    <script src="../../common/lib/angular/angular.js"></script>
    <script src="../../common/lib/underscore/underscore.js"></script>
    <script src="../../common/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/couplet.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/film.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/gathering.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/reflection.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/unknown.js"></script>
    <script type="text/javascript" src="../js/common/directives/thumbnail/word.js"></script>
    <script type="text/javascript" src="../js/common/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../js/common/directives/couplets/introduction.js"></script>
    <script type="text/javascript" src="../js/common/directives/songs/introduction.js"></script>
    <script type="text/javascript" src="../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../js/common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../js/common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../js/common/services/popupService.js"></script>
    <script type="text/javascript" src="../js/LandingPages/app.js"></script>
    <script type="text/javascript" src="../js/LandingPages/controllers/soundCloudController.js"></script>
    <script type="text/javascript" src="../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../js/common/services/coupletThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/filmThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/gatheringThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/reflectionThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/songThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/wordThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/mainLandingPageThumbnailService.js"></script>
    <script type="text/javascript" src="../js/common/services/introductionPopupService.js"></script>
    <script type="text/javascript" src="../js/LandingPages/controllers/mainLandingPageController.js"></script>
    <script type="text/javascript" src="../../user/js/common/directives/header/sticky.js"></script>
    <link href="../css/common/header.css" rel="stylesheet" type="text/css">
    <link href="../css/common/footer.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainLandingPageController">
    <ajab-shahar-header show-menu-content="true" call-back="setPageHeight()"></ajab-shahar-header>

    <!-- parallax effect starts -->
    <div class='parallax-container'>
        <div class='pxLayers px-layer1' data-name='body'></div>
        <div class='pxLayers px-layer2' data-name='map' parallax-background parallax-ratio="1"></div>
        <div class='pxLayers px-layer3' data-name='water'></div>
        <div class='pxLayers px-layer3' data-name='water'></div>
        <div class='pxLayers px-layer4' data-name='riverlines'></div>
        <div class='pxLayers px-layer5' data-name='bird'></div>
        <div class='pxLayers px-layer6' data-name='clouds'></div>
        <div class='pxLayers px-layer7' data-name='whitestring'></div>
        <div class='pxLayers px-layer8' data-name='hinditext'></div>
    </div>
    <!-- parallax effect ends -->
    <!-- thumbnail and middle content starts -->
    <div bind-unsafe-html="popupContent"></div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class='homepage-content'>
                <div bind-unsafe-html="thumbnailContent"></div>
            </div>
        </div>
    </div>

    <!--<div bind-unsafe-html="getPopupDetails()"></div>-->

    <!-- thumbnail and middle content starts -->

    <div ng-include src="'common/footer.html'"></div>

</body>
</html>