.carousel-container {
position: relative;
height: 500px;
width: 880px;
display: inline-block;
float: left;
}

.carousel-arrows{
  width:45px;float: left;
}

.carousel-animation.ng-hide-remove,
.carousel-animation.ng-hide-add {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  -ms-transition:0.5s linear all;
  transition:0.5s linear all;
  height:500px;

  position:absolute;
  top:0;
  left:0;
  right:0;
  opacity: 1;
}

.carousel-animation.ng-hide-remove {
  left:100%;
  opacity:0;
}

.carousel-animation.ng-hide-add,
.carousel-animation.ng-hide-remove.ng-hide-remove-active {
  left:0;
}

.carousel-animation.ng-hide-add.ng-hide-add-active {
  left:-100%;
}
