.carousel-container {
position: relative;
height: 30%;
width: 90%;
display: inline-block;
float: left;
}

.slider {
    width: 800px;
    height: 200px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}
