<div class="grid-layout ng-scope reflections">


<div class="ajab-container headerfixOuter">
    <!--<song-filter songs="songs" song-count="songCount" on-clear-filter="clearFilters()" active-letter="activeLetter" poet-name-in-filter="poetNameInFilter" singer-name-in-filter="singerNameInFilter"></song-filter>-->
    <div class='logo-with-filter headerfixInner'>
        <div class='nav-elements-wrapper'>
            <h1 class='category-logo'>reflections</h1>
            <a href="javascript:void(0);" class="filter-button" ng-click="toggleExpandFilter()" >Filter <span
                    class="collapse expand"></span></a>
        </div>
    </div>
    <div class="ajab-wrapper">
        <div class="slide-nav-list " ng-show="expandFilter" on-click-outside="closeSecondParda()">
            <!--first layer pardah-->

            <div class="first-layer-list">
                <ul class='filters'>
                    <li class='head'>Filter by</li>
                    <li>
                        <a href="javascript:void(0)"  title="writers or speakers who have reflected on a song, poem or idea" class="disable">speaker</a>
                        <div class="child-list" >
                            <span>Lalit Lalit<a>x</a></span>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="words, metaphors or ideas in or about mystic poetry" ng-click="openParda()">word</a>
                        <div class="child-list">

                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" title="reflections on various poets" class="disable">poet</a>
                        <div class="child-list">
                            <span>Roshan Lal<a>x</a></span>
                        </div>
                    </li>

                    <li class="reset-image"><a class="reset" ng-click="resetFilters()">reset</a></li>
                </ul>
            </div>

            <!--Pardah 2-->

            <div class="second-layer-list" ng-show="openSecondParda">
                <div class="overlay">
                    <ul>


                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>

                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>

                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>

                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>

                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>

                        <li class="list-item ng-scope">
                            <a href="javascript:void(0)">
                                <div class="child-list-item-value ">Akath katha</div>
                                <div class="child-list-item-value ">Lotus</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>



        <div class='grid-view'>

            <div class='pagination-head'>
                <div class="upper">

                    <!--<div ng-transclude></div>-->
                    <span class='numeric-count'>11 REFLECTIONS</span>
                </div>


            </div>


            <div class='grid-wrapper'>
                <div class="thumbnails-grid">
                    <ul class="media-list">
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <p class="categoryName">REFLECTION
                                                    <small class="more-info">T</small>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play-audio">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play-audio">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="play">05:10</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="thumbnail reflections" id="6" content-id="song_6" open="open" custom-style="" >
                                <div class="image">
                                    <img src="/user/img/songs/sample-img.png">
                                </div>
                                <div class="bubble">
                                    <div class="summary">
                                        <h3 class="title">We need Kabir today</h3>
                                        <h4 class="en-title">reflects <span class="author">Latif bolat</span></h4>

                                        <div class="thumbnailDetails toggleBySlide">
                                            <small class="intro">The nectar of heaven has been has been a familiar metaphor in many traditions across the ages.</small>
                                            <div class="footer">
                                                <small class="categoryName">REFLECTION</small>
                                                <small class="more-info">T</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
 </div>

</div>
