<div class="ng-scope all-reflections">

    <div class='pagination-head'>
        <div class="upper">

            <!--<div ng-transclude></div>-->
            <span class='numeric-count' ng-show="reflectionsList.length > 1 || reflectionsList.length == 0">{{reflectionsList.length}} REFLECTIONS</span>
            <span class='numeric-count' ng-show="reflectionsList.length == 1">{{reflectionsList.length}} REFLECTION</span>
        </div>
    </div>


    <div on-click-outside="closeSecondParda()" class="slide-nav-list" ng-show="expandFilter">
        <filter-category criteria-list="criteriaList" select-handler="filterCategoryClicked"
                              deselect-handler="removeFilterCriteria"
                              clear-filters="clearAllFilters"></filter-category>
        <filter-parda show-this-parda="openSecondParda"
                           filter-items="filterItems[selectedFilterCategory.displayName]"
                           select-handler="filterItemSelected" ng-show="expandFilter"></filter-parda>
    </div>

 <div class="qualifier ajab-container headerfixOuter">
    <div class='logo-with-filter headerfixInner'>
        <div class='nav-elements-wrapper'>
            <h1 class='category-logo'>reflections</h1>
            <a href="javascript:void(0);" class="filter-button" ng-click="toggleExpandFilter()" >Filter <span
                    class="collapse expand"></span></a>
        </div>
    </div>
    <div class="ajab-wrapper">


        <div class='grid-view'>
            <div class='grid-wrapper' >
                <div class="thumbnails-grid">
                    <ul class="media-list">
                        <div ng-repeat="(index,reflection) in reflectionsList" class="media" ng-click="navigateToDetailPage(reflectionsList[$index].id)">
                            <content-thumbnail content="reflectionsList[$index]" format="format"  custom-style="{{shiftThumbnail($index)}}"
                                                       current-index=""></content-thumbnail>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <ajab-shahar-footer></ajab-shahar-footer>

 </div>
</div>
