<div class="header-with-carousel details reflections">
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="logo-container">
                <a href="/songs/all" target="_self">
                    <span class="page-logo">reflections</span>
                </a>
            </div>
            <div class="page-title">
                <div class="main">{{reflectionDetails.title}}</div>
                <div class="sub-main">
                    <span class="">{{reflectionDetails.verb}}</span>
                    <span class="name">{{reflectionDetails.people[0]}}</span></div>
            </div>
        </div>
    </div>
    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">

                <div class="detail-text-wrapper" ng-if="isInitialized()">
                    <content-details  content="reflectionDetails"></content-details>
                </div>

            </div>
        </div>
    </div>
</div>

