/* thumbnail */
.thumbnail{width:370px;text-align:left;padding: 1% 0 0 1%;display:inline-block;}
.thumbnailWrapper{display:block;width:100%;overflow:hidden;margin:15% 0;}
.thumbnailMedia{width:100%;height:230px;}
.thumbnailMedia iframe{width: 92%;height: 200px;margin-top: 4%;margin-left: 5%;}
.thumbnailMedia img{
width: 92%;
height: 200px;
border-radius: 0;
background: #F2F2F2;
border: solid 5px #fff;
box-shadow: #909090 0 0 10px;
}
.thumbnailDesc{
z-index: 1;
width: 320px;
background: #fff;
margin: -2% 0% 0 3%;
padding: 11px 11px 20px 11px;
background-size: cover;
cursor: pointer;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 35px;
position: absolute;
}
.thumbnailDesc:before{
content: '';
width: 105%;
display: inline-block;
height: 30px;
background: rgba(255, 255, 255, 0) url(../../../img/common/directives/thumbnail/top.png) left top no-repeat;
background-size: cover;
position: absolute;
margin: -37px 0 0 -15px;
}

.thumbnailDesc h3
{
margin-top:-10px;
}

.shouldShowDetails{
	color:#888;
}

.shouldShowDetails .categoryDetails{
text-align: right;
}

.play{
 background: url(../../../img/common/icons/play.png) left 2px no-repeat;
background-size: contain;
float: right;
position: relative;
right: 4%;
padding:2px 0 3px 25px;
padding-left: 12%;
padding-bottom: 3px;
padding-top: 2px;
margin-left: 7%;
color: #888;
text-transform: uppercase;
}


.poetDetails{color:#888;}


.shift1{margin:0 0 0 -25%;}
.shift2{margin:0 0 0 -20%;}
.shift3{margin:0 0 0 0%;}
.shift4{margin:0 0 0 20%;}
.shift5{margin:0 0 0 0%;}
.shift6{margin:0 0 0 -20%;}


