<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/Admin/app.js"></script>
    <script type="text/javascript" src="../../js/Admin/controllers/enterCoupletDetailsController.js"></script>
</head>
<body>
<h2>Enter Couplet details for landing page</h2>
<div ng-controller="enterCoupletDetailsController">
    <form >
        Description: <input type="text" name="word" ng-model="formInfo.DESCRIPTION"><br>
        Category: <input type="text" name="translation" ng-model="formInfo.CATEGORY"><br>
        Show On LandingPage :
        <select name="format" ng-model="formInfo.SHOW_ON_LANDINGPAGE">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br/>
        <button type="submit" ng-click="saveData()">Submit</button>

    </form>
</div>
</body>
</html>