<!DOCTYPE html>
<html ng-app="introductionApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Enter splash screen options</title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/Introduction/app.js"></script>
    <script type="text/javascript" src="../../js/Introduction/controllers/enterSplashScreenOptionsController.js"></script>
    <script type="text/javascript" src="../../js/Introduction/services/contentService.js"></script>
    <script src="../../lib/angular-route/angular-route.js"></script>
    <script src="../../lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>


</head>
<body>
Enter splash screen options
<div ng-controller="enterSplashScreenOptionsController">
<form >
    Url: <input type="text" name="url" ng-model="formInfo.URL" role="form"><br>
    Image Url: <input type="text" name="imageUrl" ng-model="formInfo.IMAGE_URL"><br>
    Type :
    <select name="format" ng-model="formInfo.FORMAT">
        <option value="audio">Audio</option>
        <option value="video">Video</option>
    </select><br>
    <button type="submit" ng-click="saveData()">Submit</button>
</form>
</div>
</body>
</html>