<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/Admin/app.js"></script>
    <script type="text/javascript" src="../../js/Admin/controllers/titleBasicDetailsController.js"></script>
</head>
<body>
<h2>Enter Title basic details</h2>
<div ng-controller="titleBasicDetailsController">
    <form >
        Original Title: <input type="text" name="OriginalTitle" ng-model="formInfo.ORIGINAL"><br>
        English Translation:<input type="text" name="Translation" ng-model="formInfo.ENGLISH_TRANSLATION"><br/>
        English Transliteration:<input type="text" name="Transliteration" ng-model="formInfo.ENGLISH_TRANSLITERATION"><br/>
        <button type="submit" ng-click="saveData()">Submit</button>
    </form>
</div>
</body>
</html>