.mediaIntroduction{display:inline-block;text-align: left;color:#fff;width:100%;height:90%;}
.mediaContent{display:inline-block;width:100%;height:90%;}
.mediaFooter{text-align: right}
.mediaPagination{float:right;color:#fff;text-transform: capitalize;}

.artistName{text-transform: uppercase;}
.artistName small{font-weight: normal;text-transform: capitalize;}
.context small{font-weight: normal;font-style: italic;text-transform: capitalize;}
.link{color:#fff;}