/* thumbnail */
.thumbnail{width:370px;text-align:left;padding: 1% 0 0 1%;display:inline-block;}
.thumbnailWrapper{display:block;width:100%;overflow:hidden;margin:15% 0;}
.thumbnailVideo{width:100%;height:230px;background: url(../../../img/common/directives/thumbnail/video.png) no-repeat;background-size: cover;}
.thumbnailVideo iframe{width: 92%;height: 200px;margin-top: 4%;margin-left: 5%;}
.thumbnailVideo img{width: 92%;height: 200px;margin-top: 4%;margin-left: 5%;border-radius: 10px;}
.thumbnailDesc{
	z-index: 1;
	position: relative;
	width:85%;
	background:#fff;
	margin: -14% 0% 0 18%;
	padding: 11px 11px 16px 11px;
	background-size: cover;
	cursor:pointer;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 35px;
}
.thumbnailDesc:before{
content: '';
width: 105%;
display: inline-block;
height: 30px;
background: rgba(255, 255, 255, 0) url(../../../img/common/directives/thumbnail/top.png) left top no-repeat;
background-size: cover;
position: absolute;
margin: -37px 0 0 -15px;
}

.play{
    background: url(../../../img/common/icons/play.png) right 0px no-repeat;
}

.shift1{margin:0 0 0 -25%;}
.shift2{margin:0 0 0 -20%;}
.shift3{margin:0 0 0 0%;}
.shift4{margin:0 0 0 20%;}
.shift5{margin:0 0 0 0%;}
.shift6{margin:0 0 0 -20%;}


