<!DOCTYPE html>
<html ng-app="wordsAdminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Word details page</title>
    <link href="../../admin-css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../common/lib/angular-multi-select/angular-multi-select.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
</head>
<body>
    <a ng-href="/admin/home.html" target="_self"><button type="button" class="btn btn-info admin-home">Admin home</button></a>
    <div class="left">
        <h2>Enter Word details</h2>
        <div class="left">
            <div ng-controller="wordDetailsController" ng-init="init()">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Word Original</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="word" ng-model="formInfo.wordOriginal" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Word Translation</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="word" ng-model="formInfo.wordTranslation" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Word Transliteration</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="word" ng-model="formInfo.wordTransliteration" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Intro Excerpt (English)</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="translation" ng-model="formInfo.englishIntroExcerpt" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Intro Excerpt (Hindi)</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="translation" ng-model="formInfo.hindiIntroExcerpt" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Show On LandingPage</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <select name="format" ng-model="formInfo.showOnLandingPage" class="form-control">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Related Songs</label>
                        </div>
                        <div class="col-sm-2" multi-select input-model="songs" button-label="menuTitle" item-label="menuTitle" tick-property="selected" output-model="formInfo.songs"></div>
                        <input name="singers" ng-model="formInfo.songs" ng-show="false" required="true">
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Reflections</label>
                        </div>
                        <div class="form-group col-sm-2" multi-select input-model="reflectionsList" button-label="title" item-label="title" tick-property="selected" output-model="formInfo.reflections"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label>Writer</label>
                        </div>
                        <div class="col-sm-2" multi-select input-model="peopleList" button-label="firstName lastName" item-label="firstName lastName" tick-property="selected" output-model="formInfo.writers"></div>
                    </div>

                    <admin-word-introduction word-introduction="{{formInfo.wordIntroduction}}" word-introductions="formInfo.wordIntroductions"></admin-word-introduction>

                    <div>
                      <button type="submit" ng-click="saveData()" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../../common/lib/underscore/underscore.js"></script>
    <script src="../../common/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-multi-select/angular-multi-select.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular.min.js"></script>
    <script src="../../common/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="../../admin-js/services/contentService.js"></script>
    <script type="text/javascript" src="../../admin-js/words/wordsAdminApp.js"></script>
    <script type="text/javascript" src="../../admin-js/directives/adminWordIntroduction.js"></script>
    <script type="text/javascript" src="../../admin-js/controllers/words/wordDetailsController.js"></script>
</body>
</html>