<div class="footer-bg">
    <div class='footerBox ajab-container'>
        <!--<div class='footerArt'></div>-->
        <div class='footerArt footerWrapper'>
            <footer>
                <ul class='footerList'>
                    <li><a target="_self" href="/user/partials/songs/allSongs.html">Songs</a></li>
                    <li><a target="_self" href="/user/partials/couplets/featuredContent.html">Couplets</a></li>
                    <li><a target="_self" href="/user/partials/words/featuredContent.html">Words</a></li>
                </ul>

                <ul class='footerList'>
                    <li><a target="_self" href="/user/partials/reflections/featuredContent.html">Reflections</a></li>
                    <li><a target="_self" href="/user/partials/people/featuredContent.html">People</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Places</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Gatherings</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Films</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Classroom</a></li>
                </ul>

                <ul class='footerList'>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Poets</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Radio</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">String</a></li>
                    <li><a target="_self" href="/user/partials/common/underConstruction.html">Glimpse</a></li>
                </ul>

                <ul class='footerList'>
                    <li>About</li>
                    <li>Map</li>
                    <li>Shop</li>
                    <li>Support</li>
                    <li>Glossary</li>
                    <li>Singer Index</li>
                    <li>Resources</li>
                    <li>Copyright</li>
                </ul>

                <ul class='footerList'>
                    <li>Contact</li>
                    <li>OK Listen</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                    <li>Sound Cloud</li>
                </ul>

                <ul class='footerExtra'>
                    <li>SUBCRIBE - Get updates about new uploads, events, curated playlists...</li>
                    <li>PARTICIPATE - Share your songs or thoughts, support an artist, start a
                        discussion..
                    </li>
                    <li class='kabirProject'>A Kabir Project initiative</li>
                </ul>

            </footer>
        </div>
    </div>
</div>
