<div class="footer-container">
    <div class="footer-tree"></div>
    <div class="footer-box">


        <div class="footer-bg ">


            <div class="content-wrapper">
                <div class="footer-content">
                    <div class="first-row-wrapper">
                        <div class="first-row-footer">
                            <div class="first-row-col ">
                                <div class="footer-title" title="Know about us and our inspirations"><a
                                        href="javascript:void(0)">About Us</a></div>
                                <p>Ajab Shahar is a wondrous city of songs, poems, images & conversations from Bhakti,
                                    Sufi & Baul oral traditions from India & around.</p>
                            </div>
                            <div class="support-col vertical-separator">
                                <div class="footer-title"
                                     title="Make a donation to help us construct and maintain this website"><a
                                        href="javascript:void(0)">Support Us</a></div>
                                <p>Ajab Shahar is offered to you as a gift with love - no entry tickets or annoying ads.
                                    If you have found joy & value here, please offer your support to keep it this
                                    way.</p>
                            </div>
                            <div class="subscribe-col vertical-separator">
                                <ul>
                                    <li><p><span class="highlight"><a href="javascript:void(0)">Subscribe</a></span> to
                                        our mailing list for new uploads,
                                        events & more. Mail us at
                                        <a href="mailto:thekabirproject@gmail.com" target="_top">thekabirproject@gmail.com</a>
                                    </li>
                                    <li title="Share, discuss and contribute"><p><span class="highlight"><a
                                            target="_blank" href="http://www.facebook.com/AjabshaharParticipate">Participate</a></span>
                                        by sharing a song, thought, artwork or
                                        starting a discussion...
                                    </p></li>
                                </ul>
                            </div>
                            <div class="site-links vertical-separator">
                                <ul>
                                    <li><a href=" http://kabirproject.org/web%20store" target="_blank">SHOP</a></li>
                                    <li><a href="javascript:void(0)">RESOURCES</a></li>
                                    <li><a href="javascript:void(0)">COPYRIGHT</a></li>
                                    <li><a href="javascript:void(0)">CONTACT US</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content-links ">
                            <ul>
                                <li title='Explore songs from the oral traditions – Bhakti, Sufi, Baul…'><a
                                        target="_self" href="/songs">SONGS</a></li>
                                <li title='Read pithy poems – dohas, saakhis, beyts, rekhtas…'><a
                                        href="javascript:void(0)" class="disable">COUPLETS</a></li>
                                <li title='Explore key words and ideas in the poetry'><a target="_self"
                                                                                         href="/words/#/featuredContent">WORDS</a>
                                </li>
                                <li title='Immerse in conversations and writings about this poetry'><a target="_self"
                                                                                                       href="/reflections/#/all">REFLECTIONS</a>
                                </li>
                                <li title='Meet with poets, singers, artists, scholars, seekers… (under construction)'>
                                    <a href="/people/#/all">PEOPLE</a></li>
                                <li title='Engage students in mystic ideas and poetry (under construction)'><a
                                        href="javascript:void(0)" class="disable">CLASSROOM</a></li>
                                <li title='Join a festival, concert, talk, satsang… (under construction)'><a
                                        href="javascript:void(0)" class="disable">GATHERINGS</a></li>
                                <li title='View and explore films on Kabir and other mystics (under construction)'><a
                                        href="javascript:void(0)" class="disable">FILMS</a></li>
                                <li title='Explore visual expressions of mystic poetry (under construction)'><a
                                        href="javascript:void(0)" class="disable">EXPRESSIONS</a></li>
                                <li title='Listen to music from Ajab Shahar (under construction)'><a
                                        href="javascript:void(0)" class="disable">RADIO</a></li>
                                <li title="Short notes on words or phrases used in the poetry"><a
                                        href="/words/#/glossary" target="_self">GLOSSARY</a></li>
                            </ul>
                        </div>
                        <div class="footer-info">
                            <ul>
                                <li><a href="http://www.kabirproject.org" target="_blank" class="kabir-logo"></a></li>
                                <li class="project-details">
                                    <p>

                                    <div class="created-by">
                                        <span id="dark-font">Created by the </span>
                                        <a href="http://www.kabirproject.org" target="_blank">Kabir Project</a><span
                                            id="dark-font">, housed at </span>
                                        <a href="http://srishti.ac.in/" target="_blank"> Srishti Institute of Art, Design
                                            & Technology</a>

                                    </div>
                                    </p>
                                    <p>

                                    <div class="created-by"><span id="dark-font">Supported by </span>
                                        <a href="http://www.fordfoundation.org/regions/india-nepal-sri-lanka"
                                           target="_blank">Ford Foundation</a><span
                                                id="dark-font">,</span>
                                        <a href=" http://www.therazafoundation.org/" target="_blank">Raza Foundation</a><span
                                                id="dark-font">, </span>
                                        <a href="http://www.wiproapplyingthoughtinschools.com/"
                                           target="_blank">WIPRO</a><span id="dark-font"> & </span>
                                        <a href="http://srishti.ac.in/" target="_blank">Srishti</a>.
                                        <div class="website-design"><span id="dark-font">Website design </span>
                                            <a href="http://dropr.com/smriti" target="_blank">Smriti Chanchani</a>
                                        </div>
                                    </div>
                                    </p>
                                </li>
                                <li class="ok-listen">
                                    <a href="https://www.oklisten.com/labels/label/thekabirproject​" target="_blank"
                                       class="footer-sprite sprite-ok-light"/>
                                </li>
                                <li class="social-utube">
                                    <a href="https://www.youtube.com/user/Kabirproject/featured" target="_blank"
                                       class="footer-sprite sprite-utube-light"/>
                                </li>
                                <li class="sound-cloud">
                                    <a class="footer-sprite sprite-scloud-light"
                                       href="https://soundcloud.com/kabirproject-ajabshahar" target="_blank"/>
                                </li>
                                <li class="fbook">
                                    <a href="http://www.facebook.com/ajabshahar" target="_blank"
                                       class="footer-sprite sprite-fbook-light"/>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>