<!DOCTYPE html>
<html ng-app="songsAdminApp" xmlns="http://www.w3.org/1999/html">
<head lang="">
    <meta charset="UTF-8">
    <title>Song details - admin</title>
    <link rel="stylesheet" href="/admin/css/admin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/common/lib/angular-multi-select/angular-multi-select.css">
    <link rel="stylesheet" href="/common/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>

<div class="left">
    <h2>Enter song details</h2>
    <br/>

    <div class="left">
        <form name="songForm" novalidate ng-controller="songDetailsController" ng-init="init()">
            <as-admin-title title="Umbrella Title" title-data="song.umbrellaTitle"
                            title-list="umbrellaTitles"></as-admin-title>

            <as-admin-title title="Song Title" title-data="song.songTitle" title-list="songTitles"
                            validation-required = "true"></as-admin-title>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Singer</label>
                </div>
                <div class="col-sm-2" multi-select input-model="singers" button-label="name"
                     item-label="name" tick-property="selected" output-model="song.singers"></div>
                <input type="text" ng-model="song.singers" name="singers" ng-show="false" required />
                <error-message name="Singer"
                               show-error="song.isAuthoringComplete && song.singers.length < 1"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Words</label>
                </div>
                <div class="col-sm-2" multi-select input-model="words" button-label="wordTransliteration"
                     item-label="wordTransliteration" tick-property="selected" output-model="song.words"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Reflections</label>
                </div>
                <div class="col-sm-2" multi-select input-model="reflections" button-label="title"
                     item-label="title" tick-property="selected" output-model="song.reflections"></div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Poet</label>
                </div>
                <div class="col-sm-2">
                    <select ng-model="song.poets[0]"
                            ng-options="poet.name for poet in poets  | orderBy:'name'"
                            class="form-control" ng-required="song.isAuthoringComplete">
                    </select>
                </div>
                <error-message name="Poet"
                               show-error="song.isAuthoringComplete && isEmpty(song.poets[0])"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Gatherings</label>
                </div>
                <div class="col-sm-2">
                    <select ng-model="song.gathering"
                            ng-options="gathering.english for gathering in gatherings" class="form-control">
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Show On LandingPage</label>
                </div>
                <div class="col-sm-2">
                    <select name="format" ng-model="song.showOnLandingPage" ng-init="song.showOnLandingPage = 'false'"
                            class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Song Category</label>
                </div>
                <div class="col-sm-2">
                    <select ng-model="song.songCategory"
                            ng-options="category.name for category in songCategories" class="form-control"
                            ng-required="song.isAuthoringComplete">
                    </select>
                </div>
                <error-message name="Song category"
                               show-error="song.isAuthoringComplete && isEmpty(song.songCategory)"></error-message>
            </div>

            <div class="row form-group ">
                <div class="col-sm-2">
                    <label>Duration</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="duration" ng-model="song.duration" class="form-control"
                           ng-required="song.isAuthoringComplete">
                </div>
                <error-message name="Duration"
                               show-error="song.isAuthoringComplete && isEmpty(song.duration)"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Youtube Video ID for video</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="youtubeVideoId" ng-model="song.youtubeVideoId" class="form-control"
                           ng-required="song.isAuthoringComplete && isMediaUrlEmpty()">
                </div>
                <error-message name="Youtube URL or soundCloud"
                               show-error="song.isAuthoringComplete && isMediaUrlEmpty()"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>SoundCloud track Url for audio</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="soundCloudTrackID" ng-model="song.soundCloudTrackId" class="form-control"
                           ng-required="song.isAuthoringComplete && isMediaUrlEmpty()">
                </div>
                <error-message name="Youtube URL or soundCloud"
                               show-error="song.isAuthoringComplete && isMediaUrlEmpty()"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Thumbnail Url</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="thumbnailUrl" ng-model="song.thumbnailURL" class="form-control"
                           ng-required="song.isAuthoringComplete">
                </div>
                <error-message name="Thumbnail URL"
                               show-error="song.isAuthoringComplete && isEmpty(song.thumbnailURL)"></error-message>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Download Url for the song</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="downloadUrl" ng-model="song.downloadURL" class="form-control">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Genres</label>
                </div>
                <div class="col-sm-2" multi-select input-model="genres" button-label="english" item-label="english"
                     tick-property="selected" output-model="song.songGenre"></div>
                <input name="genres" ng-model="song.songGenre" ng-show="false">
            </div>


            <div class="row">
                <div class="form-group col-sm-2">
                    <label>Song Lyrics - Original</label>
                </div>

                <div class="form-group col-sm-8">
                    <text-angular name="songLyricsOriginal" ng-model="song.songText.original"></text-angular>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-2">
                    <label>Song Lyrics - Transliteration</label>
                </div>

                <div class="form-group col-sm-8">
                    <text-angular name="songLyricsTransliteration" ng-model="song.songText.transliteration"></text-angular>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label>Song Lyrics - Translation</label>
                </div>

                <div class="form-group col-sm-8">
                    <text-angular name="songLyricsTranslation" ng-model="song.songText.translation"></text-angular>
                </div>
            </div>


            <div class="row form-group ">
                <div class="col-sm-2">
                    <label>About</label>
                </div>
                <div class="col-sm-8">
                    <text-angular name="htmlcontent" ng-model="song.about"></text-angular>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Publish</label>
                </div>
                <div class="col-sm-1"
                     ng-init='authoringOptions=[{ "value": true, "text": "Yes" }, { "value": false, "text": "No" }]'>
                    <select class="form-control"
                            ng-init="song.isAuthoringComplete = song.isAuthoringComplete || authoringOptions[1].value"
                            ng-model="song.isAuthoringComplete"
                            ng-options="authoringOption.value as authoringOption.text for authoringOption in authoringOptions"></select>
                </div>
            </div>
            <br/>
            <button type="submit" ng-click="saveData()" ng-disabled="!songForm.$valid" class="btn btn-primary btn-lg">
                Save
            </button>
        </form>
    </div>
</div>

<script type="text/javascript" src="/common/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/common/lib/angular-multi-select/angular-multi-select.js"></script>
<script type="text/javascript" src="/common/lib/underscore/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
<script type="text/javascript" src="/common/lib/angular-filter/dist/angular-filter.min.js"></script>
<script type="text/javascript" src="/common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/common/lib/textAngular/dist/textAngular.min.js"></script>
<script type="text/javascript" src="/admin/js/services/songContentService.js"></script>
<script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
<script type="text/javascript" src="/admin/js/common/app.js"></script>
<script type="text/javascript" src="/admin/js/Songs/songsAdminApp.js"></script>
<script type="text/javascript" src="/admin/js/common/errorMessage.js"></script>
<script type="text/javascript" src="/admin/js/controllers/songs/songDetailsController.js"></script>
<script type="text/javascript" src="/admin/js/directives/asAdminTitle.js"></script>
</body>
</html>
