.all-people {
    background: transparent url('/user/img/people/all-people-map-bg.png') left top fixed;
    background-size: contain;

    &.grid-layout {

        .people-grid-view {
            width: 75%;
            margin: 0 auto;
            position: relative;


            @include media($tab-landscape) {
                width: 88%;
                margin-left: 122px;
            }
            @include media($tab-portrait) {
                width: 85%;
                margin-left: 115px;

            }

            .people-grid-content-wrapper {
                background: transparent url('/user/img/people/all-people-content-bg.png') left top fixed;
                background-size: cover;
                background-repeat: no-repeat repeat;
                display: inline-block;
                overflow: visible;
                min-height: 900px;

                .people-grid-wrapper {
                    margin: 0 30px;
                    @include media($tab-portrait) {
                        margin: 0 10px;
                    }

                    .pagination-head {
                        margin-top: 75px;
                        margin-bottom: 50px;
                    }
                    .row-wrapper {
                        clear: both;
                        height: 170px;

                        .people-wrapper {
                            text-align: left;
                            float: left;
                            width: calc(97% - 255px);
                            margin-left: 3%;

                        }
                        .image {
                            float: left;
                            width: 255px;
                            text-align: left;

                        }
                        .explore {
                            background: transparent url('/user/img/people/explore-icon.png') 60px 3px no-repeat;
                            background-size: 15px 16px;
                            display: inline-block;
                            float: left;
                            width: 100px;
                            color: $pink;
                            font-weight: 300;
                            line-height: 23px;
                            font-size: $small;
                            font-family: 'Merriweather Sans';
                            text-transform: Uppercase;

                        }

                        .people-info {
                               font-size: $medium;
                               font-weight: 300;
                               font-family: 'Merriweather';
                               color: $grey;
                               max-height: 9em;
                               line-height: 1.5em;

                              .title {
                                text-transform: Capitalize;
                                font-size: $extra-large;
                                color: $dark-grey;
                                &:hover {
                                    color: $pink;
                                }

                              }
                              .job-title {
                                text-transform: Capitalize;
                                font-size: $small;
                                color: $grey;
                                font-family: 'Merriweather Sans';
                              }



                        }
                    }

                }
            }
        }

    }


   .read-link {
        color: $pink;
        font-weight: 300;
        float: right;
        line-height: 23px;
        font-family: 'Merriweather';
        font-size: $medium;

   }




    #page-wrapper {
        width: 100%;
        min-height: 750px;
        .category-logo {
            font-size: 18px;
        }
    }

    .sadhus {
        background: transparent url('/user/img/people/sadhus.png') center bottom fixed;
        background-size: contain;
    }
    .yoginis {
        background: transparent url('/user/img/people/yoginis.png') center bottom fixed;
        background-size: contain;

    }
    .hansas {
        background: transparent url('/user/img/people/hansas.png') center bottom fixed;
        background-size: contain;
    }

}