.reflections {
    .nav-elements-wrapper {
          .category-logo {
            font-size: 12px;
            padding-top: 35px;
          }
    }
/* UI: Code for testing: can be removed after actual implementation */
    .slide-nav-list {

    }
    .second-layer-list {


        position: fixed;

    }
}

