.reflections {
    .page-header {
        .logo-container {
            &>a {
                font-size: 12px;
            }
        }

        .page-title {
            margin-top: 22px;
            font-weight: 300;
            .main {
                text-align: left;
            }
            .sub-main {
                font-family: 'Merriweather Sans';
                text-align: left;
                color: $grey;
                line-height: 26px;
                font-style: normal;
                .name {

                    font-size: $medium;
                    color: $pink;
                    text-transform: uppercase;
                }
            }
        }

    }
    .main-content .detail-text-wrapper {
        margin: 160px auto;
        background-size: 100% 100%;
        margin-bottom: 0px;

    }


}