.reflections {
    .nav-elements-wrapper {
          .category-logo {
            font-size: 12px;
            padding-top: 35px;
          }
    }
/* UI: Code for testing: can be removed after actual implementation */
    .slide-nav-list {
        display: block !important;
         left: 0px;
    }
    .second-layer-list {
        display: block !important;

        position: fixed;
        left: 220px;
    }
}

