.all-songs {
    .pagination-head {
        width: 87% !important;
        margin-top: 75px;
        position: fixed;

        @include media($tab-landscape) {
             width: 83%;
        }
    }
}