.words-details {
    background: transparent url(/user/img/words/word_details_bg.png) left top;
    width: 100%;

    .comma-space:after {
        content:"\00a0";
    }

    .page-header {
        height: 150px;
        .logo-container > a {
                top: 5px;
                position: relative;
        }

        .page-title {
              width: 55%;
              text-align: left;
              margin-top: 21px;
              color: $dark-grey;



              .related-words {
                        width: auto;
                        margin-top: 10px;
                        font-size: $medium;
                        font-weight: 300;
                        font-family: 'merriweather';

                        .header-translit-text {
                            color: $dark-grey;
                        }
                        .header-translate-text {
                            color: $light-grey;
                            font-style: italic;
                        }

                        dl {
                          margin: 4px auto;
                          clear: both;
                          display: block;

                          dt {
                            display: inline-block;


                            p {
                              display: inline-block;
                            }
                          }

                        }
              }

        }
    }


    .no-pardah {
        background: none;
    }
    .lower-pardah .versions .jcarousel-control-prev, .lower-pardah .versions .jcarousel-control-next {
        top: 50%;
    }

    .main-content {
        margin-top: 10px;
        .left-nav {
            top: 15px;
        }
        .author-caps {
              text-transform: uppercase;
              color: $pink;

        }
        .title-case {
              text-transform: initial;
        }
        .content-wrapper {
                width: 80%;
                background: transparent url(/user/img/words/word_text_bg.png) left top;
                margin: 0 auto;
                position: relative;
                padding-left: 50px;
                padding-top: 20px;
                background-size: 100% 100%;
                padding-right: 50px;
                padding-bottom: 50px;
                background-repeat: no-repeat repeat;
                .header {
                        color: $light-grey;
                        padding-top: 15px;
                        font-weight: 300;

                        .header-text {
                            font-size: $small;
                            margin-left: 1px;
                            text-align: left;
                        }
                        .header-reflection-audiovideo {

                             width: 853px;
                             margin: 0 auto;
                        }
                        .header-reflection {
                             text-align: left;
                             padding-left: 0px;
                             h3 {
                                 line-height: 1.5em;
                             }
                             .ref-header2-text {
                                     font-size: $extra-large;
                                     color: $dark-grey;
                                     font-weight: 300;

                             }
                             .header-italic {
                                    font-size: $medium;
                                    color: $light-grey;
                                    font-weight: 300;
                                    font-style: italic;
                             }

                        }


                }
                .text-content {
                    padding-bottom: 50px;
                }

                #audio_video_container {
                    margin-top: 1em;
                }

        }
        .content-wrapper-bottom-image {
                  background: transparent url(/user/img/words/word_text_bg_bottom.png) left -1px no-repeat;
                  height: 30px;
                  width: 80%;
                  position: relative;
                  margin: 0 auto;
                  background-size: 100% 100%;
        }



    }


}
.details {
    .text-share-options {
        background: transparent url(/user/img/words/word_dt_ct_separator.png) 18px 0 no-repeat;
        background-size: 1000px 7px;
        width: 100%;
        .share {
              height: 23px;
              background: transparent url(/user/img/songs/songs_sprite.png) -26px 20px no-repeat;
              width: 26px;
              padding: 23px 19px;
              line-height: 20px;
              display: block;
              margin-left: 10px;
              &:before {

                content: '';
              }

        }



    }


}





