.words-details {
    background: transparent url(/user/img/words/word_details_bg.png) left top;
    width: 100%;

    .content-wrapper {
        width: 80%;
        background: transparent url(/user/img/words/word_text_bg.png) left top;
        margin: 0 auto;
        position: relative;
        padding-left: 50px;
        padding-top: 200px;
        background-size: 100% 100%;
        padding-right: 50px;
        padding-bottom: 50px;
        background-repeat: no-repeat repeat;




        /* &:after {
            height: 140px;
            background: transparent url(/user/img/words/extract_bottom.png) left top;
            bottom: -200px;
         }*/



    }
    .content-wrapper-bottom-image {
          background: transparent url(/user/img/words/word_text_bg_bottom.png) left -1px no-repeat;
          height: 30px;
          width: 80%;
          position: relative;
          margin: 0 auto;
          background-size: 100% 100%;
    }
}