<!DOCTYPE html>
<html ng-app="songDetailsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Song details page</title>
    <link href="/common/jquery/jcarousel/jcarousel.responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/lohitdevanagari.css"/>
    <link rel="stylesheet" type="text/css" href="/user/css/ajabShahar.css"/>
</head>

<body ng-controller="songDetailsController" class="songs-details header-with-carousel details">
    <ajab-shahar-header></ajab-shahar-header>
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="logo-container">
                <a href="/songs/all" target="_self">
                    <span class="page-logo">songs</span>
                </a>
            </div>
            <div class="page-title">
                <span class="main">{{umbrellaTitleEnglishTransliteration}}</span>
                <span class="sub-main">{{umbrellaTitleEnglishTranslation}}</span>
            </div>
        </div>
    </div>
    <!--TODO Sakunthala : Try removing the extra div-->
    <div class="vertical-spacer" ng-show="!shouldShowVersions()"></div>
    <div class="lower-pardah" ng-show="shouldShowVersions()">
        <div class="versions toggleBySlide" ng-show="showVersion && shouldShowVersions()">
            <div class="carousel-wrapper jcarousel-wrapper">

                <div as-carousel class="carousel-box jcarousel thumbnail-carousel">
                    <ul>
                        <li ng-repeat="song in versions track by $index" on-ng-repeat-end="loadCarousel">
                            <song-thumbnail id="{{song.id}}" content-id="{{song.contentId}}"
                                            open="detailsService.open(song.id)" custom-style="{{song.customStyle}}"
                                            img-src="{{song.thumbnailUrl}}" url="{{song.videoId}}"
                                            english-transliteration="{{song.englishTransliteration}}"
                                            english-translation="{{song.englishTranslation}}"
                                            category-name="{{song.category}}" duration="{{song.duration}}"
                                            singer="{{song.singer}}" class="songs" poet="{{song.poet}}"
                                            singers="{{song.singers}}"></song-thumbnail>


                        </li>
                    </ul>
                    <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
                </div>
            </div>
        </div>
        <div class="see-more" ng-show="shouldShowVersions()" ng-click="toggleVersion()">
            <a class="version" href="javascript:void(0)">
                {{numberOfVersions}} versions
                <span class="arrow" ng-class="showVersion ? 'up-arrow' : ''"></span>
            </a>
        </div>
    </div>
    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div class="left-nav" scroll>
                    <ul>
                        <li><a href="javascript:void(0)" class="active ">song</a></li>
                        <li><a target="_self" href="/user/partials/common/underConstruction.html">explore</a></li>


                    </ul>

                </div>
                <div id="audio_video_container">

                    <div>
                        <div class="rendition-wrapper">
                            <ul ng-hide="true">
                                <li><a href="javascript:void(0)" class="active">01</a>|</li>
                                <li><a href="javascript:void(0)">02</a>|</li>
                                <li><a href="javascript:void(0)">03</a></li>
                            </ul>
                        </div>
                        <div ng-repeat="song in renditions" ng-show="isOpen({{song.id}})">
                            <song-content-details video-id="{{song.videoId}}" audio-url="{{song.audioUrl}}" id="{{song.id}}"
                                                  singer="{{song.singer}}" poet="{{song.poet}}"
                                                  details-service="detailsService" downloadurl="{{song.downloadURL}}"
                                                  about="{{song.about}}" words="song.words"></song-content-details>
                        </div>
                    </div>
                </div>
                <div id="poem_container">
                    <div ng-show="originalVisible" class="toggleByFading  hindi">
                        <h2 class="song-heading">{{song.titleOriginal}}</h2>
                        <h5 class="poet-details"> कवि <span class='selected'>{{poet.hindiName}}</span></h5>

                        <div ng-repeat="openCouplet in songText.openingCouplets track by $index" class="initial-couplets">
                            <p style=" white-space: pre-line">{{openCouplet.originalText}}</p>

                            <p>{{openCouplet.poet.hindiName}}</p>
                        </div>

                        <div ng-if="songText.openingCouplets.length!=0"><p>.....</p></div>

                        <div ng-repeat="songLyrics in songText.songTextContents track by $index" class="lyrics">
                            <p style=" white-space: pre-line">{{songLyrics.originalText}}</p>

                            <p ng-if="songLyrics.showRefrain">{{songText.refrainOriginal}}....</p>

                            <div ng-show="songLyrics.poet!=null">
                                <p>{{songLyrics.poet.hindiName}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="englishTranslationVisible" class="toggleByFading">
                        <h2 class="song-heading">{{song.englishTranslationTitle}}</h2>
                        <h5 class="poet-details">Poet <span class='selected'>{{poet.name}}</span></h5>

                        <div ng-repeat="openCouplet in songText.openingCouplets track by $index" class="initial-couplets">
                            <p style=" white-space: pre-line">{{openCouplet.englishTranslationText}}</p>

                            <p>{{openCouplet.poet.name}}</p>
                        </div>
                        <div ng-if="songText.openingCouplets.length!=0"><p>.....</p></div>
                        <div ng-repeat="songLyrics in songText.songTextContents track by $index" class="lyrics">
                            <p style=" white-space: pre-line">{{songLyrics.englishTranslationText}}</p>

                            <p ng-if="songLyrics.showRefrain">{{songText.refrainEnglishTranslation}}....</p>

                            <div ng-show="songLyrics.poet!=null">
                                <p>{{songLyrics.poet.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="englishTransliterationVisible" class="toggleByFading">
                        <h2 class="song-heading">{{song.englishTransliterationTitle}}</h2>
                        <h5 class="poet-details">Poet <span class='selected'>{{poet.name}}</span></h5>

                        <div ng-repeat="openCouplet in songText.openingCouplets track by $index" class="initial-couplets">
                            <p style=" white-space: pre-line">{{openCouplet.englishTransliterationText}}</p>

                            <p>{{openCouplet.poet.name}}</p>
                        </div>

                        <div ng-if="songText.openingCouplets.length!=0"><p>.....</p></div>

                        <div ng-repeat="songLyrics in songText.songTextContents track by $index" class="lyrics">
                            <p style=" white-space: pre-line">{{songLyrics.englishTransliterationText}}</p>

                            <p ng-if="songLyrics.showRefrain">
                                {{songText.refrainEnglishTransliteration}}....</p>

                            <div ng-show="songLyrics.poet!=null">
                                <p>{{songLyrics.poet.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lyrics-footer">
            <ul>
                <li class="original" ng-click="showOriginal()"><a href="javascript:void(0)" ng-class="{'active':originalVisible}"></a></li>
                <li class="transliteration" ng-click="showEnglishTransliteration()"><a href="javascript:void(0)" ng-class="{'active':englishTransliterationVisible}"></a></li>
                <li class="translation" ng-click="showEnglishTranslation()"><a href="javascript:void(0)" ng-class="{'active':englishTranslationVisible}"></a></li>
            </ul>
            <div class="glossary-link">see <a target="_blank" href="/words/#/glossary">Glossary</a></div>
        </div>
        <div class="footer-spacer"></div>
        <ajab-shahar-footer></ajab-shahar-footer>
    </div>

    <script type="text/javascript" src="/user/js/common/directives/soundCloud/sdk.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/soundCloud/api.js"></script>
    <script type="text/javascript" src="/common/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/common/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/common/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/common/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/common/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/common/lib/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="/user/js/common/services/popupService.js"></script>
    <script type="text/javascript" src="/common/lib/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/common/jquery/jcarousel/jcarousel.responsive.js"></script>
    <script type="text/javascript" src="/user/js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="/user/js/songs/services/songsContentService.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/animation/animationModule.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/animation/toggleBySlide.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="/user/js/songs/services/songMapper.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/headerModule.js"></script>
    <script type="text/javascript" src="/user/js/common/modules/utilities.js"></script>

    <script type="text/javascript" src="/user/js/common/directives/onNgRepeatEnd/onNgRepeatEnd.js"></script>

    <script type="text/javascript" src="/user/js/words/wordApp.js"></script>
    <script type="text/javascript" src="/user/js/reflections/reflectionsApp.js"></script>
    <script type="text/javascript" src="/user/js/words/services/wordMapper.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/header/sticky.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/footer/ajabShaharFooter.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/animation/toggleByFading.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/songs/songContentDetails.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/carouselSupport/asCarousel.js"></script>
    <script type="text/javascript" src="/user/js/common/bindDynamicHtml.js"></script>

    <script type="text/javascript" src="/user/js/songs/songDetailsApp.js"></script>

    <script type="text/javascript" src="/user/js/songs/controllers/songDetailsController.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="/user/js/common/directives/songs/songThumbnail.js"></script>
</body>
</html>
