<div class="carousel">
    <div class="slide" ng-repeat="element in elements" ng-show="element.visible">
        <song-with-details overlay-id="oid0" open="popupService.open('oid0')" custom-style="shift4" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&amp;var1=IMGP7051a.JPG" url="tNh2kjmSzPw" name="For a few days,O Heart" category-name="undefined" duration="5:45" singer="Parvathy Baul" poet="Roshik" class="ng-scope ng-isolate-scope"></song-with-details>
    </div>
    <div class="arrows">
        <a href="#" ng-click="prev()">
            <img class="leftArrow" />
        </a>
        <a href="#" ng-click="next()">
            <img class="rightArrow" />
        </a>
    </div>
</div>