<div class="detail-text-wrapper">

    <div class="text-top-background" ng-if="hasText()"></div>
    <!--    Title  and other headers -->
    <div ng-class="{'text-middle-background': hasText()}">
        <div class="detail-content" height-factor="400" >
            <div class="header">
                <div ng-if="content.type === 'word'" class="header-intro-by">
                    <span ng-bind="content.verb"></span>
            <span class="author-name" ng-repeat="person in content.people">
                <a href="" ng-bind="person"></a>
                <span ng-hide="$last">& </span>
            </span>
                    <span ng-show="content.displayAjabShaharTeam">, Ajab Shahar Team</span>
                </div>

                <div ng-if="content.type === 'reflection'" class="header-reflection"
                     ng-class="{'header-reflection-audiovideo': showVideo || showAudio}">
                    <span class="author-name" ng-bind="content.people[0]"></span>
                    <span class="header-verb" ng-bind="content.verb"></span>

                    <h3>
                        <span class="header-title" ng-bind="content.title"></span>
                    </h3>
                </div>
            </div>
            <!--end of titles-->


            <!--main content-->
            <!--text content-->
            <div class="text-container" ng-if="hasText()">
                <span class="header-text" bind-dynamic-html="content.info"></span>

                <div class="text-content">
                    <div id="text-section" ng-repeat="textSection in content.textSections" >
                        <div bind-dynamic-html="textSection.text" ng-class="{couplet: textSection.type === 'couplet'}"></div>
                        <div ng-show="textSection.poet"><a href="" ng-bind="textSection.poet"></a></div>
                    </div>
                </div>
                <div class="text-share-options" ng-click="toggleShare()">
                    <a href="javascript:void(0)" class="share" ng-class="{'active': sharingVisible}"></a>
                </div>

                <!--sharing-->
                <div class='shareItemsDropDown' ng-show="sharingVisible">
                    <ul>
                        <li><a href='http://www.facebook.com/share.php?u={{createUrl(content.shareUrl)}}' target="_blank">Share on Facebook</a>
                        </li>
                        <li><a class="twitter-share-button"
                               href="https://twitter.com/intent/tweet?text={{createUrl(content.shareUrl)}}"
                               target="_blank">Share on twitter</a></li>
                        <li><a href="//pinterest.com/pin/create/link/?url={{createUrl(content.shareUrl)}}&media={{createURLForImage(content.image)}}" target="_blank">Share on
                            Pinterest</a>
                        </li>
                        <li><a href="https://plus.google.com/share?url={{createUrl(content.shareUrl)}}" target="_blank">Share on Google+</a>
                        </li>
                    </ul>
                </div>

                <!--related links-->
                <div class="related-links-parda">
                    <dl>
                        <dt ng-repeat="link in content.links track by $index">
                            <a ng-href="{{link.link}}" target="_self" ng-cloak ng-class="{disabledLink:!link.link}">
                                {{link.name}} <span ng-bind="link.alternateName" class="italicise"></span>
                            </a>
                        <p><span ng-bind="link.description"></span></p>
                        </dt>
                    </dl>
                </div>
            </div>
            <!--end of textcontent-->

            <!--audio video content-->
            <div id="audio_video_container" ng-if="!hasText()">
                <!--video content-->
                <div ng-if="showVideo">
                    <youtube width="100%" height="90%" videoid="content.videoId"
                             should-stop-video="shouldStopVideo()"></youtube>
                </div>
                <!--audio content-->
                <div ng-if="showAudio">
                    <sound-cloud audio-url="{{content.audioId}}" id="snd_{{id}}"></sound-cloud>
                </div>

                <!--toggle, about sections -->
                <div class="video-options">
                    <ul class="slide-info" ng-if="content.about">
                        <li>
                            <a href="javascript:void(0)" class="about-link" ng-click="toggleAbout()"
                               ng-class="isAboutVisible ? 'active': ''">about</a>
                        </li>
                    </ul>
                    <ul class="share-options">
                        <li ng-click="toggleShare()">
                            <a href="javascript:void(0)" class="share" ng-class="{'active': sharingVisible}"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="download" ng-if="content.downloadUrl" target="_blank"
                               ng-href="{{content.downloadUrl}}"></a>
                        </li>
                    </ul>
                    <ul class="audio-video-options" ng-show="hasAudioAndVideo()">
                        <li>
                            <a href="javascript:void(0)" ng-show="showVideo" class="video-icon active"
                               ng-click="toggleVideoOrAudio()"></a>
                            <a href="javascript:void(0)" ng-hide="showVideo" class="video-icon"
                               ng-click="toggleVideoOrAudio()"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-show="showAudio" class="audio-icon active"
                               ng-click="toggleVideoOrAudio()"></a>
                            <a href="javascript:void(0)" ng-hide="showAudio" class="audio-icon"
                               ng-click="toggleVideoOrAudio()"></a>
                        </li>
                    </ul>
                </div>

                <!--sharing-->
                <div class='toggleBySlide shareItemsDropDown' ng-show="sharingVisible">
                    <ul class='shareItems'>
                        <li><a href='http://www.facebook.com/share.php?u={{createUrl(content.shareUrl)}}' target="_blank">Share on Facebook</a>
                        </li>
                        <li><a class="twitter-share-button"
                               href="https://twitter.com/intent/tweet?text={{createUrl(content.shareUrl)}}"
                               target="_blank">Share on Twitter</a></li>
                        <li><a href="//pinterest.com/pin/create/link/?url={{createUrl(content.shareUrl)}}&media={{createURLForImage(content.image)}}" target="_blank">Share on
                            Pinterest</a>
                        </li>
                        <li><a href="https://plus.google.com/share?url={{createUrl(content.shareUrl)}}" target="_blank">Share on Google+</a>
                        </li>
                    </ul>
                </div>

                <div class="toggleBySlide about-info about-text" bind-dynamic-html="content.about"
                     ng-show="isAboutVisible"></div>
                <!--end of toggle, about-->

                <!--related links-->
                <div class="related-links-parda">
                    <dl>
                        <dt ng-repeat="link in content.links track by $index">
                            <a ng-href="{{link.link}}" target="_self" ng-cloak ng-class="{disabledLink:!link.link}" ng-cloak>
                                {{link.name}} <span ng-bind="link.alternateName" class="italicise"></span>
                            </a>
                        <p><span ng-bind="link.description"></span></p>
                        </dt>
                    </dl>
                </div>
            </div>
            <!--end of audio video-->

        </div>
    </div>
    <div ng-class="{'detail-text-wrapper-bottom-image' : hasText()}"></div>

</div>