$pink: #E61B72;
$light-grey: #999999;
$dark-grey: #4D4D4D;
$color-primary: #E83785;

// Text Colors

$color-heading: #333333;
$color-text: #666666;
$color-menu: #7F8080;
$color-sub-text: #9C9B9B;
$color-link-active: #7bd0ca;
$color-link-green: #00a199;
$color-link-pink: #ed1e79;

// Others

$color-icon: #B3B3B3;
$color-border: #C7C6C5;


/*** According to new color scheme ***/
$color-selected-link: #e61b72;
$color-hover-link: #e61b72;
