// zIndex Back to Front

$zIndex-splash: -999;

$zIndex-parallax-songs: -100;

$zIndex-ajabWrapper: 1;
$zIndex-innerpage-logo: 1;

$zIndex-thumbnail: 100;
$zIndex-thumbnail-hover: $zIndex-thumbnail + 1;

$zIndex-songs-leftNav: 200;

$zIndex-footer: 700;

$zIndex-headerWrapper: 800;
$zIndex-headerart: 800;

$zIndex-header-fixed: 900;

$zIndex-lightbox-footer: 1000;
$zIndex-lightbox-overlay: 1000;
$zIndex-lightbox-arrows: 1000;
$zIndex-lightbox-container: 1000;
