<div class="mediaIntroduction">
    <h5 class="artistName selected">{{singer}}<small> sings</small></h5>
    <h3 class="context">{{name}}<small>(In this body)</small></h3>
    <h4 class='moreDesc'>Some Content</h4>
	<div ng-controller="soundCloudController">
	
	    <div ng-if="url != 'null'">
	    	<youtube width="100%" height="90%" videoid="{{url}}" showcontrols="true" should-stop-video="closeVideo()"></youtube>
	    	<div id="track"></div>
	    </div>
		
	    <div ng-if=" url == 'null'" ng-init="loadTrack(audioUrl)">
	    	<div id="track"></div>
	    </div>
    </div>
</div>
<div class="mediaFooter">
    <h3 class='infoText'>For lyrics, translations, versions,reflections, echoes and more enter <a href="/user/partials/songs/details.html#id={{id}}">SONG</a></h3>
    <div class='creditCont'>
    <div class='creditBox'><span class='selected'>Shah Latif Bhitai</span> POET</div>
	</div>

</div>