<div class="slide-nav-list">
<ul class='filters'>
    <!--<li class='head'>Filter by</li>-->
    <li>
        <a ng-click="toggleSingers()" ng-class="shouldShowSingers ? 'active' : ''">Singers</a>
        <ul>
            <li ng-hide="singerNameInFilter==''|| singerNameInFilter.name==''">{{singerNameInFilter.name}}<a ng-click="removeSingerFilter()">[X]</a></li>
            <div class="singer-list-container" ng-show="shouldShowSingers">

                <ul class="singer-list" ng-repeat="singer in singers" >
                    <a ng-click="initialiseSingerNameInFilter(singer);hideSingers()">{{singer.name}}</a>
                </ul>

            </div>
        </ul>
    </li>

    <li>
        <a ng-click="togglePoets()" ng-class="shouldShowPoets ? 'active' : ''">Poets</a>
        <ul>
            <li ng-hide="poetNameInFilter==''|| poetNameInFilter.name==''">{{poetNameInFilter.name}}<a ng-click="removePoetFilter()">[X]</a></li>
            <div class="singer-list-container" ng-show="shouldShowPoets">

                <ul class="singer-list" ng-repeat = "poet in poets">
                    <a ng-click="initialisePoetNameInFilter(poet);hidePoets()">{{poet.name}}</a>
                </ul>
                
            </div>
        </ul>
    </li>

    <li><a>Words</a></li>
    <li><a>Genre</a></li>
    <li><a>Gathering</a></li>
    <li><a>Places</a></li>
    <li><a ng-click="clearFilters()">All</a></li>
</ul>



</div>