.center-grey {
  background: #f2f2f2;
}
.carousel {
  position: relative;
  width: 100%;
  margin: auto;
}
.slide {
  box-shadow: 0px 0px 15px #999;
}
.arrows {
  position: absolute;
  top: 10px;
  right: 20px;
}
.arrows img {
  height: 32px;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #222;
}
.leftArrow{
    content:url('../../img/common/directives/carousel/left-arrow.jpg');
}
.rightArrow{
    content:url('../../img/common/directives/carousel/right-arrow.jpg');
}




.ajab-ribbon{
  display: inline-block;
}

.ajab-ribbon li{
  width:280px;
  float:left;
  margin:0 10px 0 0;
}

.ajab-ribbon .thumbnail{
  width:100%;
}

.ajab-ribbon .thumbnailVideo{
  height:150px;
}

.ajab-ribbon .thumbnailVideo img{
  height:100%;
}

.ajab-ribbon .thumbnailDesc{
  width: 230px;
  margin:10px 0% 0 20px;
}


.ajab-ribbon .thumbnailDesc:before{
margin:-31px 0 0 -14px;
}

