/* load fonts */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,500,700&subset=latin,devanagari);




/* Variables */

@activeLink: #7bd0ca;

/* Common Styles */

.box-shadow(@color, @spread: 7px) {
    -webkit-box-shadow: 1px 1px @spread @color;
    -moz-box-shadow: 1px 1px @spread @color;
    box-shadow: 1px 1px @spread @color;

}


/* animate tags to create smooth transition */
/*{
-webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
/*    transition: all 2s;
}*/


/* global rules starts */
html {
    overflow-x: hidden;
}

body{
    width: 100%;
    overflow: hidden;
    background:#fff;
    margin:0;padding:0;
    font-family:'Merriweather Sans','Merriweather',lucida grande,arial,tahoma,verdana,sans serif;
    /*font-size: 0.8em;*/
}


/* color */
.selected { color:#e83785 !important; }
.selectedGreen { color: #18a398; }

/* display rule */
.hidethis{display:none !important;}


/* app containers and boxes */
.ajab-container{
    width:100%;
    text-align: center;
    display:inline-block;
}

.ajab-wrapper{
    width:98%;
    text-align: center;
    display:block;
    margin:0 auto;
}


/* wrapper rules */
.mainContentWrapper {
    overflow: hidden;
    margin-top: -5%;
}

.noParallaxPage {
    padding-top:11%;
    padding-bottom: 250px;
}



/* under construction */
.underConstruction {
    background: #fff;
    padding: 3%;
    border-radius: 10px;
    border: solid 1px #ccc;
    color: #ccc;
    margin-top: 5%;
    display: inline-block;
    .box-shadow(#BDBDBD, 15px);

    h1.ucText {
        font-size: 4em;
    }
}

#loader_wrapper {
    width: 100%;
    min-height: 1000px;
    background-color: #fff;
    display: inline-block;

    &>span {
        background: #fff url(../img/common/icons/spinner.gif) 0 0px;
        height: 128px;
        width: 128px;
        display: block;
        margin: 10% auto 0;
    }

}



/* global rules ends*/

/***************************************/
.light-bg {
    position: absolute;
    width: inherit;
    background: #fff;
    top: 0;
    z-index: -1;
    opacity: 0.6;

}

#left_nav {
    width: 15%;
    position: fixed;
    left: 4%;
    top: 29%;
    text-align: left;

    li {
        &>a {
            line-height: 27px;
            font-size: 14px;
            color: #b3b3b3;
            &.active {
                color: #7AC943;
            }
        }
    }
}

.main-content {
    width: 80%;
    float: left;
    margin-left: 20%;
}



/* Common Header Design for details page */

.details-page {
    .headerBox {
        position: absolute;
    }
    .page-header {
        background: transparent url(../../img/songs/pardah_long.png) -800px bottom no-repeat;
        width: 100%;
        height: 155px;
        padding-top: 10px;
        display: inline-block;

        .logo-container {
            float: left;

            .page-logo {
                background: transparent url(../../img/songs/songs_logo.png) 0 0 no-repeat;
                width: 85px;
                height: 58px;
                float: left;
                clear: both;
                padding: 30px 0 0 0;
                color: #999;
                font-family: 'Merriweather';
                font-size: 18px;
                font-weight: 300;
            }
        }


        .page-title {
            float: left;
            margin: 29px 0 0 1.2%;
            font-family: 'Merriweather';
            font-weight: 300;
            .main {
                font-size: 21px;
                margin-right: 5px;
                color: #333;
            }
            .sub-main {
                font-size: 18px;
                color: #999;
                font-style: italic;

            }


        }
    }


    .see-more {
        background: transparent url(../../img/songs/pardah_long.png) -800px bottom no-repeat;
        height: 68px;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -38px;
        text-align: center;
        .version {
            position: absolute;
            top: 16px;
            left: 48%;
            font-family: 'Merriweather';
            font-size: 12px;
            color: #999;
            font-weight: 300;

        }
        .arrow {
            background: transparent url(../../img/songs/down-arrow.png) 0 0 no-repeat;
            height: 12px;
            width: 19px;
            display: inline-block;
            &.up-arrow {
                background-image: url(../../img/songs/up-arrow.png);
            }
        }

    }


    .carousel-wrapper.jcarousel-wrapper {
        border: none;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        width: 100%;

        .carousel-box {
            width: 90%;
            text-align: center;
            margin: 0 auto;
            padding: 12px 0 0;
        }

        .jcarousel {

            &>ul {
                height: 240px;
                display: inline-block;
                li {
                    margin-left: 63px;
                    margin-right: 28px;
                    border: none;
                    position: relative;
                    max-width: 255px !important;
                }
            }

        }

        .jcarousel-control-prev, .jcarousel-control-next {
            background: transparent url(../../img/songs/carousel-left.png) 0 0 no-repeat;
            width: 28px;
            height: 39px;
            display: inline-block;
            text-shadow: none;
            border-radius: 0;
            box-shadow: none;
            top: 40%;
        }
        .jcarousel-control-prev {
            left: -10px;
        }

        .jcarousel-control-next {
            background-image: url(../../img/songs/carousel-right.png);
            right: 0;
        }
        /*UI: WIP */
        .thumbnailWrapper {
            margin: 0;
            .thumbnail-media {
               height: 139px;
            }
        }
    }
}

/* Common Header Design for details page end here*/
