.thumbnailWrapper {
    .thumbnail-media {
        text-align: left;

        img {
            border: solid 3px #fff;
        }
        h5 {
            position: absolute;
            z-index: 9;
            top: -7px;
            height: 144px;
            overflow: hidden;
            left: 0px;
            color: #fff;
            opacity: 0.6;
            width: 260px;
            line-height: 26px;
            font-style: italic;
            font-size: 26px;
            font-weight: 400;
            margin: 0;
            text-shadow: 1px 1px 1px #d3d3d3;
        }
    }
}
