<div class="thumbnailWrapper reflection">
    <div class="thumbnail {{customStyle}}">
        <div class="thumbnail-media">
            <img src="../user-img/reflections/bw_background2b.jpg">
            <h5>I am not a scholar or  expert on Kabir, I am just like you, I am not a scholar or  expert on Kabir, I am just like you, I am just like</h5>
        </div>
        <div class="thumbnail-desc" ng-click="open()">
            <h3 class="selected" >{{name}}</h3>
            <small>by {{by}}</small>
        </div>
    </div>
</div>
