<div class="thumbnailWrapper {{customStyle}}">
    <div class="thumbnail-media" ng-click="open('{{id}}')">
        <img src="{{imgSrc}}"/>
    </div>
    <div class="desc-wrapper" ng-click="open('{{id}}')">
        <div class="thumbnail-desc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="item-title">{{getTitle()}}</h3>
            <div class="sub-title"></div>
            <small ng-hide="multipleSingers">sings {{singer|uppercase}}</small>
            <div ng-show="shouldShowDetails" class='shouldShowDetails toggleBySlide'>
                <div class="" ng-show="multipleSingers">
                <small class="">sing {{singers|uppercase}}</small>
                </div>
                <small class="poetDetails">Poet {{poet|uppercase}}</small>
                <div class='categoryDetails'>
                    <small class="categoryName">{{categoryName}}</small>
                    <small class="play">{{duration}}</small>
                </div>
            </div>
        </div>
        <div class="lower-curve"></div>
    </div>
</div>
