<div class="thumbnailWrapper shift1">
    <div class="thumbnail-media">
        <img src="{{imgSrc}}"/>
    </div>
    <div class="desc-wrapper">
        <div class="thumbnail-desc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="selected" >{{transliteration}}</h3>
            <small>{{translation}}</small>
            <small>{{introductionSummary}}</small>

            <div ng-show="shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <div class='categoryDetails'>
                <small class="categoryName">WORD INTRO</small>
                </div>
                <a href="/words/details.html">Click for more info.</a>
            </div>
        </div>
        <div class="lower-curve"></div>
    </div>
</div>
