<div class="thumbnailWrapper {{customStyle}}">
    <div class="thumbnail-media">
        <img src="{{imgSrc}}"/>
    </div>
    <a href="/words/details.html?id={{id}}">
    <div class="desc-wrapper">
        <div class="thumbnail-desc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="item-title" >{{transliteration}}</h3>
            <h3 class="item-title-translation sub-title">{{translation}}</h3>
            <small class="desc">{{englishIntroExcerpt}}...</small>

            <div ng-show="shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <div class='categoryDetails'>
                    <a href="/words/details.html?id={{id}}" class="categoryName">WORD INTRO</a>
                    <small class="more-info">T</small>
                </div>

            </div>
        </div>
        <div class="lower-curve"></div>
    </div>
    </a>
</div>
