<div class="thumbnailWrapper {{customStyle}}">
    <div class="thumbnail-media">
        <img src="{{imgSrc}}"/>
    </div>
    <div class="desc-wrapper">
        <div class="thumbnail-desc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="selected" >{{transliteration}}</h3>
            <small>{{translation}}</small>
            <div>
                <small>{{introductionSummary}}..</small>
            </div>

            <div ng-show="shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <div class='categoryDetails'>
                    <a href="/words/details.html?id={{id}}">WORD INTRO</a>
                </div>
            </div>
        </div>
        <div class="lower-curve"></div>
    </div>
</div>
