<div sticky on-scroll="hideMenu()" on-top="showMenu()" class='header-box ajab-container'>
    <div class='headerWrapper toggleBySlide' ng-show="showMenuDetails">
        <header>
            <div class='logoContainer'>
                <a target="_self" href="/featuredContent">
                    <img class='logo' src="/user/img/common/directives/header/logo1.png"/>
                </a>
            </div>
            <div class='menu-container'>
                <ul class='top-line'>
                    <li class='selected english'>English</li>
                    <li class="hindi disable">हिन्दी</li>
                    <li><a href="http://www.facebook.com/AjabshaharParticipate" target="_blank" title="Share, discuss and contribute">Participate</a></li>
                    <!--<li title='Take a tour of this city'>Map</li>-->
                    <!--<li><a href="#" title="Offer support to an artist, this site or an event">Donate</a></li>-->
                    <li title="Make a donation to help us construct and maintain this website">Support</li>
                    <li title='Know about us and our inspirations'>About</li>
                    <!--<li title=''>Sign in</li>-->
                </ul>

                <ul class='first-line'>
                    <li title='Explore songs from the oral traditions – Bhakti, Sufi, Baul…'><a target="_self"
                                                                                                href="/songs" ng-class="currentPage.songs ? 'selected' : ''">Songs</a>
                    </li>
                    <li title='Read pithy poems – dohas, saakhis, beyts, rekhtas… (under construction)'><a target="_self" class="disable"
                                                                                      href="/user/partials/couplets/featuredContent.html">Couplets</a>
                    </li>
                    <li title='Explore key words and ideas in the poetry'><a target="_self"
                                                                             href="/words/allWords" ng-class="currentPage.words ? 'selected' : ''">Words</a>
                    </li>
                </ul>
                <ul class='second-line'>
                    <li title='Immerse in conversations and writings about this poetry'><a target="_self"
                                                                      href="/reflections/#/all" ng-class="currentPage.reflections ? 'selected' : ''">Reflections</a>
                    </li>
                    <li title='Meet with poets, singers, artists, scholars, seekers… (under construction)'><a target="_self" ng-class="currentPage.people ? 'selected':''"
                                                                                         href="/people/#/all">People</a>
                    </li>
                    <li title='Engage students in mystic ideas and poetry (under construction)'><a target="_self" class="disable"
                                                                               href="/user/partials/common/underConstruction.html">Classroom</a>
                    <!--<li title='Enter the landscapes of song'><a target="_self"-->
                        <!--href="/user/partials/common/underConstruction.html">Places</a>-->
                    </li>
                    <li title='Join a festival, concert, talk, satsang… (under construction)'><a target="_self" class="disable"
                        href="/user/partials/common/underConstruction.html">Gatherings</a>
                    </li>
                    <li title='View and explore films on Kabir and other mystics (under construction)'><a target="_self" class="disable"
                        href="/user/partials/common/underConstruction.html">Films</a>
                    </li>
                    <li title='Visual expressions of mystic poetry (under construction)'><a target="_self" class="disable"
                        href="/user/partials/common/underConstruction.html">Expressions</a>
                    </li>
                    </li>
                    <!--<li title='String couplets on the thread of a word'><a target="_self"-->
                                                                           <!--href="/user/partials/common/underConstruction.html">String</a>-->
                    </li>
                    <li title='Listen to music from Ajab Shahar (under construction)'><a target="_self" class="disable"
                                                                    href="/user/partials/common/underConstruction.html">Radio</a>
                    </li>
                    <li title="Short notes on words or phrases used in the poetry"><a target="_self" href="/words/#/glossary" ng-class="currentPage.glossary ? 'selected' : ''">Glossary</a>
                    </li>
                </ul>
            </div>

        </header>
    </div>

    <div class="headerArt">
        <img src="/user/img/common/directives/header/transparent_header.png" alt="" class="map-image" usemap="#headerMap" />
    </div>
    <map name="headerMap">
        <area alt="" title="" href="javascript:void(0)" shape="poly" coords="816,0,627,1,413,1,155,0,14,0,167,6,343,15,459,28,562,35,610,37,640,34" ng-click="toggleMenu()" />
        <area alt="" title="" href="javascript:void(0)" shape="poly" coords="569,38,619,37,619,82,570,82" ng-click="toggleMenu()" />
    </map>


</div>
