<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit person details</title>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../../common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="../../js/services/contentService.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script type="text/javascript" src="../../js/controllers/person/detailsController.js"></script>
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../../common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="left">
    <h2>Edit Person details</h2>
    <div class="left">
        <div ng-controller="personDetailsController" ng-init="getPersonData()">
            <form name="personForm">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>First Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="FirstName" ng-model="formInfo.firstName" maxlength="30" required class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Middle Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="MiddleName" ng-model="formInfo.middleName" maxlength="30" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Last Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="LastName" ng-model="formInfo.lastName" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Artist field</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <select name="format" ng-model="formInfo.category" class="form-control">
                            <option value="Poet">Poet</option>
                            <option value="Singer">Singer</option>
                        </select>
                    </div>
                </div>

                <button type="submit" ng-click="updatePerson()" class="btn btn-primary btn-lg">Save</button>
                <button type="reset"  ng-click="redirectToEnterPage(personForm.$dirty)" class="btn btn-info">Add New Person</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>