<!DOCTYPE html>
<html ng-app="personAdminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit person details</title>
    <script src="../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-multi-select/angular-multi-select.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="../../common/lib/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="../../admin-js/services/contentService.js"></script>
    <script type="text/javascript" src="../../admin-js/person/personAdminApp.js"></script>
    <script type="text/javascript" src="../../admin-js/controllers/person/personDetailsController.js"></script>
    <link rel="stylesheet" href="../../common/lib/angular-multi-select/angular-multi-select.css">
    <link href="../../admin-css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<a ng-href="/admin/home.html" target="_self"><button type="button" class="btn btn-info adminHome">Admin home</button></a>
<div class="left">
    <h2>Edit Person details</h2>
    <div class="left">
        <div ng-controller="personDetailsController" ng-init="getPersonData()">
            <form name="personForm">
                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>First Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="FirstName" ng-model="formInfo.firstName" maxlength="30" required class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Middle Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="MiddleName" ng-model="formInfo.middleName" maxlength="30" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Last Name</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="LastName" ng-model="formInfo.lastName" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>First Name In Hindi</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="FirstName" ng-model="formInfo.firstNameInHindi" maxlength="30" required class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Middle Name In Hindi</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="MiddleName" ng-model="formInfo.middleNameInHindi" maxlength="30" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Last Name In Hindi</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="LastName" ng-model="formInfo.lastNameInHindi" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Occupation</label>
                    </div>
                    <div class="form-group col-sm-2">
                        
                        <div class="form-group col-sm-2" multi-select input-model="categoryList" button-label="name" item-label="name" tick-property="ticked" output-model="formInfo.category"></div>

                    </div>
                </div>

                <button type="submit" ng-click="updatePerson()" class="btn btn-primary btn-lg">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>