/* global rules starts */
html {
    overflow-x: hidden;
}

body{
width: 100%;
overflow: hidden;
background:#eee;
margin:0;padding:0;
font-family:lucida grande,arial,tahoma,verdana,sans serif;
font-size: 0.8em;
}


/* reset rules */
ul{padding:0;margin:0;list-style: none}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}

/* color */
.selected{color:#e83785;}


/* links */
a,a:visited,a:link{color:inherit;text-decoration: none;outline:none;}


/* clear rules */
.line{display:inline-block;clear:both;width:100%;height:1px;}


/* app containers and boxes */
.ajab-container{
  width:100%;
  text-align: center;
  display:inline-block;
}

.ajab-wrapper{
  max-width:1000px;
  width:100%;
  text-align: center;
  display:inline-block;
  margin:0 auto;
}



/*homepage content box */
.homepage-content{
  width:100%;height:5540px;position: relative;margin-top:10%;
}


/* under construction */
.underConstruction{background: #fff;
padding: 3%;
border-radius: 10px;
border: solid 1px #ccc;
color: #ccc;
margin-top: 5%;
display: inline-block;
box-shadow: #BDBDBD 1px 1px 15px;
}
.underConstruction h1.ucText{font-size: 4em;}



/* global rules ends*/


