<!-- 

<div ng-show="show()" style="z-index:2147483647">
    <div id ="'{{overlayId}}" class="lightbox-bg"></div>
    <div style="width:{{width}}px; margin-left: {{(width/ 2 * -1)}}px;" class="lightbox-frame" ng-show="show()">
        <div style="left:{{width}}px;display:block;" class="box-close">
            <a target="_top" ng-click="onClose()"></a>
        </div>
        <div class="roundedcornr_box">
            <div class="roundedcornr_top"></div>
            <div class="roundedcornr_content">
                <div ng-transclude/></div>
            <div class="roundedcornr_bottom"></div>
        </div>
    </div>
</div>

-->

<div class='overlay'>
<div class='arrows left'>
<span><</span>
</div>

<div class='popupWrapper'>
<div class='popupContainer'>

<div class='mediaWrapper'>    
<h5 class='artistName'>Moorala marwada <small>sings</small></h5>
<h3 class='projectName'>Hiye Kaaya Mein<small>(In this body)</small></h3>
<img class='popupMedia image' src='https://trello-attachments.s3.amazonaws.com/53f5c6a1054c6091852905be/53f5dfa82a3dd4d00adc9b42/1320x837/c892246aa9dda4fbe59e1e49af479076/splash_page-language_option.png'/>
</div>
<div class='line'></div>
<small class='mediaPagination'>song 1 of 15</small>

</div>
</div>


<div class='arrows right'>
<a href='#' class='close'>x</a>
<span>></span>
</div>
</div>