/* global rules starts */
html {
    overflow-x: hidden;
}

body{
width: 100%;
overflow: hidden;
background:#eee;
margin:0;padding:0;
font-family:lucida grande,arial,tahoma,verdana,sans serif;
font-size: 0.8em;
}


/* reset rules */
ul{padding:0;margin:0;list-style: none}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}

/* color */
.selected{color:#e83785;}


/* app containers and boxes */
.ajab-container{
  width:100%;
  text-align: center;
  display:inline-block;
}

.ajab-wrapper{
  max-width:1000px;
  text-align: center;
  display:inline-block;
  margin:0 auto;
}
/* global rules ends*/



/* thumbnail */
.thumbnail{width:370px;text-align:left;}
.thumbnailVideo{width:100%;height:230px;background: url(../img/thumbnailVideo.png) no-repeat;background-size: cover;}
.thumbnailVideo iframe{width: 92%;height: 180px;margin-top: 4%;margin-left: 5%;}
.thumbnailDesc{width:85%;height:100px;background: url(../img/thumbnailDesc.png) left top no-repeat;margin: -15% 0% 0 18%;padding: 6% 0 0 6%;background-size: cover;}



/* middle content  starts */
.parallax-container{
  margin-top: -11%;
}

.pxLayers{
  width:100%;height:5540px;position: absolute;
}

.px-layer1{
   background: url(../img/newset/07_body.png)  0px -185px no-repeat;
}

.px-layer2{
   background: url(../img/newset/02_map.png) 0px repeat-y;
}

.px-layer3{
   background: url(../img/newset/08_water.png) 0px  -185px no-repeat;
}

.px-layer4{
    background: url(../img/newset/riverlines.png) -14px -188px no-repeat;
    opacity: 0.3;
}

.px-layer5{
   background: url(../img/newset/bird.png) 0px no-repeat;
}

.px-layer6{
   background: url(../img/newset/05_clouds.png) 0px no-repeat;
}

.px-layer7{
   background: url(../img/newset/03_whiteString.png) center 0px no-repeat;
}

.px-layer8{
   background: url(../img/newset/hindiText.png) center 0px repeat-y;
}


.homepage-content{
  width:100%;height:5540px;position: relative;margin-top:20%;
}
/* middle content  ends */


