body{
width: 100%;
overflow: hidden;
background:#eee;
}

.map {
  margin-top: -8px;
  background: url(../img/newset/07_body.png) 0 100px no-repeat;
  height: 4000px;
}

.dance {
  height: 400%;
  width: 100%;
  position: absolute;
  opacity: .7;
  z-index: 1;
}

.clouds {
  background-image: url(../img/05_clouds-new.png);
  background-repeat: repeat-xy;
  width: 600%;
  height: 102%;
  opacity: .8;
}

.dorString, .hindiText, .river{
  width: 100%;
  height: 100%;
}

.dorString {
  background: url(../img/newset/03_whiteString.png) center no-repeat;
  opacity: 1;
  height:4000px;
}

.hindiText {
  background-image: url(../img/hindiText.png);
  opacity: 1;
}

.bird {
 background: url(../img/bird.png);
  opacity: .7; 
}
.river {
 background:#ddd url(../img/newset/01_riverlines.png) repeat-y;
  opacity: .7; 
  position:absolute;
  z-index: -1;
  top: 0;
  height:4000px;
}

html {
    overflow-x: hidden;
}