<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="">
    <meta charset="UTF-8">
    <title></title>
    <title></title>
    <script src="../../../lib/angular/angular.js"></script>
    <script src="../../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="../../../js/Admin/app.js"></script>
    <script type="text/javascript" src="../../../js/Admin/controllers/songs/detailsController.js"></script>
</head>
<body>
<h2>Enter Song basic details</h2>
<div ng-controller="songDetailsController">
    <form >
        Singer:
        <select  ng-model="formInfo.singers[0]"
                ng-options="singer.firstName for singer in singersList">
        </select><br/>
        Poet:
        <select  ng-model="formInfo.poets[0]"
                 ng-options="poet.firstName for poet in poetsList">
        </select><br/>
        Show On LandingPage :
        <select name="format" ng-model="formInfo.showOnLandingPage">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br/>
        Song Category:
        <select ng-model="formInfo.songCategory"
                ng-options="category.name for category in songCategoryList">
        </select><br/>
        Media Category:
        <select ng-model="formInfo.mediaCategory"
                ng-options="category.name for category in mediaCategoryList">
        </select><br/>
        Duration:<input type="text" name="duration" ng-model="formInfo.duration"><br/>
        Youtube Video Id:<input type="text" name="youtubeVideoId" ng-model="formInfo.youtubeVideoId"><br/>
        Thumbnail Url:<input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnail_url"><br/>
        Original Title:<input type="text" name="originalTitle" ng-model="formInfo.original"><br/>
        English Translation:<input type="text" name="englishTranslation" ng-model="formInfo.english_Translation"><br/>
        English Transliteration:<input type="text" name="englishTransliteration" ng-model="formInfo.english_Transliteration"><br/>
        <button type="submit" ng-click="saveData()">Submit</button>
    </form>
</div>

</body>
</html>