<div class="thumbnailWrapper">
    <div class="thumbnail {{customStyle}}" ng-click="open('{{id}}')">
        <div class="thumbnailMedia">
            <img src="{{imgSrc}}"/>
        </div>

        <div class="thumbnailDesc" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="selected" ng-cloak>{{title}}..</h3>
            <small ng-cloak>{{englishTranslationText}}</small>

            <div ng-show="shouldShowDetails" class='thumbnailDetails'>
                <div class='categoryDetails'>
                    <small class="categoryName" ng-cloak>{{categoryName | uppercase}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
