<div class="thumbnailWrapper">
    <div class="thumbnail {{customStyle}}">
        <div class="thumbnailMedia">
            <img src="{{imgSrc}}"/>
        </div>
        <div class="thumbnailDesc" ng-click="open()" ng-cloak>
            <h3 class="selected">{{name}}</h3>
            <small>{{description}}</small>
        </div>

        <pop-up overlay-id="{{overlayId}}" width="100" show="shouldBeOpen" on-close="onClose()" closeButton="true">
            <img src="{{imgSrc}}"/>
        </pop-up>
    </div>
</div>
