@import "../reset";
@import "../common";
@import "../common/directives/slideLeftNav";


/* Styles for grid View page for all songs */

.ajab-wrapper {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    z-index: 1;
}

.all-songs {
    background: transparent url(../../../../user-img/common/bg/bg_pattern.png) repeat;
    background-size: contain;
    margin: 10px 0 0 0;

    .headerBox {
        position: absolute;
        top: 0;
        left: 0;
    }

    .left-nav {
        /*float: left;
        text-align: center;*/
        position: absolute;
        left: 0;
        top: 5%;
        margin-left: 1.5%;
        z-index: 7;

        .nav-elements-wrapper {
            position: relative;
            .category-logo {
                background: transparent url('../../user-img/songs/songs_logo.png') 0 0 no-repeat;
                width: 85px;
                height: 58px;
                padding-top: 30px;
                color: #9c9b9b;
                font-size: 20px;
                font-family: 'Merriweather';
                font-weight: 300;
            }

            .filter-button {
                display: block;
                margin-top: 10px;
                font-size: 10px;
                text-transform: uppercase;
                color: #e61b72;
                &>.collapse {
                    background: transparent url('../../user-img/common/icons/cross.png') 0 0 no-repeat;
                    display: inline-block;
                    height: 9px;
                    width: 9px;
                    &.expand {
                        background-image: url('../../user-img/common/icons/minus.png');
                    }
                }

            }
        }
    }

    .singer-list-container {
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0;
        top: -125px;
        height: 100%;
        width: 100%;
        text-align: left;
        z-index: 1000;
        padding-top: 115px;
        padding-left: 20px;
        color: #999;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        /*display: none;*/
    }

    .grid-view {
        float: right;
        width: 85%;
        color: #666;
        margin: 85px 5% 0 0;

        @media screen and (max-width: 1280px) {
            margin-right: 1%;
        }

        .pagination-head {
            display: inline-block;
            width: 100%;
            padding: 0% 0 2%;
            float: left;

            &>.upper {
                display: inline-block;
                width: 100%;
                float: left;
                padding-bottom: 5px;
                border-bottom: solid 1px #ccc;

                .breadcrumb {
                font-size: 12px;
                text-transform: uppercase;
                li {
                    float: left;
                    margin-right: 1%;
                &>a {
                    color: #888;
                    text-transform: uppercase;
                }
                &>.active {
                    text-transform: uppercase;
                    color: #00A199;
                }
            }
        }

                .numericCount {
                    float: left;
                    margin-left: 25px;
                    font-weight: 300;
                    font-size: 14px;
                    color: #888;
                }

                .search-box {
                    float: left;
                    margin: 3px 20px 0 0;

                    .search {
                        width: 150px;
                        border-radius: 3px;
                        border: solid 1px #ccc;
                        height: 28px;
                        line-height: 18px;
                        outline: 0;
                        float: left;
                        background: #FFF;
                        margin-top: -5px 8px 5px 0;
                        display: none;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 19px;
                        background: transparent url('../../user-img/songs/icons/search.png') 0 0 no-repeat;
                        cursor: pointer;
                    }
                }

                .view-options {
                    float: right;
                    &>a {
                        background: transparent url('../../user-img/songs/icons/grid.png') 0 -1px no-repeat;
                        width: 20px;
                        height: 18px;
                        display: inline-block;

                        &.list {
                           background-image: url('../../user-img/songs/icons/list.png');
                           background-position: 0;
                        }
                    }
                }

                .upper-right {
                    float: right;
                    width: 110px;
                }

            }

        }

        .grid-wrapper {
            text-align: left;
            width: 100%;
            .songs{
                width:100%;
                margin-bottom: 120px;
                float:left;
            }
        }

        .song-grid {
            width: 100%;

            .flexi-thumbnails {
                width: 250px;
                display: inline-block;
                margin: 10px 3.5% 10px 0;
                /*margin: 10px 4.7% 10px 0;*/

                @media screen and (max-width: 1380px) {
                    margin: 10px 2.5% 10px 0;
                }
                @media screen and (max-width: 1280px) {
                    margin: 10px 0.5% 10px 0;
                }
                @media screen and (max-width: 1024px) {
                    margin: 10px 2.5% 10px 0;
                }
                @media screen and (max-width: 768px) {
                    margin: 10px 7.5% 10px 0;
                }


                li {
                    /*width: 220px;*/
                    /*float: left;*/

                    .songs {
                        margin-top: 0;
                        .thumbnail-media {
                            width: 215px;
                            height: 120px;
                        }

                        .desc-wrapper {
                            z-index: 1;
                            .thumbnail-desc {
                                margin: 0;
                                box-shadow: none;
                                width: 203px;

                                &:before {
                                    background: rgba(255,255,255,0) url(../../user-img/common/directives/thumbnail/top.png) left top no-repeat;
                                    top: -16px;
                                    width: 223px;
                                    background-size: contain;
                                }
                            }
                            .lower-curve {
                                margin: -3px 0 0 0;
                                background: rgba(255,255,255,0) url(../../user-img/common/directives/thumbnail/bottom.png) left top no-repeat;
                                background-size: cover;
                                width: 223px;
}
                        }
                    }
                }
            }
        }
    }


    /*UI to-do need to check their relevance */
    /*.ajab-wrapper:before,
    .ajab-wrapper:after {
        content: "";
        display: table;
    }
    .ajab-wrapper:after {
        clear: both;
    }*/

}
