/* reset tools */

.line{display:inline-block;width:100%;height:1px;clear:both;}
.newline{clear:both;display:block;}

.left-nav{
    float: left;
    width: 10%;
    text-align: center;
    margin: 0 auot;
    color:#666;
}
/* Styles for grid View page for all songs */

.all-songs {
    margin: 125px 0 0 0;

    .headerBox {
        position: absolute;
        top: 0;
        left: 0;
    }

    .ajab-wrapper {
        width: 98%;
        margin: 0 1%;
    }

    .ajab-wrapper:before,
    .ajab-wrapper:after {
        content: "";
        display: table;
    }
    .ajab-wrapper:after {
        clear: both;
    }
    .ajab-wrapper {
        zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    }
}

.gridView{
    float: left;
    width: 90%;
    color:#666;
}

.gridWrapper{
    text-align: left;
}

.pagination-head {
    display: inline-block;
    width: 100%;
    padding: 0% 0 2%;
    float: left;

    &>.upper {
        display: inline-block;
        width: 96%;
        float: left;
        padding-bottom: 5px;
        border-bottom: solid 1px #ccc;

    .breadcrumb {
        font-size: 12px;
        text-transform: uppercase;
        li {
            float: left;
            margin-right: 1%;
        &>a {
            color: #888;
            text-transform: uppercase;
        }
        &>.active {
            text-transform: uppercase;
            color: #00A199;
        }
    }
}

.numericCount {
    float: left;
    margin-left: 25px;
    font-weight: 300;
    font-size: 14px;
    color: #888;
}

.search-box {
    float: left;
    margin-right: 5%;

    .search {
        width: 150px;
        border-radius: 3px;
        border: solid 1px #ccc;
        height: 28px;
        line-height: 18px;
        outline: 0;
        float: left;
        background: #FFF;
        margin-top: -5px 8px 5px 0;
        display: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 19px;
        background: transparent url('../../img/songs/icons/search.png') 0 0 no-repeat;
        cursor: pointer;
    }
}

.view-options {
    float: right;
    &>a {
        background: transparent url('../../img/songs/icons/grid.png') 0 0 no-repeat;
        width: 20px;
        height: 18px;
        display: inline-block;

        &.list {
           background-image: url('../../img/songs/icons/list.png');
           background-position: 0;
        }
    }
}

.upper-right {
    float: right;
    width: 85px;
}


}

.alphabets {
    display: inline-block;
    text-transform: uppercase;
    clear: both;
    text-align: left;
    padding: 5px 0;
    width: 100%;
    li {
    float: left;
    width: 3.8%;
        a {
            color: #888;
            cursor: pointer;
            font-size: 15px;
            font-weight: 300;
        }
        &>.active {
            color: #00A199;
        }
    }
}
}

.gridView {
    .gridWrapper {
        .songs{
            width:100%;
            /*height:200px;
            margin:3.5%;*/
            margin-bottom: 120px;
            float:left;
        }
    }
}

.navInfoBar {
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #ccc;
    text-transform: uppercase;
}

.navElementsWrapper {
    position: relative;
    .categoryLogo {
        background: transparent url('../../img/songs/songs-logo.png');
        position: absolute;
        top: -20px;
        width: 93px;
        height: 86px;
        left: 15%;
        img{
            border-radius: 100px;
        }
    }

    .filter {
        padding-top: 85px;
        display: block;
        font-size: 10px;
        text-transform: uppercase;
        color: #e61b72;
    }
}

.nav-list {
    float: left;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 200px;
    padding: 160px 0 0 25px;
    text-align: left;
    height: 100%;
    background: #FFF url('../../img/songs/filter.png') right 0 repeat-y;
    li {
    margin: 0 2%;
        &.original {
            border-right: solid 1px #666;
            padding-right: 10px;
            margin-right: 7px;
        }
    }

    &.titles {
        li {
            float:left;
        }
    }

    &.filters {
        li {
            margin: 0 2% 15px 0%;
            display: inline-block;
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            font-family: 'Merriweather';
            color: #666;

            &.head {
                display: inline-block;
                width:100%;
                margin-bottom: 10px;
                font-size: 10px;
                color: #999;
                text-transform: uppercase;
                font-family: 'Merriweather Sans';
            }

            a.active {
                color: #00a199;
            }
        }
    }
}

.flexiThumbnails {
    display: inline-block;

    li {
        width: 220px;
        float: left;
        margin: 0 23px 7% 23px;
    }

    .thumbnail{
        width:100%;
    }
}



