
.song-parallax-container.songsParallax {
    display: inline-block;
    width: 100%;
    position: relative;

    .pxSongLayers {
        width:100%;
        height:5540px;
        position: absolute;
    }

    .px-song-layer {


       &1 {
            background: url(../../img/songs/parallax/songbg.jpg)  0px -185px no-repeat;
            background-size: contain;
       }

       &2 {
            background: url(../../img/songs/parallax/tambura.png) 0px repeat-y;
       }

       &3 {
            background: url(../../img/songs/parallax/tambura2.png) 0px  -185px no-repeat;
       }

       &4 {
            background: url(../../img/songs/parallax/triangles.png) -14px -188px no-repeat;
            opacity: 0.3;
       }

       &5 {
            background: url(../../img/songs/parallax/vibrations.png) 0px  -185px no-repeat;
            background-size: contain;
       }

       &6 {
            background: url(../../img/songs/parallax/darkedges.png) 0px  -185px no-repeat;
            background-size: contain;
            opacity: 0.6;
       }

       &7 {
            background: url(../../img/songs/parallax/pingla.png) 0px  -185px no-repeat;
       }

       &8 {
            background: url(../../img/songs/parallax/ingla.png) 0px  -185px no-repeat;
       }

       &9 {
            background: url(../../img/songs/parallax/sushamna.png) 0px  -185px no-repeat;
       }

       &10 {
            background: url(../../img/songs/parallax/snake.png) 0px  -185px no-repeat;
       }
    }
 }


