@import '../reset';
@import '../common';
/* styles for songs details page */

body.page-songs {

    background: transparent url(../../../user/img/common/bg/bg_pattern.jpg);

    .headerBox {
        position: absolute;
    }
    .page-header {
        /*background: transparent url(../../img/songs/song-detail-hdr-shadow1.png) bottom center no-repeat;*/
        background: transparent url(../../img/songs/pardah_long.png) -800px bottom no-repeat;
        width: 100%;
        height: 155px;
        padding-top: 10px;
        display: inline-block;


        .logo-container {
            float: left;

            .page-logo {
                background: transparent url(../../img/songs/songs-logo.png) 0 0 no-repeat;
                width: 93px;
                height: 86px;
                float: left;
                clear: both;
            }
        }


        .page-title {
            float: left;
            margin: 40px 0 0 1.2%;
            font-family: 'Merriweather';
            font-weight: 300;
            .main {
                font-size: 21px;
                margin-right: 5px;
                color: #333;
            }
            .sub-main {
                font-size: 18px;
                color: #999;
                font-style: italic;

            }


        }

        /*.light-bg {
            height: 143px;
            top: -16px;
        }*/

    }


    .see-more {
        background: transparent url(../../img/songs/pardah_long.png) -800px bottom no-repeat;
        height: 68px;
        width: 100%;
        display: inline-block;
        position: relative;
        top: -38px;
        text-align: center;
        .version {
            position: absolute;
            top: 16px;
            left: 48%;
            font-family: 'Merriweather';
            font-size: 12px;
            color: #999;
            font-weight: 300;

        }
        .arrow {
            background: transparent url(../../img/songs/down-arrow.png) 0 0 no-repeat;
            height: 12px;
            width: 19px;
            display: inline-block;
            &.up-arrow {
                background-image: url(../../img/songs/up-arrow.png);
            }
        }

    }


    .carousel-wrapper.jcarousel-wrapper {
        border: none;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        width: 100%;

        .carousel-box {
            width: 90%;
            text-align: center;
            margin: 0 auto;
            padding: 12px 0 0;
        }

        /*.light-bg {
            height: 296px;
            top: -33px;
        }*/

        .jcarousel {

            &>ul {
                height: 240px;
                display: inline-block;
                li {
                    margin-left: 63px;
                    margin-right: 28px;
                    border: none;
                    position: relative;
                    max-width: 255px !important;
                }
            }

        }

        .jcarousel-control-prev, .jcarousel-control-next {
            background: transparent url(../../img/songs/carousel-left.png) 0 0 no-repeat;
            width: 28px;
            height: 39px;
            display: inline-block;
            text-shadow: none;
            border-radius: 0;
            box-shadow: none;
            top: 40%;
        }
        .jcarousel-control-prev {
            left: -10px;
        }

        .jcarousel-control-next {
            background-image: url(../../img/songs/carousel-right.png);
            right: 0;
        }
        /*UI: WIP */
        .thumbnailWrapper {
            margin: 0;
            .thumbnail-media {
               height: 139px;
            }
            .desc-wrapper {
                .thumbnail-desc {
                    /*width: 200px;*/
                }
            }
        }
    }

    .main-content {
        margin-top: 60px;
        min-height:  500px;
    }

    #song_container {

        youtube {
            width: 853px;
            display: inline-block;
            height: 480px;

            iframe {
                border: solid 5px #fff;
                /*.box-shadow(#777, 10px);*/
                height: 470px;
                width: 843px;
            }
        }

        .rendition-wrapper {
            ul {
                float: right;
                padding: 0 0 6px;
                li {
                    float: left;
                    color: #999;
                    &>a {
                        color: #999;
                        margin: 0 3px;

                        &.active {
                            /*color: @activeLink;*/
                        }
                    }
                }
            }
        }

        .info {
            width: 843px;
            display: none;
            max-height: 260px;
            margin: 45px 0;
            color: #666;
            font-size: 12px;
            font-family: 'Merriweather';
            font-weight: 300;
            overflow: auto;
            text-align: left;
        }

        .video-options {
            width: 100%;
            display: inline-block;
            &>ul {
                text-align: left;
                float: left;
                position: relative;
                font-size: 14px;
                width: auto;

                &>li {
                    float:left;
                    padding: 10px 5px;
                    color: #999;
                }
            }

            ul.share-options {
                li {
                    a {
                        background: transparent url(../../img/songs/songs_sprite.png) 0  0 no-repeat;
                        display: inline-block;
                        width: 26px;
                        height: 23px;

                        &.favorite {
                            background-position: 0 -25px;
                            height: 22px;
                        }
                        &.share {
                            background-position: -26px 0;
                            height: 23px;
                        }
                        &.download {
                            background-position: -26px -23px;
                        }
                    }

                }
            }
        }




        .song-details {
            width: 873px;
            margin: 45px 0 40px;
            float: left;

            dl {
                margin: 4px auto;
                clear: both;
                line-height: 23px;
                text-align: center;
                display: block;

                dt {
                    color: #e6257a;
                    text-transform: capitalize;
                    display: inline-block;
                }
                dd {
                    color: #7f8080;
                    text-transform: uppercase;
                    display: inline-block;
                    margin: 0 20px 0 0;
                }
            }
        }
    }

    #song_container, #poem_container {
        clear: both;
        width: 853px;
    }


    #poem_container {
        text-align: center;
        padding: 10px 0 50px;
        font-weight: 300;
        line-height: 27px;

        .song-heading {
            color: #ccc;
            font-size: 38px;
            line-height: 52px;
            padding: 0 0 20px;
            font-weight: 300;

            &.hindi {
                font-family: 'Ek Mukta', sans-serif;
                font-size: 65px;
            }
        }

        .poet-details {
            color: #676767;
            font-size: 14px;
        }

        .initial-couplets {
            color: #999;
            font-size: 15px;
        }

    }

     .lyrics-footer {
        background: transparent url(../../img/songs/song_bottom.png) 0  0 no-repeat;
        height: 100px;
        width: 100%;
        display: inline-block;
        position: relative;
        ul {
            margin: 20px auto 0px;
            display: inline-block;
            width: 12%;
            &>li {
                float: left;
                margin-left: 30px;
                &:first-child {
                    margin-left: 0;
                }
                &>a {
                    float: left;
                    width: 36px;
                    height: 36px;
                    background: transparent url(../../img/songs/songs_sprite.png) 0  0 no-repeat;
                    /*margin-left: 0.5%;*/
                }


                &.original {
                    &>a {
                        background-position: 0px -48px;
                    }
                }
                &.transliteration {
                    &>a {
                        background-position: 0px -84px;
                    }
                }
                &.translation {
                    &>a {
                        background-position: 0px -120px;
                    }
                }
            }
        }
        .play-icon {
            position: absolute;
            right: 13%;
            bottom: 40px;
            background: transparent url(../../img/songs/songs_sprite.png) -52px  0px no-repeat;
            width: 50px;
            height: 102px;
            display: inline-block;
        }
    }


}

.nav-list.show {
    display: block;
}

.ajab-wrapper {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.left-menu-open {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
}

.song-grid {
    width: 100%;

    .flexiThumbnails {
        width: 250px;

        li {
            width: 220px;
            margin-left: 0;

            .songs {
                margin-top: 0;

                .thumbnail-media {
                    width: 220px;
                }

                .desc-wrapper {
                    .thumbnail-desc {
                        margin: 0 0 0 4px;
                        box-shadow: none;
                        width: 189px;

                        &:before {
                            background: rgba(255,255,255,0) url(../../img/songs/top-all-song.png) left top no-repeat;
                            top: -16px;
                            left: -1px;
                        }
                    }
                    .lower-curve {
                        margin: 0 0 0 3px;
                        background: rgba(255,255,255,0) url(../../img/songs/bottom-all-song.png) left top no-repeat;
                    }
                }
            }
        }
    }
}



