
.song-parallax-container{
    display: inline-block;
    width: 100%;
    position: relative;

    .pxSongLayers {
        width:100%;
        top: 0;
        left: 0;
        height: 5000px;
        position: absolute;
    }

    .px-song-layer {


       &1 {
            background: url(../../user-img/songs/parallax/main_bg.png)  0px 0px no-repeat;
            background-size: contain;
       }

       &2 {
            background: url(../../user-img/songs/parallax/vibration.png) 0 0 fixed;
            background-repeat: no-repeat repeat;
            opacity: 0.2;
            background-size: cover;
       }

       &3 {
            background: url(../../user-img/songs/parallax/ingla.png) 0px  0px no-repeat;
            background-size: contain;
       }

       &4 {
            background: url(../../user-img/songs/parallax/pingla.png) 0px  0px no-repeat;
            background-size: contain;
       }

       &5 {
            background: url(../../user-img/songs/parallax/sushamna.png) 0px  0px no-repeat;
            background-size: contain;
       }

       &6 {
          background: url(../../user-img/songs/parallax/snake.png) 0px  0px no-repeat;
          bottom: 10px;
          left: 40%;
       }

       &7 {
            background: url(../../user-img/songs/parallax/pingla.png) 0px  -185px no-repeat;
       }

       &8 {
            background: url(../../user-img/songs/parallax/ingla.png) 0px  -185px no-repeat;
       }

       &9 {
            background: url(../../user-img/songs/parallax/sushamna.png) 0px  -185px no-repeat;
       }

       &10 {
            background: url(../../user-img/songs/parallax/snake.png) 0px  -185px no-repeat;
       }
    }
 }


