body.page-songs {
background: #ccc url(../../../user/img/common/bg/overlaybg.jpg);
}



body.page-songs .homepage-content.songs{

}

body.page-songs .thumbnailWrapper{
margin-top:0;
}



.songsParallax.song-parallax-container{
display: inline-block;
width: 100%;
position: relative;
}

.songsParallax .pxSongLayers{
  width:100%;height:5540px;position: absolute;
}

.songsParallax .px-song-layer1{
   background: url(../../img/songs/parallax/songbg.jpg)  0px -185px no-repeat;background-size: contain;
}

.songsParallax .px-song-layer2{
   background: url(../../img/songs/parallax/tambura.png) 0px repeat-y;
}

.songsParallax .px-song-layer3{
   background: url(../../img/songs/parallax/tambura2.png) 0px  -185px no-repeat;
}

.songsParallax .px-song-layer4{
    background: url(../../img/songs/parallax/triangles.png) -14px -188px no-repeat;
    opacity: 0.3;
}

.songsParallax .px-song-layer5{
   background: url(../../img/songs/parallax/vibrations.png) 0px  -185px no-repeat;background-size: contain;
}

.songsParallax .px-song-layer6{
   background: url(../../img/songs/parallax/darkedges.png) 0px  -185px no-repeat;background-size: contain;
   opacity: 0.6;
}

.songsParallax .px-song-layer7{
   background: url(../../img/songs/parallax/pingla.png) 0px  -185px no-repeat;
}

.songsParallax .px-song-layer8{
   background: url(../../img/songs/parallax/ingla.png) 0px  -185px no-repeat;
}

.songsParallax .px-song-layer9{
   background: url(../../img/songs/parallax/sushamna.png) 0px  -185px no-repeat;
}

.songsParallax .px-song-layer10{
   background: url(../../img/songs/parallax/snake.png) 0px  -185px no-repeat;
}



/* styles for songs details page */

.page-songs .headerWrapper {
    display: none;
}

.page-header {
    background: transparent url(../../img/songs/song-detail-hdr-shadow.png) bottom center no-repeat;
    width: 100%;
    height: 132px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;

}

.page-header .page-logo {
    background: transparent url(../../img/songs/songslogo.png) 0 0 no-repeat;
    width: 106px;
    height: 106px;
    float: left;
    margin-left: 2%;
}

.page-header .page-title {
    float: left;
    margin: 40px 0 0 2%;

}


    .light-bg {
    position: absolute;
    width: inherit;
    background: #fff;

    opacity: 0.2;

}

.page-header .light-bg {
    height: 105px;
    top: -11px;
}

.carousel-wrapper.jcarousel-wrapper .light-bg {
    height: 21px;
}

.page-header .page-title .main {
    font-size: 21px;
    margin-right: 10px;
}

.page-header .page-title .sub-main {
    font-size: 18px;
    color: #999;
}

.carousel-wrapper.jcarousel-wrapper {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    margin-top: 37px;
}

.carousel-wrapper .carousel-box {
    display: none;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0 0;
}

.carousel-wrapper .see-more {
    background: transparent url(../../img/songs/song-detail-hdr-shadow.png) bottom center no-repeat;
    height: 38px;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.carousel-wrapper .see-more .version {
    padding: 5px 0 0;
    display: inline-block;
}

.carousel-wrapper .see-more .arrow {
    background: transparent url(../../img/songs/arrow-down.png) 0 0 no-repeat;
    height: 10px;
    width: 12px;
    display: inline-block;
}




