@import '../reset';
@import '../common';

#songs_landing {
    .page-header {
        .page-header-with-logo();
    }
}
.homepage-content {
    width: 70%;
    position: relative;
    height: 2500px !important;
    margin: 18% auto 0;

    .logo-container.fixed {
        left: 15%;
        top: 45px !important;
    }
}
.song-parallax-container{
    width: 1140px;
    position: relative;
    z-index: -1;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        width: 1024px;
    }

    .pxSongLayers {
        width:100%;
        top: 0;
        left: 0;
        height: 4000px;
        position: absolute;
    }

    .px-song-layer {


       &1 {
            background: url(../../user-img/songs/parallax/background_song.jpg)  0px 0px;
            background-repeat: no-repeat repeat;

       }

       &2 {
            background: url(../../user-img/songs/parallax/white_tambura.png) 0 0 no-repeat;
            width: 200px;
            -webkit-animation: antirotation 100s linear -5s infinite;
            -moz-animation: antirotation 100s linear -5s infinite;
            -o-animation: antirotation 100s linear -5s infinite;
            animation: antirotation 100s linear -5s infinite;
            height: 495px;
            top: 340px;
            left: 13%;
            &.tambura-small-1 {
                background: url(../../user-img/songs/parallax/tambura_small_white.png) 0 0 no-repeat;
                top: 1500px;
                width: 190px;
                left: 12%;
                opacity: 0.8;
                background: url(../../user-img/songs/parallax/white_tambura.png) 0 0 no-repeat;
                height: 500px;
                -webkit-animation: antirotation 100s linear 2s infinite;
                -moz-animation: antirotation 100s linear 2s infinite;
                -o-animation: antirotation 100s linear 2s infinite;
                animation: antirotation 100s linear 2s infinite;
            }
       }

       &3 {
            background: url(../../user-img/songs/parallax/tambura_small.png) 0px  0px no-repeat;
            opacity: 0.25;
            top: 1000px;
            left: 58%;
            width: 190px;
            height: 400px;
            -webkit-animation: rotation 60s linear 3s infinite;
            -moz-animation: rotation 60s linear 3s infinite;
            -o-animation: rotation 60s linear 3s infinite;
            animation: rotation 60s linear 3s infinite;

            &.tambura-small-1 {
                left: 62%;
                top: 2000px;
                -webkit-animation: rotation 60s linear 1s infinite;
                -moz-animation: rotation 60s linear 1s infinite;
                -o-animation: rotation 60s linear 1s infinite;
                animation: rotation 60s linear 1s infinite;
            }

       }

       &4 {
            background: url(../../user-img/songs/parallax/triangles_new.png) 0px  0px;
            opacity: 0.5;
       }

       &5 {
            background: url(../../user-img/songs/parallax/viberations_new.png) 0px  0px repeat;
            opacity: 0.15;
            left: -4%;
            height: 4277px;
            background-size: contain;
            -webkit-animation: moveUp 200s linear infinite;
            -moz-animation: moveUp 200s linear infinite;
            -o-animation: moveUp 200s linear infinite;
            animation: moveUp 200s linear infinite;

           &.top-to-bottom {
                -webkit-animation: moveDown 200s linear infinite;
                -moz-animation: moveDown 200s linear infinite;
                -o-animation: moveDown 200s linear infinite;
                animation: moveDown 200s linear infinite;
           }
       }

       &6 {
          background: url(../../user-img/songs/parallax/ingla.png) 0px  0px;
          background-repeat: no-repeat repeat;
          background-size: contain;
          width: 53px;
          left: 22%;
       }

       &7 {
            background: url(../../user-img/songs/parallax/pingla.png) 0px  0px;
            background-repeat: no-repeat repeat;
            left: 68%;
            width: 112px;
            background-size: contain;
            @media screen and (max-width: 768px) {
                left: 4%;
            }
       }

       &8 {
            background: url(../../user-img/songs/parallax/sushamna.png) 0 0;
            background-repeat: no-repeat repeat;
            background-size: contain;
            left: 44%;
            width: 144px;
       }

       &9 {
            background: url(../../user-img/songs/parallax/snake.png) 0px  0 no-repeat;
            top: 2244px;
            left: 40%;
       }

       &10 {
           background: url(../../user-img/songs/parallax/vignette.png) 0px  0 repeat;
           opacity: 0.2;
           /*position: fixed;*/
           width: 1140px;
       }

       &11 {

          &:before, &:after {
               content: '';
               display: inline-block;
               background: transparent url(../../user-img/mainLandingPage/parallax/side_pattern.png) 0 0;
               width: 30px;
               background-repeat: no-repeat repeat;
               height: 100%;
               @media screen and (max-width: 1140px) {
                   display: none;
               }
          }

           &:before {
               float: left;
           }
           &:after {
               float: right;
               -webkit-transform: rotate(180deg);
               -moz-transform: rotate(180deg);
               -o-transform: rotate(180deg);
               transform: rotate(180deg);
           }
       }



    }
 }

 /* Animation */

 @-webkit-keyframes rotation {
     0% { -webkit-transform: rotate(0); }
     100% { -webkit-transform: rotate(360deg); }
 }
  @-webkit-keyframes antirotation {
      0% { -webkit-transform: rotate(0); }
      100% { -webkit-transform: rotate(-360deg); }
  }

  @-moz-keyframes rotation {
       0% { -webkit-transform: rotate(0); }
       100% { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes antirotation {
       0% { -webkit-transform: rotate(0); }
       100% { -webkit-transform: rotate(-360deg); }
  }

  @-o-keyframes rotation {
        0% { -webkit-transform: rotate(0); }
        100% { -webkit-transform: rotate(360deg); }
  }
  @-o-keyframes antirotation {
        0% { -webkit-transform: rotate(0); }
        100% { -webkit-transform: rotate(-360deg); }
  }

  @keyframes rotation {
        0% { -webkit-transform: rotate(0); }
        100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes antirotation {
        0% { -webkit-transform: rotate(0); }
        100% { -webkit-transform: rotate(-360deg); }
  }

  @-webkit-keyframes moveUp {
        0% {  background-position: 0 0; }
        100% { background-position: 0 -4277px; }
  }
  @-webkit-keyframes moveDown {
        0% {  background-position: 0 0; }
        100% { background-position: 0 4277px; }
  }

  @-moz-keyframes moveUp {
        0% {  background-position: 0 0; }
        100% { background-position: 0 -4277px; }
  }
  @-moz-keyframes moveDown {
        0% {  background-position: 0 0; }
        100% { background-position: 0 4277px; }
  }
   @-o-keyframes moveUp {
          0% {  background-position: 0 0; }
          100% { background-position: 0 -4277px; }
    }
   @-o-keyframes moveDown {
          0% {  background-position: 0 0; }
          100% { background-position: 0 4277px; }
   }

   @keyframes moveUp {
          0% {  background-position: 0 0; }
          100% { background-position: 0 -4277px; }
   }
   @keyframes moveDown {
          0% {  background-position: 0 0; }
          100% { background-position: 0 4277px; }
   }



