html {
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow: hidden;
  background: #fff;
}

// Featured Content Page Layout

.main-content-wrapper {
  overflow: hidden;
  margin-top: -5%;
}

.ajab-container {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.ajab-wrapper {
  width: 98%;
  text-align: center;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shareItemsDropDown ul {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10%;

  padding: 1%;
  width: 23%;
  color: #b3b3b3;
  background: #ffffff;
  //box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  line-height: 1.5;
  background: transparent url('/user/img/songs/relatedlinks_parda.png') 0 0 no-repeat;
  background-size: 100% 100%;
}

.shareItemsDropDown ul li{
  display: inline;
  padding: 0 6%;
}

.shareItemsDropDown ul li:hover{
  color: $pink;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}