<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="">
    <meta charset="UTF-8">
    <title></title>
    <title></title>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script type="text/javascript" src="../../js/controllers/songs/detailsController.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/sticky.js"></script>
    <link href="../../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../css/admin.css" rel="stylesheet" type="text/css">

    <link href="../../../common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <div>
            <div ng-controller="songDetailsController" ng-init="AddNewDiv=false">
                <form >

                <div class="row">
                    <div class="form-group col-sm-2" >
                        <label>Umbrella Title</label>
                    </div>
                    <div class="form-group col-sm-1"  >
                        <select ng-model="formInfo.title" ng-disabled="AddNewDiv"
                                ng-options="uTitle.originalTitle for uTitle in umbrellaTitleList">
                        </select>
                    </div>

                    <div class="form-group col-sm-2" >
                        <button type="button" ng-click="enableNew()">Add New</button>
                    </div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-2" ng-show="AddNewDiv">
                            <label>Original Title</label>
                        </div>
                        <div class="form-group col-sm-5" ng-show="AddNewDiv">
                            <input type="text" ng-model="formInfo.title.originalTitle">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2" ng-show="AddNewDiv">
                            <label>English Translation</label>
                        </div>
                        <div class="form-group col-sm-5" ng-show="AddNewDiv">
                            <input type="text" ng-model="formInfo.title.englishTranslation">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2" ng-show="AddNewDiv">
                            <label>English Transliteration</label>
                        </div>
                        <div class="form-group col-sm-5" ng-show="AddNewDiv">
                            <input type="text" ng-model="formInfo.title.englishTransliteration">
                        </div>
                    </div>
                    <div class="form-group col-sm-2" ng-show="AddNewDiv">
                        <button type="button" ng-click="disableNew()">Cancel</button>
                    </div>
                </div>

                 <div class="row" ng-init="AddNewSongTitle=false">
                        <div class="form-group col-sm-2" >
                            <label>Song Title</label>
                        </div>
                        <div class="form-group col-sm-1"  >
                            <select ng-model="formInfo.songTitle" ng-disabled="AddNewSongTitle"
                                    ng-options="sTitle.originalTitle for sTitle in songTitleList">
                            </select>
                        </div>

                        <div class="form-group col-sm-2" >
                            <button type="button" ng-click="enableNewSongTitle()">Add New</button>
                        </div>
                        <div class="row col-sm-12">
                            <div class="form-group col-sm-2" ng-show="AddNewSongTitle">
                                <label>Original Title</label>
                            </div>
                            <div class="form-group col-sm-5" ng-show="AddNewSongTitle">
                                <input type="text" ng-model="formInfo.songTitle.originalTitle">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2" ng-show="AddNewSongTitle">
                                <label>English Translation</label>
                            </div>
                            <div class="form-group col-sm-5" ng-show="AddNewSongTitle">
                                <input type="text" ng-model="formInfo.songTitle.englishTranslation">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2" ng-show="AddNewSongTitle">
                                <label>English Transliteration</label>
                            </div>
                            <div class="form-group col-sm-5" ng-show="AddNewSongTitle">
                                <input type="text" ng-model="formInfo.songTitle.englishTransliteration">
                            </div>
                        </div>
                        <div class="form-group col-sm-2" ng-show="AddNewSongTitle">
                            <button type="button" ng-click="disableNewSongTitle()">Cancel</button>
                        </div>
                 </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Singer</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <select  ng-model="formInfo.singers[0]"
                                 ng-options="singer.firstName for singer in singersList">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Poet</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <select  ng-model="formInfo.poets[0]"
                                 ng-options="poet.firstName for poet in poetsList">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Show On LandingPage</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <select name="format" ng-model="formInfo.showOnLandingPage">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Song Category</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <select ng-model="formInfo.songCategory"
                                ng-options="category.name for category in songCategoryList">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Duration</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <input type="text" name="duration" ng-model="formInfo.duration">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Youtube Video ID for video</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <input type="text" name="youtubeVideoId" ng-model="formInfo.youtubeVideoId">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>SoundCloud track ID for audio</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <input type="text" name="soundCloudTrackID" ng-model="formInfo.soundCloudTrackID">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Thumbnail Url</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnail_url">
                    </div>
                </div>



                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Publish</label>
                    </div>
                    <div class="form-group col-sm-5">
                        <select name="format" ng-model="formInfo.isAuthoringComplete">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>

                <button type="submit" ng-click="saveData()">Save</button>
            </form>
           </div>
        </div>
    </div>
</body>
</html>