<!DOCTYPE html>
<html ng-app="songsAdminApp" xmlns="http://www.w3.org/1999/html">
<head lang="">
    <meta charset="UTF-8">
    <title>Song details - admin</title>
    <script type="text/javascript" src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-multi-select/angular-multi-select.js"></script>
    <script type="text/javascript" src="../../../common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../js/lib/textAngular-rangy.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="../../js/services/songContentService.js"></script>
    <script type="text/javascript" src="../../js/Songs/songsAdminApp.js"></script>
    <script type="text/javascript" src="../../js/controllers/songs/songDetailsController.js"></script>
    <script type="text/javascript" src="../../js/directives/songText.js"></script>
    <script type="text/javascript" src="../../js/directives/asAdminTitle.js"></script>

    <link href="../../css/admin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../common/lib/angular-multi-select/angular-multi-select.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <style>
        .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        }
    </style>
</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self"><button type="button" class="btn btn-info adminHome">Admin home</button></a>
<div class="left">
    <h2>Enter song details</h2>
    <br/>
        <div class="left">
            <div>
                <form name="songForm" novalidate ng-controller="songDetailsController">

                    <div class="row">
                        <as-admin-title title="Umbrella Title" title-data="formInfo.title" title-list="umbrellaTitleList" authoring-complete="false"></as-admin-title>
                    </div>

                    <div class="row">
                        <as-admin-title title="Song Title" title-data="formInfo.songTitle" title-list="songTitleList" authoring-complete="formInfo.isAuthoringComplete"></as-admin-title>
                    </div>

                    <div class="row">
                        <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Singer</label>
                        </div>
                        <div class="form-group col-sm-2" multi-select input-model="singersList" button-label="firstName lastName" item-label="firstName lastName" tick-property="selected" output-model="formInfo.singers"></div>
                        <input name="singers" ng-model="formInfo.singers" ng-show="false" required="true">
                         </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Poet</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <select  ng-model="formInfo.poets[0]"
                                     ng-options="poet.firstName + ' ' + poet.lastName for poet in poetsList  | orderBy:'firstName'" class="form-control" ng-required="formInfo.isAuthoringComplete">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Show On LandingPage</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <select name="format" ng-model="formInfo.showOnLandingPage" class="form-control" ng-required="formInfo.isAuthoringComplete">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Song Category</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <select ng-model="formInfo.songCategory"
                                    ng-options="category.name for category in songCategoryList" class="form-control" ng-required="formInfo.isAuthoringComplete">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Duration</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="duration" ng-model="formInfo.duration" class="form-control" ng-required="formInfo.isAuthoringComplete">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Youtube Video ID for video</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="youtubeVideoId" ng-model="formInfo.youtubeVideoId" class="form-control" ng-required="formInfo.isAuthoringComplete">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>SoundCloud track ID for audio</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="soundCloudTrackID" ng-model="formInfo.soundCloudTrackID" class="form-control" >
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* Thumbnail Url</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnail_url" class="form-control" ng-required="formInfo.isAuthoringComplete">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Download Url for the song</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" name="downloadUrl" ng-model="formInfo.download_url" class="form-control">
                        </div>
                    </div>
                     <song-text poets="poetsList" song-text="formInfo.songText" authoring-complete="formInfo.isAuthoringComplete"></song-text>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>* About</label>
                        </div>
                        <span>The number of characters should be less that 1500, else the submit will be disabled</span>
                        <div class="form-group col-sm-8">
                            <text-angular name="htmlcontent" ng-model="formInfo.about" ta-max-text="1500" ng-required="formInfo.isAuthoringComplete"></text-angular>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2">
                            <label>Publish</label>
                        </div>
                        <div class="form-group col-sm-1">
                            <select name="format" ng-model="formInfo.isAuthoringComplete" class="form-control" ng-init="formInfo.isAuthoringComplete=false">
                                <option value="true">Yes</option>
                                <option value="false" ng-selected="true">No</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <button type="submit" ng-click="saveData()"  ng-disabled="!songForm.$valid" class="btn btn-primary btn-lg">Save</button>
                </form>
            </div>
        </div>
</div>
</body>
</html>