<!DOCTYPE html>
<html ng-app="songsAdminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit songs details</title>
    <script type="text/javascript" src="../../common/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-multi-select/angular-multi-select.js"></script>
    <script type="text/javascript" src="../../common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="../../common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="../../admin-js/services/contentService.js"></script>
    <script type="text/javascript" src="../../admin-js/services/songContentService.js"></script>
    <script type="text/javascript" src="../../admin-js/Songs/songsAdminApp.js"></script>
    <script type="text/javascript" src="../../admin-js/app.js"></script>
    <script type="text/javascript" src="../../admin-js/controllers/songs/songDetailsController.js"></script>
    <script type="text/javascript" src="../../admin-js/directives/songText.js"></script>
    <script type="text/javascript" src="../../admin-js/directives/asAdminTitle.js"></script>
    <link rel="stylesheet" href="../../common/lib/angular-multi-select/angular-multi-select.css">
    <link href="../../admin-css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
</head>
<body>
<a ng-href="/admin/home.html" target="_self"><button type="button" class="btn btn-info admin-home">Admin home</button></a>
<div class="left">
    <h2>Edit song details</h2>
    <div class="left">
        <div ng-controller="songDetailsController" ng-init="getSongData()">
            <form name="songForm">
                <div class="row">
                    <as-admin-title title="Umbrella Title" title-data="formInfo.title" title-list="umbrellaTitleList" title-id="formInfo.title.id" authoring-complete="false"></as-admin-title>
                </div>

                <div class="row">
                    <as-admin-title title="Song Title" title-data="formInfo.songTitle" title-list="songTitleList" title-id="formInfo.songTitle.id" authoring-complete="formInfo.isAuthoringComplete"></as-admin-title>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Singer</label>
                    </div>
                    <div   class="form-group col-sm-2"
                           multi-select
                           input-model="singersList"
                           button-label="firstName lastName"
                           item-label="firstName lastName"
                           tick-property="ticked"
                           output-model="formInfo.singers"
                            >
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Poet</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <select ng-model="formInfo.poets[0].id"
                                ng-options="poet.id as poet.firstName + ' ' + poet.lastName for poet in poets" class="form-control" ng-required="formInfo.isAuthoringComplete">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Show On LandingPage</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <select name="format" ng-model="formInfo.showOnLandingPage" class="form-control" ng-required="formInfo.isAuthoringComplete">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Song Category</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <select ng-model="formInfo.songCategory.id"
                                ng-options="category.id as category.name for category in songCategoryList" class="form-control" ng-required="formInfo.isAuthoringComplete">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Duration</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="duration" ng-model="formInfo.duration" class="form-control" ng-required="formInfo.isAuthoringComplete">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Youtube Video ID for video</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="youtubeVideoId" ng-model="formInfo.youtubeVideoId" class="form-control" ng-required="formInfo.isAuthoringComplete">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>SoundCloud track ID for audio</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="soundCloudTrackID" ng-model="formInfo.soundCloudTrackID" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* Thumbnail Url</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnail_url" class="form-control" ng-required="formInfo.isAuthoringComplete">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Download Url</label>
                    </div>
                    <div class="form-group col-sm-2">
                        <input type="text" name="downloadUrl" ng-model="formInfo.download_url" class="form-control">
                    </div>
                </div>

                <song-text poets="poetsList" song-text="formInfo.songText" ></song-text>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>* About</label>
                    </div>
                    <span>The number of characters should be less that 1000, else the submit will be disabled</span>
                    <div class="form-group col-sm-8">
                        <text-angular name="htmlcontent" ng-model="formInfo.about" ta-max-text="1000"></text-angular>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-2">
                        <label>Publish</label>
                    </div>
                    <div class="form-group col-sm-2" ng-init='authoringOptions=[{ "value": true, "text": "Yes" }, { "value": false, "text": "No" }]'>
                        <select class="form-control" ng-model="formInfo.isAuthoringComplete" ng-options="authoringOption.value as authoringOption.text for authoringOption in authoringOptions"></select>
                    </div>
                </div>

                <button type="submit" ng-click="updateSong()" ng-disabled="!songForm.$valid" class="btn btn-primary btn-lg">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>