<div class='footerBox ajab-container '>
      <div class='footerArt'></div>
      <div class='footerWrapper'>
       <footer class='ajab-wrapper'>
       <ul class='footerList'>
        <li>Songs</li>
        <li>Couplets</li>
        <li>words</li>
       </ul>

        <ul class='footerList'>
        <li>Reflections</li>
        <li>People</li>
        <li>Gatherings</li>
        <li>Lands</li>
        <li>Films</li>
        <li>Classroom</li>
       </ul>

        <ul class='footerList'>
        <li>Poets</li>
        <li>Radio</li>
        <li>String</li>
        <li>Glimpse</li>
       </ul>

        <ul class='footerList'>
        <li>About</li>
        <li>Map</li>
        <li>Shop</li>
        <li>Support</li>
        <li>Glossary</li>
        <li>Singer Index</li>
        <li>Resources</li>
        <li>Copyright</li>
       </ul>

        <ul class='footerList'>
        <li>Contact</li>
        <li>OK Listen</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Youtube</li>
        <li>Soundcloud</li>
       </ul>

        <ul class='footerExtra'>
        <li>SUBCRIBE - Get updates about new uploads, events, curated playlists..</li>
        <li>PARTICIPATE - Share your songs or thoughts, support an artist, start a discussion..</li>
        <li class='kabirProject'>A Kabir Project initiative </li>
       </ul>

       </footer>
      </div>
 </div>
