<div class='footerBox ajab-container '>
      <div class='footerArt'></div>
      <div class='footerWrapper'>
       <footer class='ajab-wrapper'>
       <ul class='footerList'>
        <li ><a href="/songsPage">Songs</a></li>
        <li ><a href="/coupletsPage">Couplets</a></li>
        <li><a href="/wordsPage">Words</a></li>
       </ul>

        <ul class='footerList'>
        <li><a href="/reflectionsPage">Reflections</a></li>
        <li><a href="/peoplesPage">People</a></li>
        <li><a href="/placesPage">Places</a></li>
        <li><a href="/gatheringsPage">Gatherings</a></li>
        <li><a href="/filmsPage">Films</a></li>
        <li><a href="/classRoomPage">Classroom</a></li> 
       </ul>

        <ul class='footerList'>
        <li><a href="/poetsPage">Poets</a></li>
        <li><a href="/radioPage">Radio</a></li>
        <li><a href="/stringPage">string</a></li>
        <li><a href="/glimpsePage">Glimpse</a></li>
       </ul>

        <ul class='footerList'>
        <li>About</li>
        <li>Map</li>
        <li>Shop</li>
        <li>Support</li>
        <li>Glossary</li>
        <li>Singer Index</li>
        <li>Resources</li>
        <li>Copyright</li>
       </ul>

        <ul class='footerList'>
        <li>Contact</li>
        <li>OK Listen</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Youtube</li>
        <li>Soundcloud</li>
       </ul>

        <ul class='footerExtra'>
        <li><font color="#e83785">SUBCRIBE</font> - Get updates about new uploads, events, curated playlists..</li>
        <li><font color="#e83785">PARTICIPATE</font> - Share your songs or thoughts, support an artist, start a discussion..</li>
        <li class='kabirProject'>A Kabir Project initiative </li>
       </ul>

       </footer>
      </div>
 </div>
