<div class='headerBox ajab-container '>
<div class='headerWrapper'>
  <header>
    <div class='logoContainer'>
    <img class='logo' src='img/logo.png'/>
   </div>
   <div class='menuContainer'>
     <ul class='topLine'>
        <li class='selected'>Eng</li>
         <li>हिन्दी</li>
          <li>Support</li>
            <li>Map</li>
              <li>About</li>
    <li>Signin</li>
  </ul>

  <ul class='firstLine'>
    <li>Songs</li>
    <li>Couplets</li>
    <li>Words</li>
  </ul>
    <ul class='secondLine'>
    <li>Reflections</li>
    <li>People</li>
    <li>Gatherings</li>
    <li>Lands</li>
    <li>Films</li>
    <li>Classroom</li> 
  </ul>
    <ul class='thirdLine'>
    <li>Poets</li>
    <li>Radio</li>
    <li>string</li>
    <li>Glimpse</li>
    <li>Participate</li>
     <li class='searchBox'>
      <input class='searchField' placeholder='Search'/>
     </li>
  </ul>
   </div>
  
  </header>
  </div>
  <div class='headerArt'></div>
</div>