<div class='headerBox ajab-container '>
<div class='headerWrapper'>
  <header>
    <div class='logoContainer'>
    <img class='logo' src='img/logo.png'/>
   </div>
   <div class='menuContainer'>
     <ul class='topLine'>
        <li class='selected'>Eng</li>
         <li>हिन्दी</li>
          <li>Support</li>
            <li title='Take a tour of this city '>Map</li>
              <li title='Our inspiration, team, funding…'>About</li>
            <li title=''>Signin</li>
  </ul>

  <ul class='firstLine'>
    <li title='Songs from the oral traditions – Bhakti, Sufi, Baul…'>Songs</li>
    <li title='Pithy poems – dohas, saakhis, beyts, rekhtas…'>Couplets</li>
    <li title='Explorations of key words and ideas in the poetry'>Words</li>
  </ul>
    <ul class='secondLine'>
    <li title='Interviews and writings about the poetry'>Reflections</li>
    <li title='Meet with poets, singers, artists, scholars, seekers… '>People</li>
    <li title='Enter the landscapes of song'>Places</li>
    <li title='Join a festival, concert, talk, satsang…'>Gatherings</li>
    <li title='Four musical travelogues exploring Kabir'>Films</li>
    <li title='Taking mystic poetry to students '>Classroom</li> 
  </ul>
    <ul class='thirdLine'>
    <li title='Bhakti, Sufi and Baul poets in Ajab Shahar'>Poets</li>
    <li title='Playlists of music from Ajab Shahar '>Radio</li>
    <li title='String couplets on the thread of a word'>string</li>
    <li title='Visual expressions of mystic poetry'>Glimpse</li>
    <li title=''>Participate</li>
     <li class='searchBox'>
      <input class='searchField' placeholder='Search'/>
     </li>
  </ul>
   </div>
  
  </header>
  </div>
  <div class='headerArt'></div>
</div>