<!doctype html>
<html lang="en" ng-app="introductionApp">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/angular-animate/angular-animate.js"></script>
    <script src="js/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/app/directives/content/contentModule.js"></script>
    <script type="text/javascript" src="js/app/directives/modal/popup.js"></script>
    <script type="text/javascript" src="js/app/directives/content/song.js"></script>
    <script type="text/javascript" src="js/app/Introduction/app.js"></script>
    <script type="text/javascript" src="js/app/Introduction/services/introductionAppService.js"></script>
    <script type="text/javascript" src="js/app/Introduction/controllers/splashScreenController.js"></script>
    <script type="text/javascript" src="js/app/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="js/app/directives/parallax/angular-parallax.js"></script>
    <link href="css/splashScreen.css" rel="stylesheet" type="text/css">
    <link href="css/mainNavigationPage.css" rel="stylesheet" type="text/css">
</head>
<!--<body>-->
<!--<song-with-details overlay-id="overlayId1" showcontrols="true" custom-style="shift4" light-box-image-url="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>-->

<!--</body>-->
<body ng-controller="splashScreenController" ng-mouseover="showEnterButton()">
<div class="slide slide_bottom" ng-show="expand">
    <a class='enter' title='Enter English Site' href='/landingPage'></a>
    <a class='pravesh' title='हिन्दी वेबसाइट में प्रवेश करें'href='#prevesh'></a>
</div>

    <div ng-view></div>
</body>
</html>