<!doctype html>
<html lang="en" ng-app="introductionApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="js/app/Introduction/app.js"></script>
    <script type="text/javascript" src="js/app/Introduction/controllers/splashScreenController.js"></script>
    <script id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflRuC1lW/www-widgetapi.js" async=""></script>
    <script type="text/javascript" src="js/app/lib/youtube_player.js"></script>
    <script type="text/javascript" src="js/app/lib/player_api.js"></script>
    <link href="css/splashScreen.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="splashScreenController">
    <div ng-view></div>
</body>
</html>