<!doctype html>
<html lang="en" ng-app="mainLandingPageApp">
<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <script src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/app/MainLandingPage/app.js"></script>
    <script type="text/javascript" src="js/app/MainLandingPage/controllers/mainLandingPageController.js"></script>
    <script type="text/javascript" src="js/app/directives/parallax/angular-parallax.js"></script>
    <link href="css/mainNavigationPage.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainLandingPageController">
    <!--<div>-->
        <!--<img id="dance" class="dance" src="img/newset/02_map.png"/>-->
        <!--<div class="river" parallax-background parallax-ratio="100"></div>-->
        <!--<div parallax-background class="map" parallax-ratio="4">-->

            <!--<div class="dorString" parallax-background parallax-ratio="2">-->
                <!--<div class="hindiText" >-->

                    <!--<div id="clouds" class="clouds" scroll>-->
                        <!--<div class="bird" parallax-background parallax-ratio="1"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    <div>
        <img id="dance" class="dance" src="../../img/newset/02_map.png"/>
        <div class="river" parallax-background parallax-ratio="100"></div>
        <div  class="map" parallax-ratio="4">

            <div class="dorString">
                <div class="hindiText" >
                    <div id="clouds" class="clouds" scroll>
                        <div class="bird" parallax-background parallax-ratio="1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div>-->
      <!--<img id="dance" class="dance" src="img/dance.jpg">-->

      <!--<div parallax-background class="map" parallax-ratio="4">-->
        <!--<div class="dorString" >-->
          <!--<div class="hindiText" >-->
            <!--<div id="clouds" class="clouds" scroll>-->
                          <!--<div class="river" parallax-background parallax-ratio="1"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
</body>
</html>