<!doctype html>
<html lang="en" ng-app="mainLandingPageApp">
<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/app/directives/content/contentModule.js"></script>
    <script type="text/javascript" src="js/app/directives/content/song.js"></script>
    <script type="text/javascript" src="js/app/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="js/app/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="js/app/MainLandingPage/app.js"></script>
    <script type="text/javascript" src="js/app/MainLandingPage/controllers/mainLandingPageController.js"></script>
    <link href="css/mainNavigationPage.css" rel="stylesheet" type="text/css">
    <link href="css/parallax.css" rel="stylesheet" type="text/css">
    <link href="css/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="css/header.css" rel="stylesheet" type="text/css">
    <link href="css/footer.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="js/lib/jquery-colorbox/example1/colorbox.css">
    <script src="js/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/lib/jquery-colorbox/jquery.colorbox-min.js"></script>


</head>
<body ng-controller="mainLandingPageController">
    @header()

    <!-- parallax effect starts -->
    <div class='parallax-container'>
        <div class='pxLayers px-layer1' data-name='body'></div>
        <div class='pxLayers px-layer2' data-name='map' parallax-background parallax-ratio="1"></div>
        <div class='pxLayers px-layer3' data-name='water'></div>
        <div class='pxLayers px-layer4' data-name='riverlines'></div>
        <div class='pxLayers px-layer5' data-name='bird'></div>
        <div class='pxLayers px-layer6' data-name='clouds' scroll></div>
        <div class='pxLayers px-layer7' data-name='whitestring'></div>
        <div class='pxLayers px-layer8' data-name='hinditext'></div>
    </div>
    <!-- parallax effect ends -->
    <!-- thumbnail and middle content starts -->
    <div class='ajab-container'>
    <div class='ajab-wrapper'>
    <div class='homepage-content'>
        <song-with-details showcontrols="true" custom-style="shift4" light-box-image-url="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift5" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->


         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift6" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift1" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift2" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift3" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift4" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift5" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift6" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift1" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift2" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift3" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift4" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

         <!--<a class="group2 thumbnailWrapper" href="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG">-->
        <song-with-details showcontrols="true" custom-style="shift5" img-src="http://phpalbum.net/demo4/main.php?cmd=imageorig&var1=IMGP7051a.JPG" name="Practice the art of dying!" singer="PARVATHY BAUL"></song-with-details>
        <!--</a>-->

    </div>
    </div>
    </div>
    <!-- thumbnail and middle content starts -->
    
    @footer()
</body>
</html>