.footer-container{
  position: relative;
  clear: both;
}
.footer-tree {
    background: transparent url('/user/img/common/bg/footer_tree.png') 0px top no-repeat;
      background-size: contain;
      height: 85px;
      margin-left: 5%;
      width: 45px;
      padding-top: 127px;
      margin-top: -160px;
      position: relative;
}

.footer-box {
      position: relative;
      width: 100%;
      display: inline-block;
      text-align: center;
      height: 295px;
      margin-top: 99px;
      background: black;



.footer-bg {
        background: transparent url('/user/img/common/bg/footer-bg.png') left top repeat;
        background-size: contain;
        position: relative;
        margin-top: -180px;
        height: 397px;


        .content-wrapper {
              width: 100%;
              height: inherit;

              padding-top: 100px;
        }


        .footer-content {
            font-weight: 300;
            color: $light-grey;
            font-family: 'Merriweather Sans';
            font-weight: 300;
            display: inline-block;
            width: 80%;
            text-align: left;
            @media screen and (max-width: 1280px) {
                      width: 85%;
            }
            @media screen and (max-width: 768px) {
                      width: 98%;
            }
            a {
                &:hover {
                    color: $pink;
                }

               &.disable {
                    color: $dark-grey;
                    cursor: default;
               }

            }



            .first-row-footer {
                height: 220px;
                font-size: 12px;
                width: 92%;
                margin: 0 auto;
                @media screen and (max-width: 1024px) {
                    width: 99%;
                }
                .vertical-separator {

                    background: transparent url(/user/img/common/directives/footer/dotted.png) 0px top;
                    background-repeat: no-repeat repeat;
                    padding: 0 3%;
                    height: 170px;
                    @media screen and (max-width: 1024px) {
                          padding: 0 2%;
                          height: 187px;

                    }

                }
                .footer-title {

                    font-size: 18px;
                    color: $pink;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    &:hover {
                        font-weight: 400;
                    }
                }
                .first-row-col {

                    float:left;
                    width: 25%;
                    margin-top: 2%;
                    padding: 0 3%;
                    p{
                        line-height: 22px;
                    }
                    @media screen and (max-width: 1024px) {
                        width: 24%;

                    }

                }
                .support-col {
                    float: left;
                    width: 29%;
                    margin-top: 2%;
                    p{
                        line-height: 22px;
                    }
                    @media screen and (max-width: 1024px) {
                        width: 28%;

                    }
                }
                .subscribe-col {
                    float:left;
                    width: 31%;
                    margin-top: 2%;
                     p{
                        line-height: 22px;
                        margin-top: 15px;
                        .highlight {
                            font-size: 18px;
                            color: $pink;
                            &:hover {
                                font-weight: 400;
                            }
                        }

                     }

                }
                .site-links {
                    float:left;
                    width: 15%;
                    margin-top: 2%;
                    font-size: 14px;
                    ul{
                        margin-top: 20px;
                        li {
                                margin-bottom: 20px;
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        width: 17%;

                    }

                }
            }

            .content-links {
                background: transparent url(/user/img/common/bg/horizon-separator.png) left top repeat-x;
                padding: 20px 20px 5px 20px;
                font-size: 14px;
                width: 100%;
                text-align: center;



                ul {
                    width: 100%;
                    display: inline-block;
                    @media screen and (max-width: 1024px) {
                        width: 80%;

                    }

                }
                li {
                    width:auto;
                    display: inline-block;
                    border-right: solid thin;
                    padding:0 1%;
                    margin-bottom: 10px;
                    &:last-child {
                        border: none;
                        margin-right: 0;
                    }
                }

            }
            #dark-font {
                color: $dark-grey;
                display: inline;
            }
            .footer-info {
                background: transparent url(/user/img/common/bg/horizon-separator.png) left top repeat-x;
                padding: 20px 0px;

                li  {
                    float: left;

                    .kabir-logo {
                        background: url(/user/img/common/directives/footer/icons/kabirlogo-light.png) 6px 0 no-repeat;
                        width: 35px;
                        float: left;
                        height: 50px;
                        &:hover {
                            background: url(/user/img/common/directives/footer/icons/kabirlogo-pink.png) -1px 0 no-repeat;
                        }
                    }
                    &.project-details {
                        width: 74%;
                        float: left;
                        height: 50px;

                    }


                    &.fbook, &.sound-cloud,&.ok-listen,&.social-utube {
                        margin-top: 7px;
                        margin-right: 15px;
                        float: right;
                    }
                    &.ok-listen {
                        margin-right: 0px;
                        a:hover {
                            width: 33px;
                            height: 24px;
                            background-position: -15px -119px;
                        }
                    }
                    &.fbook a:hover {
                        width: 19px;
                        height: 20px;
                        background-position: -163px -15px;
                    }
                    &.sound-cloud a:hover {
                        width: 39px;
                        height: 18px;
                        background-position: -148px -167px;
                    }
                    &.social-utube a:hover {
                        width: 19px;
                        height: 23px;
                        background-position: -15px -174px;
                    }
                }

                .created-by {
                    width: 90%;
                    margin-left: 15px;
                    float: left;
                    font-size: 12px;
                    line-height: 18px;
                    .website-design {
                        display: inline;

                        @media screen and (max-width: 768px) {
                            display: block;
                            float: left;
                        }
                    }

                }


            }


        }



}
}
