.grid-layout {
    background: transparent url(/user/img/common/bg/bg_pattern.png) fixed repeat;
    background-size: contain;
    margin: 0;

    .grid-view {
        float: left;
        margin-left: 130px;
        width: 99%;
        width: calc(100% - 130px);

        @include media($tab-portrait) {
            margin-left: 110px !important;
        }
    }


    .grid-wrapper {
        margin-top: 148px;
        clear: both;
        overflow: auto;
    }
}