$tab-portrait: new-breakpoint(max-width 768px);
$tab-landscape: new-breakpoint(max-width 1024px);
$desktop: new-breakpoint(min-width 1025px);

.thumbnails-grid {
    @include outer-container;
    max-width: 100%;
    .media-list {

        .media {
            min-height: 250px;
            @include span-columns(3);

            @include media($tab-landscape) {
                @include span-columns(4);
            }
            @include media($tab-portrait) {
                @include span-columns(6);
                margin-right: 1%;
            }
        }
    }
}
