 /* Please do not remove any of the commented code below*/

$tab-portrait: new-breakpoint(max-width 768px);
$tab-landscape: new-breakpoint(max-width 1024px);
$desktop: new-breakpoint(min-width 1025px);


.grid-wrapper {
    margin-top: 148px;
    overflow: auto;
    height: 300px;
}

.thumbnails-grid {

  @include outer-container(100%);
  @include span-columns(15);

  .media {
    min-height: 250px;
    /*background: red;*/
    @include span-columns(3 of 15);


    @include media($desktop) {
         @include omega(5n);
    }

    @include media($tab-landscape) {
        @include span-columns(16);
        @include omega-reset(5n);
        @include span-columns(4 of 16);
        @include omega(4n);
    }

    @include media($tab-portrait) {
        @include span-columns(16);
        @include omega-reset(4n);
        @include span-columns(8 of 16);
        @include omega(2n);
    }
  }


  /*display: inline-block;
  width: 100%;

  .media {
    min-height: 250px;
    width: 25%;
    float: left;
    background: red;
  }*/
}

@include media($tab-portrait) {
    .grid-layout .grid-view {
        margin-left: 100px !important;
    }
}
