
.disabled {
  display: none;
}

.media-introduction {
  display: inline-block;
  text-align: left;
  width: 100%;
  line-height: 23px;

  position: absolute;
  left: 0;

  youtube, sound-cloud {
    display: inline-block;
    width: 853px;
    height: 480px;

    @media screen and (max-width: 1280px) {
      width: 640px;
      height: 360px;
    }

    @media screen and (max-width: 769px) {
      width: 530px;
      height: 315px;
    }

    iframe, .mediaBox {
      border: solid 5px #fff;
      box-shadow: #777 0 0 10px;
      margin: 5px 0;
    }

    iframe {
      height: inherit;
    }
  }

  .moreDesc {
    color: $color-regular-text;
    font-size: $large;
    font-style: italic;
    font-weight: 300;
    line-height: 27px;
    font-family: 'Merriweather';
  }

  .artistName {
    text-transform: uppercase;
    font-weight: 300;
    font-size: $small;
    font-family: 'Merriweather Sans';
    line-height: 26px;
    color: $color-regular-text;
    font-weight: 700;

    small {
        text-transform: lowercase;
        font-weight: 300;
    }

    .artist-text {
      color: #999999;
      font-size: 12px;
      margin-left: 1px;
      text-transform: lowercase;
      font-weight: 300;

    }
    .author-caps {
        text-transform: uppercase;
        font-weight: 300;

    }
    .title-case {
        text-transform: initial;
        font-weight: 300;
    }
  }



  &.song {
    position: static;
    margin: 0 auto;
    width: auto;
  }

  @media screen and (max-width: 990px) {
    margin-top: 10%;
  }

  ul.audio-video-options {
    float: right;
    display: inline-flex;
    display: webkit-inline-flex;
    margin-top: -2%;
    & > li {
      border-right: solid 1px #666;
      line-height: 2px;
      margin: 7px 0 0;
      padding: 0 7px;
      height: 15px;

      &:last-child {
        border: none;
        padding-right: 0;
      }
      & > a {
        background: transparent url('../../user/img/songs/av_sprite.png') 0 0 no-repeat;
        width: 12px;
        height: 15px;
        display: inline-block;

        &.video-icon {
          background-position: -13px 3px;
          &.active {
            background-position: 0 3px;
          }
        }

        &.audio-icon {
          background-position: -13px -12px;
          width: 20px;
          height: 20px;
          &.active {
            background-position: 0 -12px;
          }
        }
      }
    }
  }
}

.youtubeVideo {
  height: 100%;
  margin-top: 5px;
}

.mediaContent {
  display: inline-block;
  width: 100%;
  height: 90%;
}

.mediaPagination {
  float: right;
  color: #fff;
  text-transform: capitalize;
}

.artistName {

}

.context {
  font-size: $large;
  text-transform: capitalize;
  font-weight: 300;
  color: $color-link;

  &:hover {
    color: $color-hover-link;
    cursor: pointer;
  }
}

/*.context small {
    font-weight: normal;
    font-style: italic;
    text-transform: capitalize;
}*/
.link {
  color: #fff;
}

.creditCont {
  margin-top: 20px;
  color: #999;
  width: 95%;
  padding-left: 300px;
  padding-right: 225px;
  text-align: center;
  font-family: 'Merriweather';
  .creditBox {
    display: inline-block;
    padding: 0 10px;
    font-family: 'Merriweather Sans';
    font-size: $extra-small;
    font-weight: 300;
    line-height: 11px;
    text-transform: uppercase;
    color: $color-disabled-link;

    .title-dark {
      font-size: 14px;
      color: $color-active-link;
      text-transform: none;
      font-family: "Merriweather";
    }

    .link-text {
        color: $color-sub-link;
        cursor: pointer;
        font-family: 'Merriweather';
        font-size: $medium;

        &:hover {
            color: $color-hover-link;
        }
    }
  }
}

.mediaFooter {
  text-align: center;
  position: fixed;
  bottom: 2.8%;
  width: 100%;
  left: 0;
  z-index: $zIndex-lightbox-footer;

  .infoText {
    color: $color-regular-text;
    font-size: $medium;
    font-family: 'Merriweather Sans';
    font-weight: 300;
    a {
      font-size: $double-x-large;
      color: $color-link;
      font-family: 'Merriweather';
      text-transform: capitalize;

      &.sub {
        font-size: $extra-large;
      }
    }
  }
}



#content-wrapper {
  background: transparent url(/user/img/words/content_bg.png) -4px 0 no-repeat;
  padding: 2% 3% 5% 3%;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  .content-bg {
    overflow: auto;
    height: 450px;
    padding-right: 2em;

    @media screen and (max-width: 768px) {
      height: 665px;
    }
    .header {
        text-transform: capitalize;
        color: $light-grey;
        font-weight: 300;
    }
    .title-pink {
        display: inline;
        color: $pink;
        font-size: $large;
    }
    .title-italic {
        font-style: italic;
        font-size: $medium-large;
    }

  }

}
.reflection {
    width: 80%;
    margin: 0px auto;
    position: relative;


    &.bg-wrapper {
        background: transparent url(/user/img/words/content_bg.png) -4px 0 no-repeat;
        padding: 2% 4% 5% 4%;
        background-size: 100% 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        .content-bg {
                overflow: auto;
                height: 450px;
                padding-right: 2em;

                @media screen and (max-width: 768px) {
                  height: 665px;
                }
        }
    }

    .ref-intro-by {
        font-size: 12px;
        color: #808080;
        margin-bottom: 1em;
        .ref-caps-people {
            text-transform: uppercase;
        }
        .ref-people {
            text-transform: capitalize;
        }
    }
    .ref-title {
        font-family: 'Merriweather';
        font-size: 21px;
        color:#ED1E79;
        line-height: 2em;
    }
    .ref-speaker {
        font-family: 'MerriweatherSans';
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;

    }
    .ref-verb {
        content: " says";
        font-size: 12px;
        text-transform: lowercase;
    }
}








