/*
 This page displays common structure that may include:
 - alphabet filter
 - toggle between original and english links
 - number of items displayed on the page
 - search bar
 - icons for list and grid view
*/
/*
Todo: 768px of chrome and all resolutions with mozilla, styles need to be revisited
*/

$tab-portrait: new-breakpoint(max-width 768px);

.pagination-head {
  margin-top: 60px;
  position: fixed;
  width: inherit;


  & > .upper {
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    border-bottom: solid 1px #ccc;

    .toggle {
      font-size: 12px;
      text-transform: uppercase;
      width: 200px;
      float: left;
      li {
        float: left;

        & > span {
          float: left;
          border-right: solid 1px #575756;
          padding: 0 15px;
          line-height: 12px;
          cursor: pointer;
        }

        &:first-child {
          & > span {
            padding-left: 0;
          }
        }

        &:last-child {
          & > span {
            border: none;
          }
        }

        & > a {
          color: #888;
          text-transform: uppercase;
        }
        & > .active {
          text-transform: uppercase;
          color: #00A199;
        }
      }
    }

    .numeric-count {
      float: right;
      line-height: 12px;
      font-weight: 300;
      font-size: 14px;
      color: #888;
      text-transform: uppercase;
    }

    /* Do not remove this commented code, it is used for searchbar and view options design */
    /*.search-box {
        float: left;
        margin: 3px 20px 0 0;

        .search {
            width: 150px;
            border-radius: 3px;
            border: solid 1px #ccc;
            height: 28px;
            line-height: 18px;
            outline: 0;
            float: left;
            background: #FFF;
            margin-top: -5px 8px 5px 0;
            display: none;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 19px;
            background: transparent url('/user/img/songs/icons/search.png') 0 0 no-repeat;
            cursor: pointer;
        }
    }

    .view-options {
        float: right;
        &>a {
            background: transparent url('/user/img/songs/icons/grid.png') 0 -1px no-repeat;
            width: 20px;
            height: 18px;
            display: inline-block;

            &.list {
               background-image: url('/user/img/songs/icons/list.png');
               background-position: 0;
            }
        }
    }

    .upper-right {
        float: right;
        width: 110px;
    }*/

  }

  & > .lower {
    .alphabets {
      display: inline-block;
      text-transform: uppercase;
      clear: both;
      text-align: left;
      padding: 5px 0;
      width: 100%;
      li {
        float: left;
        width: 3.7%;
        text-align: center;
        a {
          color: #888;
          cursor: pointer;
          font-size: 15px;
          font-weight: 300;
        }
        & > .active {
          color: #00A199;
        }
      }
    }
  }

}
