.thumbnail {
  text-align: left;

  .summary {
    font-weight: 100;

    .title {
      margin-bottom: 3px;
      font-size: 18px;
    }

    .en-title {
      color: $color-regular-text;
      font-style: italic;
      margin-bottom: 3px;
      font-size: $medium-large;
    }

    .footer {
      margin-top: 3px;
      color: $color-regular-text;
      line-height: 18px;
      font-size: $small;
      text-align: right;
      text-transform: uppercase;
    }

  }

}
