
.thumbnail.songs {

  .summary {

    .singers {
      color: $color-highlight-text;
      font-size: $small;
      font-weight: 100;
      line-height: 20px;
    }

    .poet {
      font-size: $small;
      line-height: 20px;
      color: $color-regular-text;
    }

    .categoryName {
      position: relative;
      top: 2px;
    }


  }

}
