
.thumbnail.songs {

  .summary {

    .singers {
      color: $color-text;
      font-size: 12px;
      font-weight: 100;
      line-height: 16px;
    }

    .poet {
      font-size: 14px;
      line-height: 20px;
      color: $color-sub-text;
    }

    .categoryName {
      position: relative;
      top: 2px;
    }

    .play {
      background: url(/user/img/common/icons/gray_play.png) left bottom no-repeat;
      padding-left: 12px;
      margin-left: 3px;
      color: #888;
    }

  }

}
