.thumbnail.word {

  .summary {
    .sub-title.item-title-translation {
      font-size: $large;
    }

    .desc {
      color: $color-regular-text;
      font-size: $small;
      line-height: 18px;
    }
  }
  .footer {
    .categoryName {
      color: $color-regular-text;
      font-size: $small;
      line-height: 18px;
      text-transform: uppercase;
    }
    .more-info {
      color: $color-regular-text;
      font-size: $extra-large;
      text-transform: uppercase;
      font-family: "Merriweather";
      font-weight: 700;
    }
  }

}

