.header-with-carousel {
  .vertical-spacer {
    min-height: 155px;
    width: 100%;
    position: relative;
  }

  .lower-pardah {

    .versions {
      .carousel-wrapper {
        .jcarousel.thumbnail-carousel {

          > ul li {
            /*margin: 0 0 0 47px;*/

            &.selected {
                .title {
                    color: $dark-grey;
                }

            }

            .thumbnail {
              width: 270px;

            }
          }
        }
      }
    }
  }
}


