.thumbnail.reflections {
    .title {
        font-size: 16px;
    }
    .en-title {
        font-family: 'Merriweather Sans';
        font-size: 12px;
        font-style: normal;
        color: #575756;

        .author {
            text-transform: uppercase;
        }


    }
    .thumbnailDetails {
        .intro {
            font-size: 12px;
            color: #868686;
        }
    }
}