.thumbnail.reflections {
    .title {
        font-size: $medium;
        font-weight: 300;
        color: $pink;

    }
    .en-title {
        font-family: 'Merriweather Sans';
        font-size: $medium;
        font-style: normal;
        color: $dark-grey;

        .author {
            text-transform: uppercase;
        }


    }
    .thumbnailDetails {
        .intro {
            font-size: $small;
            color: $light-grey;
            font-weight: 300;
        }
        .more-info {
              color: #9c9b9b;
              font-size: 20px;
              text-transform: uppercase;
              font-family: "Merriweather";
              font-weight: 700;
        }
    }
}