.thumbnail {
  text-align: left;

  .summary {
    font-weight: 100;
    line-height: 16px;
    .title {
      margin-bottom: 3px;
      font-size: $large;
      font-weight: 100;
      &:hover {
        color: $dark-grey;
      }
    }

    .en-title {
      color: $color-regular-text;
      font-style: italic;
      margin-bottom: 3px;
      font-size: $medium-large;
      line-height: 19px;
    }
    .singers {
      color: $dark-grey;
      font-size: $small;
      font-weight: 100;
    }
    .thumbnailDetails{
        .desc, .poet {
            line-height: 18px;
            color: $grey;
            font-size: $small;
        }
        .poet {
            line-height: 16px;
        }
    }

    .footer {
      margin-top: 3px;
      color: $color-regular-text;
      line-height: 20px;
      font-size: $small;
      text-align: right;
      text-transform: uppercase;
      bottom: -17px;
      z-index: 100;
      position: relative;


      .play-video-icon {
              background: url(/user/img/common/icons/gray_play.png) left 2px no-repeat;
              padding-left: 12px;
              margin-left: 3px;
              color:$grey;
              vertical-align: middle;
      }


      .play-audio-icon {
              background: transparent url('/user/img/common/icons/a_grey.png') left -1px no-repeat;
              padding-left: 17px;
              margin-left: 3px;
              color:$grey;
              vertical-align: middle;
      }

      .more-info {
            color: $grey;
            font-size: $medium-large;
            text-transform: uppercase;
            font-family: "Merriweather";
            font-weight: 300;
      }
      .duration {
            position: relative;
      }
    }

  }

}
