.thumbnails-grid {

  .thumbnail {
    width: 230px;
    margin: 0 auto;

    .image {
      width: 215px;
      height: 140px;
    }

    .bubble {
      background-image: url(/user/img/common/directives/thumbnail/bubble-215-content.png);
      width: 230px;
      top: 120px;
      left: -9px;

      .summary {

        &:before {
          background-image: url(/user/img/common/directives/thumbnail/bubble-215-top.png);
          width: 230px;
          height: 25px;
          top: -25px;
        }

        &:after {
          background-image: url(/user/img/common/directives/thumbnail/bubble-215-bottom.png);
          width: 230px;
          height: 25px;
          bottom: -25px;
        }



      }
    }

  }

}
