.thumbnail {
	text-align: left;

	.summary {
		font-weight: 100;

		.title {
			margin-bottom: 3px;
		}

		.en-title {
			color: $color-sub-text;
			font-style: italic;
			margin-bottom: 3px;
		}

		.footer {
			margin-top: 10px;
			color: $color-text;
			line-height: 18px;
			font-size: 12px;
			text-align: right;
			text-transform: uppercase;
		}

	}

}
