.thumbnails-grid {

  .thumbnail {
    width: 230px;
    margin: 0 auto;

    .image {
      width: 215px;
      height: 140px;
    }

    .bubble {
      background-image: url(/user/img/common/directives/thumbnail/bubble-215-content.png);
      width: 230px;
      top: 120px;
      left: -9px;

      .summary {

        &:before {
          background-image: url(/user/img/common/directives/thumbnail/bubble-215-top.png);
          width: 230px;
          height: 25px;
          top: -25px;
        }

        &:after {
          background-image: url(/user/img/common/directives/thumbnail/bubble-215-bottom.png);
          width: 230px;
          height: 25px;
          bottom: -25px;
        }

        .play {
                background: url(/user/img/common/icons/gray_play.png) left bottom no-repeat;
                padding-left: 12px;
                margin-left: 3px;
                color: #888;
        }


        .play-audio {
                background: transparent url('../../user/img/songs/av_sprite.png') 0 0 no-repeat;

                display: inline-block;

                background-position: -13px -12px;
                width: 46px;
                height: 20px;

        }

      }
    }

  }

}
