<!doctype html>
<html lang="en" ng-app="allSongsApp">
<head>
    <meta charset="utf-8">
    <title>All Songs Page</title>
    <script src="../../js/common/directives/soundCloud/sdk.js"></script>
    <scriptå src="../../js/common/directives/soundCloud/api.js"></script>
    <script src="../../../common/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script src="../../../common/lib/angular-animate/angular-animate.min.js"></script>
    <script src="../../../common/lib/underscore/underscore.js"></script>
    <script src="../../../common/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../../js/common/services/popupService.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/songs/introduction.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../../common/directives/htmlGenerator/bindDynamicHtml.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/songs/services/songsContentService.js"></script>
    <script type="text/javascript" src="../../js/songs/app.js"></script>
    <script type="text/javascript" src="../../js/songs/controllers/allSongsController.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../js/common/services/songThumbnailService.js"></script>
    <script type="text/javascript" src="../../js/common/services/introductionPopupService.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/sticky.js"></script>
    <script type="text/javascript" src="../../js/common/directives/carouselSupport/carousel.js"></script>
    <link href="../../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">
    <link href="../../css/carouselSupport/carousel.css" rel="stylesheet" type="text/css">
    <link href="../../css/carouselSupport/carouselAnimation.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/gridview.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="allSongsController" class="page-songs ng-scope" style="" ng-init="getTotalSongsCount()">
    <div class="ajab-container">
        <div class="ajab-wrapper" fullHeight>
            <ajab-shahar-header></ajab-shahar-header>

            <div class='leftnav'>
                <div class='navElementsWrapper'>
                    <h1 class='categoryLogo'></h1>
                    <small class='categoryAtt newline'>{{totalSongs}} songs</small>
                    <nav><a>---</a><a>|||</a></nav>
                    <input value='search'/>
                </div>

                <ul class='navList titles'>
                    <li class='head'>TITLES<li>
                    <li><a>Original</a></li>
                    <li><a>English</a></li>
                </ul>

                <ul class='navList filters'>
                    <li class='head'>Filter by</li>
                    <li><a>Singers</a></li>
                    <li><a>Poets</a></li>
                    <li><a>Words</a></li>
                    <li><a>Genre</a></li>
                    <li><a>Gathering</a></li>
                    <li><a>Places</a></li>
                    <li><a>All</a></li>
                </ul>


            </div>

            <div class='gridView' infinite-scroll="loadMoreSongs()">

                <div class='paginationHead'>
                    <div class='alphabets'>
                        <a>A</a>
                        <a>B</a>
                        <a>C</a>
                        <a>D</a>
                        <a>E</a>
                        <a>F</a>
                        <a>G</a>
                        <a>H</a>
                        <a>I</a>
                        <a>J</a>
                    </div>

                    <div class='numericCount'>{{totalSongs}} songs<!-- (has to change based on filters) --></div>
                </div>
                <div class='gridWrapper'>
                    <ul ng-repeat="song in songs track by $index" class="flexiThumbnails">
                        <li bind-dynamic-html="song"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="songDetail in songDetails track by $index">
        <div bind-dynamic-html="songDetail"></div>
    </div>

</body>
</html>