<!doctype html>
<html lang="en" ng-app="allSongsApp">
<head>
    <meta charset="utf-8">
    <title>All Songs Page</title>
    <script src="../../../common/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script src="../../../common/lib/underscore/underscore.js"></script>
    <script src="../../../common/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popupMapper.js"></script>
    <script type="text/javascript" src="../../js/common/services/popupService.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/songThumbnailMapper.js"></script>
    <script type="text/javascript" src="../../js/common/modules/filterModule.js"></script>
    <script type="text/javascript" src="../../js/common/directives/songs/alphabetFilter.js"></script>
    <script type="text/javascript" src="../../js/common/filters/filterByScroll.js"></script>
    <script type="text/javascript" src="../../js/common/filters/songFilterBySinger.js"></script>
    <script type="text/javascript" src="../../js/common/filters/songFilterByPoet.js"></script>
    <script type="text/javascript" src="../../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../js/EditorsChoice/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/songs/services/songsContentService.js"></script>
    <script type="text/javascript" src="../../js/songs/app.js"></script>
    <script type="text/javascript" src="../../js/songs/controllers/allSongsController.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/sticky.js"></script>
    <link href="../../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/main.css" rel="stylesheet" type="text/css">
    <!--<link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">-->
    <link href="../../css/thumbnails.css" rel="stylesheet" type="text/css">
    <!--<link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">-->
    <link href="../../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/gridview.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="allSongsController" class="page-songs ng-scope" style="" ng-init="getTotalSongsCount()">
    <ajab-shahar-header></ajab-shahar-header>


    <div class="ajab-container headerfixOuter all-songs">
        <div class="ajab-wrapper">
      

            <div class='leftnav headerfixInner'>
                <div class='navElementsWrapper'>
                    <h1 class='categoryLogo'></h1>
                </div>

                <ul class='navList filters'>
                    <li class='head'>Filter by</li>
                    <li><a ng-click="showSingers()">Singers</a></li>
                    <li ng-show="singerNameInFilter!=''">{{singerNameInFilter}}<a ng-click="removeSingerFilter()">[X]</a></li>
                    <li ng-show="shouldShowSingers" ng-mouseleave="hideSingers()">
                        <select ng-model="singerNameInFilter"
                                ng-options="singer for singer in singers" class="form-control">
                        </select>
                    </li>
                    <li></li>
                    <li><a ng-click="showPoets()">Poets</a></li>
                    <li ng-show="poetNameInFilter!=''">{{poetNameInFilter}}<a ng-click="removePoetFilter()">[X]</a></li>
                    <li ng-show="shouldShowPoets" ng-mouseleave="hidePoets()">
                        <select ng-model="poetNameInFilter"
                                ng-options="poet for poet in poets" class="form-control">
                        </select>
                    </li>
                    <li></li>
                    <li><a>Words</a></li>
                    <li><a>Genre</a></li>
                    <li><a>Gathering</a></li>
                    <li><a>Places</a></li>
                    <li><a ng-click="clearFilters()">All</a></li>
                </ul>


            </div>

            <div class='gridView' infinite-scroll="loadSongFromRange()">

                <div class='paginationHead'>
                    <div class="upper">
                        <ul class="breadcrumb">
                            <li>
                                <a href="javascript:void(0)">Original</a>
                            </li>
                            <li>
                                <span class="active">English</span>
                            </li>
                        </ul>
                        <span class='numericCount'>{{totalFilteredSongs}} songs</span>

                        <span class="view-options">
                            <a href="javascript:void(0)" class="grid"></a>
                            <a href="javascript:void(0)" class="list"></a>
                        </span>
                        <form action="post">
                            <span class="search-box">

                                <input type="search" class="search" />

                            </span>
                        </form>
                    </div>

                    <alphabet-filter active-letter="activeLetter"></alphabet-filter>
                </div>

                <div class='gridWrapper'>
                    <ul class="flexiThumbnails" ng-repeat="song in songs | filter:songStartsWithComparator | songFilterBySinger:singerNameInFilter | songFilterByPoet:poetNameInFilter | filterByScroll:scrollIndex">
                        <li>
                            <song-thumbnail-mapper details="song" show-details-service="detailsService" custom-style=""/>
                        </li>
                    </ul>
                </div>

                <a ng-click="more()">More</a>
            </div>
        </div>
    </div>
</body>
</html>