<!doctype html>
<html lang="en" ng-app="allSongsApp">
<head>
    <meta charset="utf-8">
    <title>All Songs Page</title>
    <script src="../../../common/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script src="../../../common/lib/underscore/underscore.js"></script>
    <script src="../../../common/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../js/common/directives/popupSupport/popupMapper.js"></script>
    <script type="text/javascript" src="../../js/common/services/popupService.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/songMapper.js"></script>
    <script type="text/javascript" src="../../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../js/EditorsChoice/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/songs/services/songsContentService.js"></script>
    <script type="text/javascript" src="../../js/songs/app.js"></script>
    <script type="text/javascript" src="../../js/songs/controllers/allSongsController.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/sticky.js"></script>
    <link href="../../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/gridview.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="allSongsController" class="page-songs ng-scope" style="" ng-init="getTotalSongsCount()">
    <ajab-shahar-header></ajab-shahar-header>


    <div class="ajab-container headerfixOuter">
        <div class="ajab-wrapper" fullHeight>
      

            <div class='leftnav headerfixInner'>
                <div class='navElementsWrapper'>
                    <h1 class='categoryLogo'></h1>
                    <small class='categoryAtt newline'>{{totalSongs}} songs</small>
                    <nav><a>---</a><a>|||</a></nav>
                    <input value='search'/>
                </div>

                <ul class='navList titles'>
                    <li class='head'>TITLES<li>
                    <li><a>Original</a></li>
                    <li><a>English</a></li>
                </ul>

                <ul class='navList filters'>
                    <li class='head'>Filter by</li>
                    <li><a>Singers</a></li>
                    <li><a>Poets</a></li>
                    <li><a>Words</a></li>
                    <li><a>Genre</a></li>
                    <li><a>Gathering</a></li>
                    <li><a>Places</a></li>
                    <li><a>All</a></li>
                </ul>


            </div>

            <div class='gridView' infinite-scroll="loadSongFromRange()">

                <div class='paginationHead'>
                    <div class='alphabets'>
                        <a ng-click="filterSongsOnLetter('a')">A</a>
                        <a ng-click="filterSongsOnLetter('b')">B</a>
                        <a ng-click="filterSongsOnLetter('c')">C</a>
                        <a ng-click="filterSongsOnLetter('d')">D</a>
                        <a ng-click="filterSongsOnLetter('e')">E</a>
                        <a ng-click="filterSongsOnLetter('f')">F</a>
                        <a ng-click="filterSongsOnLetter('g')">G</a>
                        <a ng-click="filterSongsOnLetter('h')">H</a>
                        <a ng-click="filterSongsOnLetter('i')">I</a>
                        <a ng-click="filterSongsOnLetter('j')">J</a>
                        <a ng-click="filterSongsOnLetter('k')">K</a>
                        <a ng-click="filterSongsOnLetter('l')">L</a>
                        <a ng-click="filterSongsOnLetter('m')">M</a>
                        <a ng-click="filterSongsOnLetter('n')">N</a>
                        <a ng-click="filterSongsOnLetter('o')">O</a>
                        <a ng-click="filterSongsOnLetter('p')">P</a>
                        <a ng-click="filterSongsOnLetter('q')">Q</a>
                        <a ng-click="filterSongsOnLetter('r')">R</a>
                        <a ng-click="filterSongsOnLetter('s')">S</a>
                        <a ng-click="filterSongsOnLetter('t')">T</a>
                        <a ng-click="filterSongsOnLetter('u')">U</a>
                        <a ng-click="filterSongsOnLetter('v')">V</a>
                        <a ng-click="filterSongsOnLetter('w')">W</a>
                        <a ng-click="filterSongsOnLetter('x')">X</a>
                        <a ng-click="filterSongsOnLetter('y')">Y</a>
                        <a ng-click="filterSongsOnLetter('z')">Z</a>
                    </div>

                    <div class='numericCount'>{{totalFilteredSongs}} songs</div>
                </div>
                <div class='gridWrapper'>
                    <ul class="flexiThumbnails" ng-repeat="song in songs track by $index">
                        <li>
                            <song-mapper details="song" show-details-service="detailsService" custom-style=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="song in songs track by $index">
        <song-introduction-mapper index="{{$index}}" details="song" show-details-service="detailsService"/>
    </div>

</body>
</html>