<!DOCTYPE html>
<html ng-app="songDetailsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Song details page</title>
    <link href="../../css/common/directives/header/header.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/footer/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../../common/jquery/jcarousel/jcarousel.responsive.css" rel="stylesheet" type="text/css">
    <link href="../../css/thumbnails.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../../common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../../common/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="../../../common/lib/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="../../../common/jquery/jcarousel/jcarousel.responsive.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../js/songs/services/songsContentService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../js/common/directives/animation/animationModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../js/common/directives/header/sticky.js"></script>
    <script type="text/javascript" src="../../js/common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../js/common/directives/animation/toggleBySlide.js"></script>
    <script type="text/javascript" src="../../js/common/directives/songs/songContentDetails.js"></script>
    <script type="text/javascript" src="../../js/common/directives/carouselSupport/asCarousel.js"></script>
    <script type="text/javascript" src="../../js/songs/songDetailsApp.js"></script>

    <script type="text/javascript" src="../../js/songs/controllers/songDetailsController.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/songThumbnailMapper.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/songContentDetailsMapper.js"></script>
    <!--<script type="text/javascript" src="../../js/common/directives/soundCloud/soundcloud_player.js"></script>-->
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/songThumbnail.js"></script>
</head>

<body ng-controller="songDetailsController" class="page-songs">
    <ajab-shahar-header></ajab-shahar-header>
    <div class="page-header">
        <div class="light-bg"></div>
        <div class="ajab-wrapper">
            <div class="logo-container">
                <span class="page-logo"></span>
                <a href="/user/partials/songs/allSongs.html" class="all-songs-link">All Songs</a>
            </div>

            <div class="page-title">
                <span class="main">{{umbrellaTitleEnglishTransliteration}}</span>
                <span class="sub-main">{{umbrellaTitleEnglishTranslation}}</span>
            </div>
        </div>

    </div>

    <div class="versions toggleBySlide" ng-show="showVersion && shouldShowVersions()">
        <div class="carousel-wrapper jcarousel-wrapper">
            <div class="light-bg"></div>

            <div as-carousel class="carousel-box jcarousel">
            <ul>
                <li ng-repeat="song in versions track by $index">
                    <song-thumbnail-mapper details="song" show-details-service="detailsService" custom-style=""/>
                </li>
            </ul>
            <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"></a>
            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true"></a>
        </div>
    </div>
    </div>
    <div class="see-more" ng-show="shouldShowVersions()" ng-click="toggleVersion()">
        <a class="version" href="javascript:void(0)">
            {{numberOfVersions}} versions
            <span class="arrow" ng-class="showVersion ? 'up-arrow' : ''"></span>
        </a>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>

            <!--<div id="left_nav">-->
                <!--<ul>-->
                    <!--<li><a href="#song_container" class="active">song</a></li>-->
                    <!--<li><a href="#poem_container">poem</a></li>-->
                <!--</ul>-->
                <!--<a href="javascript:void(0)">explore</a>-->
            <!--</div>-->

            <div class="main-content">
                <div id="song_container">
                    <div>
                        <div class="rendition-wrapper">
                            <ul ng-hide="true">
                                <li><a href="javascript:void(0)" class="active">01</a>|</li>
                                <li><a href="javascript:void(0)">02</a>|</li>
                                <li><a href="javascript:void(0)">03</a></li>
                            </ul>
                        </div>
                        <div ng-repeat="song in renditions" ng-show="isOpen({{song.id}})">
                            <song-content-details-mapper details="song" details-service="detailsService"></song-content-details-mapper>
                        </div>
                    </div>
                </div>
                <div id="poem_container">
                    <h2 class="song-heading">Dummy heading with data</h2>
                    <div class="lyrics">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>


                </div>
            </div>
        </div>
        <div class="lyrics-footer">
            <ul>
                <li class="original"><a href="javascript:void(0)"></a> </li>
                <li class="transliteration"><a href="javascript:void(0)"></a></li>
                <li class="translation"><a href="javascript:void(0)"></a></li>
            </ul>
            <div class="play-icon"></div>

        </div>
    </div>
</body>
</html>
