<!doctype html>
<html lang="en" ng-app="landingPagesApp">
<head>
    <meta charset="utf-8">
    <title>Songs Landing Page</title>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script src="../../../common/lib/underscore/underscore.js"></script>
    <script src="../../../common/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../common/lib/angular-socialshare/angular-socialshare.css">
    <script src="../../js/common/directives/socialMedia/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <script src="../../../common/lib/angular-socialshare/angular-socialshare.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../../js/common/directives/popupSupport/popup.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/sdk.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/api.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/song.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/songMapper.js"></script>
    <script type="text/javascript" src="../../js/common/directives/mappers/introduction/songIntroductionMapper.js"></script>
    <script type="text/javascript" src="../../js/common/directives/thumbnail/word.js"></script>
    <script type="text/javascript" src="../../js/common/directives/parallax/angular-parallax.js"></script>
    <script type="text/javascript" src="../../js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../js/common/directives/soundCloud/soundcloud_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/youtube/youtube_player.js"></script>
    <script type="text/javascript" src="../../js/common/directives/songs/songIntroduction.js"></script>
    <script type="text/javascript" src="../../js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../../common/directives/htmlGenerator/bindDynamicHtml.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/services/contentService.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/app.js"></script>
    <script type="text/javascript" src="../../js/common/services/popupService.js"></script>
    <script type="text/javascript" src="../../js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../js/LandingPages/controllers/songsController.js"></script>
    <script type="text/javascript" src="../../../common/directives/header/sticky.js"></script>
    <link href="../../../common/css/header.css" rel="stylesheet" type="text/css">
    <link href="../../../common/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/main.css" rel="stylesheet" type="text/css">
    <link href="../../css/mainLandingPage/parallax.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/thumbnail.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/popup.css" rel="stylesheet" type="text/css">
    <link href="../../css/common/directives/introduction.css" rel="stylesheet" type="text/css">
    <link href="../../css/pages/songs.css" rel="stylesheet" type="text/css">


</head>
<body ng-controller="songsController" class="page-songs">
<ajab-shahar-header show-menu-details="true" call-back="setPageHeight()"></ajab-shahar-header>

<div class='mainContentWrapper'>
   <!-- parallax effect starts -->
    <div class='song-parallax-container songsParallax'>
        <div class='pxSongLayers px-song-layer1' data-name='songbg'></div>
        <div class='pxSongLayers px-song-layer2' data-name='tambura' ></div>
        <div class='pxSongLayers px-song-layer3' data-name='tambura2'></div>
        <div class='pxSongLayers px-song-layer4' data-name='triangles'></div>
        <div class='pxSongLayers px-song-layer5' data-name='vibrations'></div>
        <div class='pxSongLayers px-song-layer6' data-name='darkedges'></div>
        <div class='pxSongLayers px-song-layer7' data-name='pingla'></div>
        <div class='pxSongLayers px-song-layer8' data-name='ingla'></div>
        <div class='pxSongLayers px-song-layer9' data-name='sushamna'></div>
        <div class='pxSongLayers px-song-layer10' data-name='snake'></div>
    </div>
    <!-- parallax effect ends -->


    <div ng-repeat="song in songs">
        <song-introduction-mapper index="{{$index}}" details="song" show-details-service="detailsService"/>
    </div>

    <!-- thumbnail and middle content starts -->
    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class='homepage-content songs'>
                <div ng-repeat="song in songs">
                    <song-mapper details="song" show-details-service="detailsService" custom-style="{{getSongCustomStyle(song)}}"/>
                </div>
            </div>
        </div>
    </div>
    <!-- thumbnail and middle content starts -->
</div>
    <div ng-include src="'../common/footer.html'"></div>

</body>
</html>