.splash_screen {
    height: 100%;
    width: 100%;
}

.slide_bottom
{
     position: fixed;
     bottom: 0;
     right: 20%;

	display: block;
	width: 220px;
	height: 180px;
	background:url(../../img/introduction/enter.png) no-repeat;
}


.slide_bottom a.enter{
display: inline-block;
margin: 40px 0px 0 50px;
color: #fff;
width: 70px;
height: 20px;
cursor: pointer;
}


.slide_bottom a.pravesh{
display: inline-block;
margin: 40px 0px 0 2px;
color: #fff;
width: 70px;
height: 20px;
cursor: pointer;
}

.splash_screen {
	position: absolute;
	z-index: -999;
}