<div>
    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Introduction Original</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="introTextOriginal" placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Introduction Translation</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="introTextTranslation" placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Introduction Transliteration</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="introTextTransliteration" placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <button type="button" class="btn btn-info" ng-click="addToWordIntroduction()">Add to Word Introduction</button>

    <div ng-repeat="word in wordIntroductions track by $index">
        <table class="word-introduction-table">
            <thead>
                <tr>
                    <th>Original</th>
                    <th>English translation</th>       
                    <th>English transliteration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <text-angular name="originalContent{{$index}}" ng-model="word.introTextOriginal" ></text-angular>
                    </td>
                    <td>
                        <text-angular name="translationContent{{$index}}" ng-model="word.introTextTranslation" ></text-angular>
                    </td>
                    <td>
                        <text-angular name="transliterationContent{{$index}}" ng-model="word.introTextTransliteration" ></text-angular>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>