<div>
    <div class="row form-group">
        <label class="col-sm-3">* Song text (Except english-translation)</label>
    </div>
    <div class="left">
        <div class="row form-group">
            <div class="col-sm-2">
                <label>Refrain</label>
            </div>
            <div class="col-sm-3">
                <input type="text" name="refrain" ng-model="songText.refrainOriginal" placeholder="Enter original text" class="form-control" ng-required="authoringComplete">
                <input type="text" name="refrain" ng-model="songText.refrainEnglishTransliteration" placeholder="Enter english-transliteration text" class="form-control" ng-required="authoringComplete">
                <input type="text" name="refrain" ng-model="songText.refrainEnglishTranslation" placeholder="Enter english-translation text" class="form-control">
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-sm-2" ng-init="showOpenCouplet = false">
                <label>Opening Couplet</label>
                <input type="checkbox" ng-click="showOpenCouplet = !showOpenCouplet">
            </div>
        </div>
        <div class="row" ng-show="showOpenCouplet">
            <div class="form-group">
                <div class="inl-blk">
                    <textarea class="form-control textarea" rows="6" ng-model="openingCouplet.originalText" placeholder="Enter original text ..."></textarea>
                    <textarea class="form-control textarea" rows="6" ng-model="openingCouplet.englishTransliterationText" placeholder="Enter english-transliterated text ..."></textarea>
                    <textarea class="form-control textarea" rows="6" ng-model="openingCouplet.englishTranslationText" placeholder="Enter english-translated text ..."></textarea>
                    <select ng-model="openingCouplet.poet" ng-options="poet.firstName for poet in poets" class="form-control"></select>

                    <button type="button" class="btn btn-info" ng-click="addOpeningCouplet()">Add to Opening Couplet</button>
                </div>

                <div class="col-sm-2">
                    <ul>
                        <li ng-repeat="openingCouplet in songText.openingCouplets">
                            <textarea class="form-control" rows="6" ng-model="openingCouplet.originalText" placeholder=" Enter original text ..."></textarea>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li ng-repeat="openingCouplet in songText.openingCouplets">
                            <textarea class="form-control" rows="6" ng-model="openingCouplet.englishTransliterationText" placeholder=" Enter original text ..."></textarea>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li ng-repeat="openingCouplet in songText.openingCouplets">
                            <textarea class="form-control" rows="6" ng-model="openingCouplet.englishTranslationText" placeholder=" Enter original text ..."></textarea>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li ng-repeat="openingCouplet in songText.openingCouplets">
                            <select ng-model="openingCouplet.poet" ng-options="poet.firstName for poet in poets" class="form-control"></select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2">Content Type</label>
            <div class="form-group col-sm-1">
                <select name="format" ng-model="newContent.contentType" class="form-control">
                    <option value="stanza">Stanza</option>
                    <option value="couplet">Couplet</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="shouldShowStanzaDetails() || shouldShowCoupletDetails()">
            <label class="col-sm-2">Show Refrain</label>
            <div class="col-sm-1">
                <select name="format" ng-model="newContent.showRefrain" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="row">
            <hr>
            <table class="songTextTable">
                <thead>
                      <tr>
                        <th>Original</th>
                        <th>English transliteration</th>       
                        <th>English translation</th>
                      </tr>
                <tbody>
                    <tr>
                    <td>
                        <textarea class="form-control textarea" rows="6" ng-model="newContent.originalText" placeholder=" Enter original text ..."></textarea>
                    </td>
                    <td>
                        <textarea class="form-control textarea" rows="6" ng-model="newContent.englishTransliterationText" placeholder="Enter english-transliterated text ..."></textarea>
                    </td>
                    <td>
                        <textarea class="form-control textarea" rows="6" ng-model="newContent.englishTranslationText" placeholder="Enter english-translated text ..."></textarea>
                    </td>
                    </tr>
                </tbody>
            </table>
        
            <div class="col-md-1" ng-show="shouldShowCoupletDetails()">
                <strong>Couplet's poet</strong>
            </div>
            <div class="col-md-1" ng-show="shouldShowCoupletDetails()">
                <select ng-model="newContent.poet" ng-options="poet.firstName for poet in poets" class="form-control"></select>
            </div>
            
            <div class="col-md-1">
                <button type="button" class="btn btn-info" ng-click="addLyricsText()">Add To Lyrics</button>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-danger" ng-click="clearSongText()">Clear Lyrics</button>
            </div>
        </div>
        <hr>
        <div class="row" ng-repeat="songTextContent in songText.songTextContents track by $index">
            <table class="songTextTable">
                <td>
                    <textarea class="form-control" rows="6" ng-model="songTextContent.originalText" placeholder=" Enter original text ..."  ng-required="authoringComplete"></textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="6" ng-model="songTextContent.englishTransliterationText" placeholder=" Enter original text ..."  ng-required="authoringComplete"></textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="6" ng-model="songTextContent.englishTranslationText" placeholder=" Enter original text ..."></textarea>
                </td>
            </table>
            <div class="col-md-1" ng-show="songTextContent.poet != undefined" >
                <strong>Couplet's poet</strong>
            </div>
            <div class="col-md-1" ng-show="songTextContent.poet != undefined">
                <select ng-model="songTextContent.poet" ng-options="poet.firstName for poet in poets" class="form-control"></select>
            </div>
        </div>
        <hr>
    </div>
</div>