<div sticky on-scroll="hideMenu()" on-top="showMenu()" class='headerBox ajab-container '>
    <div class='headerWrapper toggleBySlide' ng-show="showMenuDetails">
        <header>
            <div class='logoContainer'>
                <img class='logo' />
            </div>
            <div class='menuContainer'>
                <ul class='topLine'>
                    <li class='selected'>English</li>
                    <li>हिन्दी</li>
                    <li title="Support an artist or Ajab Shahar">Support</li>
                    <li title='Take a tour of this city '>Map</li>
                    <li title='Our inspiration, team, funding…'>About</li>
                    <li title=''>Sign in</li>
                </ul>

                <ul class='firstLine'>
                    <li title='Songs from the oral traditions – Bhakti, Sufi, Baul…'><a href="/user/partials/songs/allSongs.html">Songs</a></li>
                    <li title='Pithy poems – dohas, saakhis, beyts, rekhtas…'><a href="/user/partials/couplets/editorsChoice.html">Couplets</a></li>
                    <li title='Explorations of key words and ideas in the poetry'><a href="/user/partials/words/editorsChoice.html">Words</a></li>
                </ul>
                <ul class='secondLine'>
                    <li title='Interviews and writings about the poetry'><a href="/user/partials/reflections/editorsChoice.html">Reflections</a></li>
                    <li title='Meet with poets, singers, artists, scholars, seekers… '><a href="/user/partials/people/editorsChoice.html">People</a></li>
                    <li title='Enter the landscapes of song'><a href="/user/partials/common/underConstruction.html">Places</a></li>
                    <li title='Join a festival, concert, talk, satsang…'><a href="/user/partials/common/underConstruction.html">Gatherings</a></li>
                    <li title='Four musical travelogues exploring Kabir'><a href="/user/partials/common/underConstruction.html">Films</a></li>
                     <li title='expressions'><a href="/user/partials/common/underConstruction.html">Expressions</a></li>
                    <li title='Taking mystic poetry to students '><a href="/user/partials/common/underConstruction.html">Classroom</a></li>
                     <li title='strings'><a href="/user/partials/common/underConstruction.html">String</a></li>
                    <li title='Four musical travelogues exploring Kabir'><a href="/user/partials/common/underConstruction.html">Radio</a></li>
                </ul>
            </div>

        </header>
    </div>
    <div class='headerArt'>
        <div class='ajab-wrapper'>
        <a class='menuTree' ng-click="toggleMenu()"></a>
        </div>
    </div>
</div>