<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Word list page</title>
    <script src="/common/lib/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
    <script src="/common/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="/admin/js/services/contentService.js"></script>
    <script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
    <script type="text/javascript" src="/admin/js/app.js"></script>
    <script type="text/javascript" src="/admin/js/controllers/words/wordListController.js"></script>
    <link href="/common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>
<br>
<br>

<div ng-controller="wordListController">
    <table class="table">
        <tr>
            <td><b>Translitered word</b></td>
            <td><b>Translated word</b></td>
            <td><b>Published</b></td>
            <td><b>Edit</b></td>
        </tr>
        <tr>
            <td><input ng-model="search.wordOrPhrase" class="form-control"><br></td>
            <td><input ng-model="search.meaning" class="form-control"><br></td>
            <td><input ng-model="search.publish" class="form-control"><br></td>
        </tr>
        <tr ng-repeat="word in words |  filter:search">
            <td>{{word.wordOrPhrase}}</td>
            <td>{{word.meaning}}</td>
            <td>{{word.publish}}</td>
            <td><a href="wordDetails.html?id={{word.id}}" class="btn btn-info">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>
