#loader_wrapper {
    width: 100%;
    min-height: 1000px;
    background-color: #fff;
    display: inline-block;

    &>span {
        background: #fff url(/user/img/common/icons/spinner.gif) 0 0px;
        height: 128px;
        width: 128px;
        display: block;
        margin: 10% auto 0;
    }

}
