<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Reflections list page</title>
    <link href="/common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">

    <script src="/common/lib/angular/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
    <script src="/common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="/admin/js/services/contentService.js"></script>
    <script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
    <script type="text/javascript" src="/admin/js/app.js"></script>
    <script type="text/javascript" src="/admin/js/controllers/reflections/reflectionListController.js"></script>

</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>
<br>
<br>

<div ng-controller="reflectionListController">
    <table class="table">
        <tr>
            <td><b>Reflection-Title</b></td>
            <td><b>Speaker</b></td>
            <td><b>Published</b></td>
            <td><b>Edit</b></td>
        </tr>
        <tr>
            <td><input ng-model="search.title" class="form-control"><br></td>
            <td><input ng-model="search.speakerName" class="form-control"><br></td>
            <td><input ng-model="search.publish" class="form-control"><br></td>
        </tr>
        <tr ng-cloak ng-repeat="reflection in reflections| orderBy:'title' |filter:search">
            <td>{{reflection.title}}</td>
            <td>{{reflection.speaker}}</td>
            <td>{{reflection.publish}}</td>
            <td><a href="reflectionDetails.html?id={{reflection.id}}" class="btn btn-info">Edit</a></td>
        </tr>
    </table>

</div>





