<div ng-if="show('{{id}}')" class="popup-wrapper" style="z-index:2147483647">
    <div class="overlay"></div>
    <!--<div class='arrows left'>-->
    <!--</div>-->

    <!--<div class='fullHeight '>-->
    <div class='popup-container'>
        <song-overview ng-if="overview.isSong" id="{{overview.id}}" singer="{{overview.singer}}"
                       poet="{{overview.poet}}" english-translation="{{overview.englishTranslation}}"
                       audio-Url="{{overview.audioId}}" video-Url="{{overview.videoId}}"
                       close-video="detailsService.isClosed(overview.contentId)"
                       english-transliteration="{{overview.englishTransliteration}}" noun="{{overview.noun}}"
                       words="overview.words" downloadurl="{{overview.downloadUrl}}"></song-overview>
        <word-overview ng-if="overview.isWord" id="{{overview.id}}"
                       word-transliteration="{{overview.wordTransliteration}}"
                       word-translation="{{overview.wordTranslation}}"
                       word-intro-english="{{overview.wordIntroEnglish}}"
                       writers="overview.writers"
                       display-ajab-shahar-team="{{overview.displayAjabShaharTeam}}"></word-overview>
        <reflection-overview ng-if="overview.isReflection" id="{{overview.id}}" title="{{overview.title}}"
                             verb="{{overview.verb}}" speaker="overview.speaker"
                             video-id="{{overview.videoId}}" audio-id="{{overview.audioUrl}}"
                             text="{{overview.text}}"></reflection-overview>
    </div>
    <!--</div>-->


    <div class='arrows right'>
        <a href='#' class='close' ng-click="onClose('{{id}}')"></a>
        <span ng-repeat="i in getPopupCount() track by $index" ng-click="onSelect($index)"
              ng-class="isActive($index) ? 'active' : ''" class="bubble"></span>
    </div>
</div>
