<div class="popup-wrapper" style="z-index:2147483647">
    <div class="overlay"></div>
    <div class='popup-container'>
        <song-overview ng-if="overview.content.isSong" id="{{overview.content.id}}" singers="overview.content.singers"
                       poet="overview.content.poet" english-translation="{{overview.content.englishTranslation}}"
                       audio-Url="{{overview.content.audioId}}" video-Url="{{overview.content.videoId}}"
                       english-transliteration="{{overview.content.englishTransliteration}}" noun="{{overview.content.noun}}"
                       words="overview.content.words" downloadurl="{{overview.content.downloadUrl}}"></song-overview>
        <word-overview ng-if="overview.content.isWord" id="{{overview.content.id}}"
                       word-transliteration="{{overview.content.wordTransliteration}}"
                       word-translation="{{overview.content.wordTranslation}}"
                       word-intro-english="{{overview.content.wordIntroEnglish}}"
                       writers="overview.content.writers"
                       display-ajab-shahar-team="{{overview.content.displayAjabShaharTeam}}"></word-overview>
        <reflection-overview ng-if="overview.content.isReflection" id="{{overview.content.id}}" title="{{overview.content.title}}"
                             verb="{{overview.content.verb}}" speaker="overview.content.speaker"
                             video-Url="{{overview.content.videoId}}" audio-Url="{{overview.content.audioUrl}}"
                             text="overview.content.text" people="overview.content.people"
                             words="overview.content.words" songs="overview.content.songs" info="{{overview.content.info}}"></reflection-overview>
    </div>

    <div class='arrows right'>
        <a href='#' class='close' ng-click="close()"></a>
        <span ng-repeat="i in getPopupCount() track by $index" ng-click="select($index)"
              ng-class="isActive($index) ? 'active' : ''" class="bubble"></span>
    </div>
</div>
