<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin home page</title>
    <link href="../css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h3>Add new</h3>
    <div class="left">
        <h5><a href="/admin/partials/songs/details.html" class="btn btn-info">Songs</a></h5>
        <h5><a href="/admin/partials/couplets/details.html" class="btn btn-info">Couplets</a></h5>
        <h5><a href="/admin/partials/words/details.html" class="btn btn-info">Words</a></h5>
        <h5><a href="/admin/partials/person/details.html" class="btn btn-info">People</a></h5>
    </div>

    <h3>List of </h3>
    <div class="left">
        <h5><a href="/admin/partials/songs/list.html" class="btn btn-info">Songs</a></h5>
        <h5><a href="/admin/partials/couplets/list.html" class="btn btn-info">Couplets</a></h5>
        <h5><a href="/admin/partials/words/list.html" class="btn btn-info">Words</a></h5>
        <h5><a href="/admin/partials/person/list.html" class="btn btn-info">People</a></h5>
    </div>
</body>
</html>