<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin home page</title>
    <link href="../admin-css/admin.css" rel="stylesheet" type="text/css">
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h3>Add new</h3>
    <div class="left">
        <h5><a href="/admin/songs/details.html" class="btn btn-info">Song</a></h5>
        <h5><a href="/admin/couplets/details.html" class="btn btn-info">Couplet</a></h5>
        <h5><a href="/admin/words/details.html" class="btn btn-info">Word</a></h5>
        <h5><a href="/admin/reflections/details.html" class="btn btn-info">Reflection</a></h5>
        <h5><a href="/admin/person/details.html" class="btn btn-info">Person</a></h5>
        <h5><a href="/admin/splashScreenOptions.html" class="btn btn-info">SplashScreen Options</a></h5>
        <h5><a href="/admin/genre/genreDetails.html" class="btn btn-info">Genre</a></h5>
    </div>

    <h3>List of </h3>
    <div class="left">
        <h5><a href="/admin/songs/list.html" class="btn btn-info">Songs</a></h5>
        <h5><a href="/admin/couplets/list.html" class="btn btn-info">Couplets</a></h5>
        <h5><a href="/admin/words/list.html" class="btn btn-info">Words</a></h5>
        <h5><a href="/admin/reflections/list.html" class="btn btn-info">Reflection</a></h5>
        <h5><a href="/admin/person/list.html" class="btn btn-info">People</a></h5>
        <h5><a href="/admin/category/list.html?type=song" class="btn btn-info">Song Category</a></h5>
        <h5><a href="/admin/category/list.html?type=media" class="btn btn-info">Media Category</a></h5>
        <h5><a href="/admin/genre/genreList.html" class="btn btn-info">Genres</a></h5>
    </div>
</body>
</html>