<!DOCTYPE html>
<html>
<head lang="en" >
    <meta charset="UTF-8">
    <title>Words landing page</title>
    <script type="text/javascript" src="../../../common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="../../../common/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../user-js/common/directives/animation/animationModule.js"></script>
    <script type="text/javascript" src="../../user-js/common/modules/thumbnailModule.js"></script>
    <script type="text/javascript" src="../../user-js/common/modules/mediaPlayer.js"></script>
    <script type="text/javascript" src="../../user-js/common/modules/PopupSupport.js"></script>
    <script type="text/javascript" src="../../user-js/common/modules/htmlGenerator.js"></script>
    <script type="text/javascript" src="../../user-js/common/config/resourceUrlWhiteList.js"></script>
    <script type="text/javascript" src="../../user-js/common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-socialshare/angular-socialshare.js"></script>
    <script type="text/javascript" src="../../user-js/EditorsChoice/services/contentService.js"></script>
    <script type="text/javascript" src="../../user-js/common/directives/header/ajabShaharHeader.js"></script>
    <script type="text/javascript" src="../../user-js/common/directives/footer/ajabShaharFooter.js"></script>
    <script type="text/javascript" src="../../user-js/common/directives/words/wordBubble.js"></script>

    <script type="text/javascript" src="../../user-js/EditorsChoice/app.js"></script>
    <script type="text/javascript" src="../../user-js/words/controllers/wordsEditorsChoiceController.js"></script>

	<!-- A few css might be removed or be added depending upon what the UI person feels -->
	<link href="../../user-css/common.css" rel="stylesheet" type="text/css">
	<link href="../../user-css/common/directives/header/header.css" rel="stylesheet" type="text/css">
    <link href="../../user-css/common/directives/footer/footer.css" rel="stylesheet" type="text/css">
    <link href="../../user-css/reset.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="editorsChoiceApp">
	<div  ng-controller="wordsEditorsChoiceController">
		<ajab-shahar-header show-menu-details="false" call-back="setPageHeight()"></ajab-shahar-header>

		<!-- thumbnail and middle content starts -->
	    <div class='ajab-container'>
	        <div class='ajab-wrapper'>
	            <div class='homepage-content'>
	                <div ng-repeat="word in words">
                        {{word.wordOrPhrase}}
    					<word-bubble wordTransliteration="{{word.wordOrPhrase}}" wordTranslation="{{word.meaning}}" transliterationIntro="{{word.wordIntroductions[0].introduction_text}}"></word-bubble>
	                </div>
	            </div>
	        </div>
	    </div>

        <ajab-shahar-footer></ajab-shahar-footer>
    </div>
</body>
</html>