.left {
    margin-left: 2%;
}

.admin-home {
    position: absolute;
    display: inline-block;
    margin-left: 91%;
}

.song-text-table {
    width: 80%;
    margin: 2% 0;
}

.word-introduction-table {
    width: 100%;
    margin: 2% 0;
}

.song-text-table td, .word-introduction-table td {
    padding-right: 2%;
}

.rowWiseSelect.multiSelect .buttonLabel {
    text-align: left;
    width: 98%;
}

.initial-couplets,.couplet{
    color: #808080;
    font-size: 14px;
    font-style: italic;
}

.refrain{
    font-style: italic;
}
.ta-editor.ta-html, .ta-scroll-window.form-control{
    height: 300px !important;
}