<!DOCTYPE html>
<html ng-app="personAdminApp" ng-controller="personDetailsController" ng-init="init()">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin person details</title>

    <link rel="stylesheet" href="/common/lib/angular-multi-select/angular-multi-select.css">
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>

<div class="left">
    <h2>Enter Person Details</h2>

    <div class="left">
        <div>
            <form>
                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>First Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="FirstName" ng-model="formInfo.firstName" maxlength="30" required
                               class="form-control"/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Middle Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="MiddleName" ng-model="formInfo.middleName" maxlength="30"
                               class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Last Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="LastName" ng-model="formInfo.lastName" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>First Name In Hindi</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="FirstName" ng-model="formInfo.firstNameInHindi" maxlength="30"
                               class="form-control"/>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Middle Name In Hindi</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="MiddleName" ng-model="formInfo.middleNameInHindi" maxlength="30"
                               class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Last Name In Hindi</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="LastName" ng-model="formInfo.lastNameInHindi" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Primary Occupation</label>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control col-sm-5" ng-model="formInfo.primaryOccupation"
                                ng-options="occupation as occupation.name for occupation in primaryOccupationsList track by occupation.id"></select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Occupation</label>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-5" multi-select input-model="categoryList" button-label="name"
                             item-label="name" tick-property="ticked" output-model="formInfo.category"></div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Thumbnail Url</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnailURL" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Profile</label>
                    </div>
                    <div class="col-sm-8">
                        <text-angular name="profileText" ng-model="formInfo.profile"></text-angular>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                        <label>Publish</label>
                    </div>
                    <div class="col-sm-1"
                         ng-init='authoringOptions=[{ "value": true, "text": "Yes" }, { "value": false, "text": "No" }]'>
                        <select class="form-control"
                                ng-init="formInfo.publish = formInfo.publish || authoringOptions[1].value"
                                ng-model="formInfo.publish"
                                ng-options="authoringOption.value as authoringOption.text for authoringOption in authoringOptions"></select>
                    </div>
                </div>

                <button type="submit" ng-click="saveData()" class="btn btn-primary btn-lg">Save</button>
            </form>
        </div>
    </div>
</div>

<script src="/common/lib/angular/angular.js"></script>
<script type="text/javascript" src="/common/lib/underscore/underscore.js"></script>
<script type="text/javascript" src="/common/lib/angular-multi-select/angular-multi-select.js"></script>
<script type="text/javascript" src="/common/lib/angular-filter/dist/angular-filter.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
<script type="text/javascript" src="/common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
<script type="text/javascript" src="/common/lib/textAngular/dist/textAngular.min.js"></script>
<script type="text/javascript" src="/admin/js/services/contentService.js"></script>
<script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
<script type="text/javascript" src="/admin/js/person/personAdminApp.js"></script>
<script type="text/javascript" src="/admin/js/controllers/person/personDetailsController.js"></script>
</body>
</html>
