h2,
h3,
.news-listing li h3 a,
.related-news a,
.news-header .byline,
.media-title,
ul.employees li .name,
.headlines li h4 a,
.side-menu li,
.tag-cloud a
{color:#336633;}

hgroup h2{font-size:32px;margin:0 0 5px 0;border-bottom:1px solid #ccc;}
hgroup h3{font-size:18px;margin:5px 0 0 0;}

.header-bg {background:url(/application/themes/quest/images/template/intranet-bg-header.png) 0 0 repeat;}
.search-box{background: #336633 url(/application/themes/quest/images/template/intranet-bg-search.png) no-repeat 0 0;}
.search-box input[type="text"]{color:#e1f4e1;}
.search-box input[type="submit"], input[type="button"] {color:#e1f4e1;}
.news-listing li:first-child{border-top:0 dotted #ccc;}
.exclusive{display:block;float:right;padding:3px;font-size:9px;text-transform:uppercase;background:#efefef;border:1px solid #ccc;font-family:monospace;}

table.sort-table thead tr .headerSortDown,
.events .day .date .month,
.calendar table th.date-picker-title, .calendar table th.prev, .calendar table th.next,
.add,
.share .dotCMS-btn,
table.sort-table thead tr .headerSortUp
{background:#336633;}

.risk1,.risk2,.risk3,.risk4,.risk5{background-image: url("/application/themes/quest/images/icons/intranet-rating-sprite.png");}
.risk1-lg,.risk2-lg,.risk3-lg,.risk4-lg,.risk5-lg{background: url("/application/themes/quest/images/icons/intranet-risk-sprite.png") no-repeat scroll 0 0 transparent;}

.Large-Cap-Value{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 0;}
.Large-Cap-Blend{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px 0;}
.Large-Cap-Growth{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px 0;}
.Mid-Cap-Value{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 -140px;}
.Mid-Cap-Blend{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px -140px;}
.Mid-Cap-Growth{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px -140px;}
.Small-Cap-Value{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 -280px;}
.Small-Cap-Blend{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px -280px;}
.Small-Cap-Growth{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px -280px;}

.Treasury-Short-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 -420px;}
.Treasury-Inter-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px -420px;}
.Treasury-Long-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px -420px;}
.Investment-Short-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 -560px;}
.Investment-Inter-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px -560px;}
.Investment-Long-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px -560px;}
.Low-quality-Short-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat 0 -700px;}
.Low-quality-Inter-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -175px -700px;}
.Low-quality-Long-term{width:170px;height:130px;background:url('/application/themes/quest/images/icons/intranet-box-sprite.png') no-repeat -350px -700px;}


.headerH2{margin:10px 30px;border-bottom:1px solid #ccc;padding:0 0 10px 0;}
