<div class="slide-nav-list" ng-show="expandFilter">
    <div class="first-layer-list">
        <ul class='filters'>
            <li class='head'>Filter by</li>
            <li>
                <a ng-click="toggleSingers()" ng-class="shouldShowSingers ? 'active' : 'disable'">singer</a>
                <ul class="child-list">
                    <li ng-hide="singerNameInFilter==''|| singerNameInFilter.name==''" ng-cloak>{{singerNameInFilter.name}}<a
                            ng-click="removeSingerFilter()">x</a></li>
                </ul>
            </li>

            <li>
                <a ng-click="togglePoets()" ng-class="shouldShowPoets ? 'active' : 'disable'">Poet</a>
                <ul class="child-list">
                    <li ng-hide="poetNameInFilter==''|| poetNameInFilter.name==''" ng-cloak>{{poetNameInFilter.name}}<a
                            ng-click="removePoetFilter()">x</a></li>
                </ul>
            </li>

            <li><a>Word</a></li>
            <li><a>Gathering</a></li>
            <li class="reset-image"><a class="reset" ng-click="clearFilters()">Reset</a></li>
        </ul>
    </div>

    <div class="second-layer-list" ng-show="shouldShowSingers">
        <div class="overlay"></div>
        <ul>
            <li ng-repeat="singer in singers" class="list-item">
                <a href="#" ng-click="initialiseSingerNameInFilter(singer);hideSingers()" ng-cloak>{{singer.name}}</a>
            </li>
        </ul>
    </div>
    <div class="second-layer-list" ng-show="shouldShowPoets">
        <div class="overlay"></div>
        <ul>
            <li ng-repeat="poet in poets" class="list-item">
                <a href="javascript:void(0)" ng-click="initialisePoetNameInFilter(poet);hidePoets()" ng-cloak>{{poet.name}}</a>
            </li>
        </ul>
    </div>


</div>
