<div class="thumbnail {{customStyle}}">
    <div class="image" ng-click="open('{{id}}')">
        <img src="{{imgSrc}}"/>
    </div>
    <div class="bubble" ng-click="open('{{id}}')">
        <div class="summary" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="title">{{getTitle()}}</h3>
            <h4 class="en-title">{{getSecondTitle()}}</h4>
            <span class="singers" ng-hide="multipleSingers">{{noun}} {{singer|uppercase}}</span>

            <div ng-hide="!shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <div class="singers" ng-show="multipleSingers">
                    <small class="">sing {{singers|uppercase}}</small>
                </div>
                <small class="poet">Poet {{poet|uppercase}}</small>
                <div class='footer'>
                    <small class="categoryName">{{categoryName}}</small>
                    <small class="play">{{duration}}</small>
                </div>
            </div>
        </div>
    </div>
</div>



