<div class="media-introduction song" ng-cloak>
    <h5 class="artistName selected">
        <span ng-repeat="singer in singers track by $index">{{singer.name}}<span ng-hide="$last"> &  </span></span>
        <small> {{noun}}</small>
    </h5>

    <h3 class="context"><a ng-href="{{getSongUrl()}}" target="_self">{{englishTransliteration}}</a></h3>
    <h4 class='moreDesc'>{{englishTranslation}}</h4>

    <div ng-if="showVideo" class='youtubeVideo'>
        <youtube width="100%" height="90%" videoid="videoUrl"></youtube>
    </div>
    <div ng-if="showAudio">
        <sound-cloud audio-url="{{audioUrl}}" id="snd_{{id}}"></sound-cloud>
    </div>

    <ul class="audio-video-options" ng-show="hasAudioAndVideo">
        <li>
            <a href="javascript:void(0)" ng-show="showVideo" class="video-icon active"
               ng-click="toggleVideoOrAudio()"></a>
            <a href="javascript:void(0)" ng-hide="showVideo" class="video-icon" ng-click="toggleVideoOrAudio()"></a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-show="showAudio" class="audio-icon active"
               ng-click="toggleVideoOrAudio()"></a>
            <a href="javascript:void(0)" ng-hide="showAudio" class="audio-icon" ng-click="toggleVideoOrAudio()"></a>
        </li>
    </ul>
    <a href="#" class="download" ng-if="downloadurl" target="_blank"
       ng-href="{{downloadurl}}"></a>

    <div class="mediaFooter">
        <h3 class='infoText'>For lyrics, translations, versions, reflections and more
            <a ng-href="{{getSongUrl()}}" target="_self">enter song</a> or see <a ng-href="/songs/all" class="sub" target="_self">all songs</a>
        </h3>
        <div class='creditCont' ng-cloak>
            <div class='creditBox'>
                <a ng-href="{{getPersonUrl(poet)}}" class='link-text' target="_self">{{poet.name}}</a>
                <span>POET</span>
            </div>
            <span class='creditBox' ng-repeat="singer in singers track by $index">
                <a ng-href="{{getPersonUrl(singer)}}" class='link-text' target="_self">{{singer.name}}</a>
                <span>SINGER</span>
            </span>
            <span ng-repeat="word in words" class="creditBox">
                <a ng-href="{{getWordUrl(word)}}"
                        target="_self" class="link-text">{{word.transliteration}}</a>
                <span>WORD</span>
            </span>
        </div>
    </div>
</div>
