<div class="thumbnail {{customStyle}}">
    <div class="image" ng-click="open('{{id}}')">
        <img src="{{imgSrc}}"/>
    </div>
    <div ng-cloak class="bubble" ng-click="open('{{id}}')">
        <div class="summary" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="title" ><a ng-href="{{getUrl()}}">{{primaryTitle}}</a></h3>
            <h4 class="en-title" >{{secondaryTitle}}</h4>
            <div class="singers" >
                <small class="" ng-show="multipleSingers">sing {{getSingers()| uppercase}}</small>
                <small class="" ng-hide="multipleSingers" >sings {{getSingers()| uppercase}}</small>
            </div>
            <div ng-hide="!shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <small class="poet" ng-cloak>Poet {{poet|uppercase}}</small>
                <div class='footer'>
                    <small class="categoryName" ng-cloak>{{categoryName}}</small>
                    <!--<small class="play">{{duration}}</small>-->
                    <small ng-class='song.url !== null ? "play-video-icon": "play-audio-icon"'>{{duration}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
