<div class="thumbnail {{customStyle}}">
    <div class="image" ng-click="open('{{id}}')">
        <img src="{{imgSrc}}"/>
    </div>
    <div class="bubble" ng-click="open('{{id}}')">
        <div class="summary" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()" ng-load="hideDetails()">
            <h3 class="title">{{primaryTitle}}</h3>
            <h4 class="en-title">{{secondaryTitle}}</h4>
            <span class="singers" ng-hide="multipleSingers">{{noun}} {{singer|uppercase}}</span>

            <div class='thumbnailDetails toggleBySlide {{bubbleShowClass}}'>
                <div class="singers" ng-show="multipleSingers">
                    <small class="">sing {{singers|uppercase}}</small>
                </div>
                <small class="poet">Poet {{poet|uppercase}}</small>
                <div class='footer'>
                    <small class="categoryName">{{categoryName}}</small>
                    <!--<small class="play">{{duration}}</small>-->
                    <small ng-class='song.url !== null ? "play-video-icon": "play-audio-icon"'>{{duration}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
