<!DOCTYPE html>
<html ng-app="genresAdminApp" ng-controller="genreDetailsController">
<head lang="">
    <meta charset="UTF-8">
    <title ng-cloak>Genre {{pageName}} - admin</title>
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body ng-init="getGenreData()">
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>

<div class="left">
    <h2 ng-cloak>{{pageName}} genre details</h2>

    <div class="alert alert-danger" role="alert" ng-show="alert.length != 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only" ng-cloak>Error:</span>
        {{alert}}
    </div>
    <div class="row">
        <div class="form-group col-sm-2">
            <label>Original</label>
        </div>
        <div class="form-group col-sm-3">
            <input type="text" name="originalText" ng-model="formInfo.original" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-2">
            <label>English</label>
        </div>
        <div class="form-group col-sm-3">
            <input type="text" name="englishText" ng-model="formInfo.english" class="form-control" required>
        </div>
    </div>
    <button type="submit" ng-click="saveData()" class="btn btn-primary btn-lg">Save</button>
</div>
<script src="/common/lib/angular/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
<script type="text/javascript" src="/admin/js/services/genreContentService.js"></script>
<script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
<script type="text/javascript" src="/admin/js/Genres/genresAdminApp.js"></script>
<script type="text/javascript" src="/admin/js/controllers/genre/genreDetailsController.js"></script>
</body>
</html>
