/* header */
header{
  display:inline-block;
  /*max-width:1000px;*/
  width:98%;
  padding: 1% 0 10px 0;
  margin: 0 auto;
}
header img.logo{
    content:url("../../../../img/common/directives/header/logo.png");
    float:left;
}

.headerBox{
  margin-top: 0%;
}

.headerArt{
  background:url(../../../../img/common/directives/header/header.png) top right no-repeat;
  transition: none;
  margin-top:-15px;
  height: 95px;
  position: relative;
  z-index: 9;
}

.headerArt .menuTree{
  display: inline-block;
  width: 130px;
  height: 70px;
  float: right;
  margin: 28px 115px 0 -100px;
  cursor: pointer;
}

.headerWrapper{
    transition: none;
    background: #fff;
    padding:0% 0 0% 0;
    position:relative;
    z-index:9;
    box-shadow: #898989 0 1px 15px;
}

.headerBox.fixed{position:fixed;width:100%;top:0;cursor:pointer; z-index: 15}
.headerArt.fixed{position:fixed;width:100%;top:0;cursor:pointer;}
.headerWrapper.fixed{position:fixed;width:100%;top:0;display:block;}


.logoContainer{float:left;display:inline-block;}
.menuContainer{float:left;display:inline-block;width:90.6%;}
header ul{text-transform:uppercase;display:inline-block;width:100%;clear:right;padding:1% 0;border-bottom: solid 1px #eee;color:#444;}
header ul:last-child{border:0;}
header ul li{padding:0% 1.5%;border-left:solid 1px #ddd;display:inline-block;float:left;}
header ul.topLine li.selected{border-left: solid 1px #ddd;}
header ul li:first-child{border:0;}

header ul.firstLine{font-size:1.5em;margin-top:0%;color:#666;}
header ul.secondLine{font-size:0.8em;color:#999;}
header ul.thirdLine{font-size:1em;color:#ccc;}

header ul.topLine{
float: right;
text-align: right;
border: 0;
font-size: 0.8em;
color:#ccc;
}

header ul.topLine li{float:right;padding:0 1%;}
header ul.topLine li:last-child{border:0;}


li.searchBox{float:right;width:40%;border:0;}
.searchField{
background: #f1f1f1 url(../../../../img/common/directives/header/icons/searchicon.png) right 0px no-repeat;
background-origin: content-box;
border: solid 1px #eee;
border-radius: 20px;
width: 100%;
margin-top: -2%;
padding: 1.5% 2% 1.5% 2%;}