/* header */
header{
  display:inline-block;
  max-width:1000px;
  width:100%;
  padding: 1% 0 0 0;

}
header img.logo{
    content:url("../../img/common/logo.png");
    float:left;
}

.headerBox{
  margin-top: 0%;
}

.headerArt{
  background:url(../../img/common/header.png) top no-repeat;
  background-size: cover;
  height: 145px;
  position: relative;
  z-index: 9;
}

.headerWrapper{
background: #fff;
padding:0% 0 0% 0;
position:relative;
z-index:9;
}


.logoContainer{float:left;display:inline-block;}
.menuContainer{float:left;display:inline-block;width:80%;}
header ul{text-transform:uppercase;display:inline-block;width:100%;clear:right;padding:1% 0;border-bottom: solid 1px #eee;color:#444;}
header ul:last-child{border:0;}
header ul li{padding:0% 2%;border-left:solid 1px #ddd;display:inline-block;float:left;}
header ul.topLine li.selected{border-left: solid 1px #ddd;}
header ul li:first-child{border:0;}

header ul.firstLine{font-size:2em;margin-top:-1.5%;color:#666;}
header ul.secondLine{font-size:1.2em;color:#999;}
header ul.thirdLine{font-size:1em;color:#ccc;}

header ul.topLine{
float: right;
text-align: right;
border: 0;
font-size: 0.9em;
color:#ccc;
}

header ul.topLine li{float:right;padding:0 1%;}
header ul.topLine li:last-child{border:0;}


li.searchBox{float:right;width:40%;border:0;}
.searchField{
background: #f1f1f1 url(../../img/common/icons/searchicon.png) right 0px no-repeat;
background-origin: content-box;
border: solid 1px #eee;
border-radius: 20px;
width: 100%;
margin-top: -2%;
padding: 1.5% 2% 1.5% 2%;}