.ajab-wrapper {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    z-index: 1;
}

.all-songs {
    background: transparent url(../img/common/bg/bg_pattern.png) repeat;
    background-size: contain;
    margin: 10px 0 0 0;

    .headerBox {
        position: absolute;
        top: 0;
        left: 0;
    }

    .left-nav {
        /*float: left;
        text-align: center;*/
        position: absolute;
        left: 0;
        top: 5%;
        margin-left: 1.5%;
        z-index: 7;

        .nav-elements-wrapper {
            position: relative;
            .category-logo {
                background: transparent url('../img/songs/songs_logo.png') 0 0 no-repeat;
                width: 85px;
                height: 58px;
                padding-top: 30px;
                color: #9c9b9b;
                font-size: 20px;
                font-family: 'Merriweather';
                font-weight: 300;
            }

            .filter-button {
                display: block;
                margin-top: 10px;
                font-size: 10px;
                text-transform: uppercase;
                color: #e61b72;
                &>.collapse {
                    background: transparent url('../img/common/icons/cross.png') 0 0 no-repeat;
                    display: inline-block;
                    height: 9px;
                    width: 9px;
                    &.expand {
                        background-image: url('../img/common/icons/minus.png');
                    }
                }

            }
        }
    }

    .second-layer-list {
        .overlay {
            background: rgba(255, 255, 255, 0.7);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        position: fixed;
        left: 183px;
        top: 0;
        height: 100%;
        width: 87%;
        text-align: left;
        z-index: -1;
        padding: 104px 50px 50px 50px;
        color: #999;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        box-sizing: border-box;
        -webkit-animation: slideIn 4s ease-in-out -2s;
        -moz-animation: slideIn 4s ease-in-out -2s;
        -ms-animation: slideIn 4s ease-in-out -2s;
        animation: slideIn 4s ease-in-out -2s;

        &.ng-hide {
            -webkit-animation: slideOut 4s ease-in-out -2s;
            -moz-animation: slideOut 4s ease-in-out -2s;
            -ms-animation: slideOut 4s ease-in-out -2s;
            animation: slideOut 4s ease-in-out -2s;
        }
        /*display: none;*/

        &>ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;

            .list-item {
                padding: 5px 2%;
                    &>a {
                        font-size: 12px;
                        color: #6f6f6e;
                        text-transform: uppercase;

                    }

                }
        }

    }

    .filters {
        &>li {
            &>a {
                text-transform: lowercase;
            }
        }
        .child-list {
            margin: 10px 0;
            &>li {
                color: #878787;
                font-size: 12px;
                font-family: 'Merriweather Sans';
                text-transform: uppercase;
                margin: 0;
                &>a {
                    color: #e62379;
                    line-height: 15px;
                    margin-left: 10px;
                    font-weight: 700;
                }
            }
        }
    }

    .songs {
        margin-top: 0;
        .thumbnail-media {
            width: 215px;
            height: 120px;
        }

        .desc-wrapper {
            z-index: 1;
            .thumbnail-desc {
                margin: 0;
                box-shadow: none;
                width: 203px;

                &:before {
                    background: rgba(255,255,255,0) url(../img/common/directives/thumbnail/top.png) left top no-repeat;
                    top: -16px;
                    width: 223px;
                    background-size: contain;
                }
            }
            .lower-curve {
                margin: -3px 0 0 0;
                background: rgba(255,255,255,0) url(../img/common/directives/thumbnail/bottom.png) left top no-repeat;
                background-size: cover;
                width: 223px;
            }
        }
    }


}

@keyframes slideIn {
    0% { margin-left: -100%;}
    100% { margin-left: 0%}

}
@-webkit-keyframes slideIn {
    0% { margin-left: -100%;}
    100% { margin-left: 0%}

}
@-moz-keyframes slideIn {
     0% { margin-left: -100%;}
     100% { margin-left: 0%}

}
@-ms-keyframes slideIn {
     0% { margin-left: -100%;}
     100% { margin-left: 0%}

 }
@keyframes slideOut {
    0% { margin-left: 0%;}
    100% { margin-left: -100%}
}
@-webkit-keyframes slideOut {
    0% { margin-left: 0%;}
    100% { margin-left: -100%}
}

@-moz-keyframes slideOut {
     0% { margin-left: 0%;}
     100% { margin-left: -100%}
 }
 @-ms-keyframes slideOut {
      0% { margin-left: 0%;}
      100% { margin-left: -100%}
  }
