<div>
    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Intro (English)</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="wordIntroEnglish"
                      placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Intro (Hindi)</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="wordIntroHindi"
                      placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <button type="button" class="btn btn-info" ng-click="addToWordIntroduction()">Add to Word Introduction</button>
    <!--<button type="button" class="btn btn-danger" ng-click="clearWordIntro()">Clear Word Introduction</button>-->

    <div class="row" ng-repeat="wordIntroduction in wordIntroductions | orderBy :'id'">
        <table class="word-introduction-table">
            <thead>
            <tr>
                <th>English</th>
                <th>Hindi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="50%">
                    <text-angular name="translationContent"
                                  ng-model="wordIntroduction.wordIntroEnglish"></text-angular>
                </td>
                <td width="50%">
                    <text-angular name="originalContent"
                                  ng-model="wordIntroduction.wordIntroHindi"></text-angular>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <label class="col-sm-2">Content Type</label>

            <div class="form-group col-sm-1">
                <select name="format" ng-model="wordIntroduction.contentType" class="form-control">
                    <option value="text">Text</option>
                    <option value="couplet">Couplet</option>
                </select>
            </div>
        </div>
        <div class="row" ng-show="wordIntroduction.contentType === 'couplet'">
            <strong class="col-sm-2">Couplet's poet</strong>

            <div class="form-group col-sm-2">
                <select ng-model="wordIntroduction.poet.id" class="form-control">
                    <option ng-repeat="poet in poets" value="{{poet.id}}"
                            ng-selected="wordIntroduction.poet.id === poet.id">{{poet.firstName}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
