<div>
    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Intro (English)</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="wordIntroEnglish" placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-2">
            <label>Word Intro (Hindi)</label>
        </div>
        <div class="form-group col-sm-8">
            <textarea class="form-control" rows="6" ng-model="wordIntroHindi" placeholder=" Enter original text ..."></textarea>
        </div>
    </div>

    <button type="button" class="btn btn-info" ng-click="addToWordIntroduction()">Add to Word Introduction</button>
    <!--<button type="button" class="btn btn-danger" ng-click="clearWordIntro()">Clear Word Introduction</button>-->

    <div ng-repeat="word in wordIntroductions track by $index">
        <table class="word-introduction-table">
            <thead>
                <tr>
                    <th>English</th>
                    <th>Hindi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="50%">
                        <text-angular name="translationContent{{$index}}" ng-model="word.wordIntroEnglish" ></text-angular>
                    </td>
                    <td width="50%">
                        <text-angular name="originalContent{{$index}}" ng-model="word.wordIntroHindi" ></text-angular>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
