<div class="row">
    <div class="form-group col-sm-2">
        <label>{{title}}</label>
    </div>
    <div class="form-group col-sm-2">
        <select ng-model="titleData" ng-disabled="AddNewTitle"
                ng-options="sTitle as sTitle.englishTransliteration for sTitle in titleList" class="form-control"
                ng-required="{{validationRequired}}">
        </select>
    </div>
    <div class="form-group col-sm-2">
        <button type="button" ng-click="EditDiv=true" class="btn btn-info">Edit</button>
        <button type="button" ng-click="enableNewSongTitle()" class="btn btn-info">Add New</button>
    </div>
    <error-message name="Title" show-error="validate(titleData)"></error-message>

    <div ng-show="AddNewTitle || EditDiv">
        <div class="row col-sm-12">
            <div class="form-group col-sm-2">
                <label>Original Title</label>
            </div>
            <div class="form-group col-sm-2">
                <input type="text" ng-model="titleData.originalTitle" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label>English Transliteration</label>
            </div>
            <div class="form-group col-sm-2">
                <input type="text" ng-model="titleData.englishTransliteration" class="form-control"
                       ng-required="{{validationRequired}}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <label>English Translation</label>
            </div>
            <div class="form-group col-sm-2">
                <input type="text" ng-model="titleData.englishTranslation" class="form-control"
                       ng-required="{{validationRequired}}">
            </div>
        </div>
        <div class="form-group col-sm-2">
            <button type="button" ng-click="disableNewSongTitle()" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>
