<div class="header-with-carousel  song-explore">
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="logo-container">
                <a href="/songs/#/featuredContent" target="_self">
                    <span class="page-logo">songs</span>
                </a>
            </div>
            <div class="page-title">
                <span class="main" >Bhajan Ro Gudak Rahyo Gaado</span>
                <span class="sub-main" >Cart of Meditation is Tottering</span>

            </div>


        </div>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div class="left-nav" scroll>
                    <ul>
                        <li><a href="javascript:void(0)" >song</a></li>
                        <li><a target="_self" href="/user/partials/common/underConstruction.html" class="active">explore</a>
                            <ul class="child-list">
                                <li><a href="javascript:void(0)" >songs</a></li>
                                <li><a href="javascript:void(0)" >reflections</a></li>
                                <li><a href="javascript:void(0)" class="disable" >couplets</a></li>
                                <li><a href="javascript:void(0)" class="disable">echoes</a></li>
                                <li><a href="javascript:void(0)" class="disable">other</a></li>
                                <li><a href="javascript:void(0)" class="active">all</a></li>
                            </ul>

                        </li>

                    </ul>

                </div>
                <div class='grid-view'>
                    <div class='grid-wrapper' height-offset="-155">
                        <div id="container" mosaic>
                            <!--<ul class="media-list" height-offset="0">-->
                                <div  class="media " >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry text reflectrtneyrt
                                                    ehrt t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></content-thumbnail>
                                </div>
                                <div  class="media " >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet  asfe wer werwer we we we we we we wt we wet e   eyr    t3 y wt ion dgh hry text reflectrtneyrt ehrt etytr  eet
                                                     </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry text
                                                    reflectrtneyrt ehrt etytr  eet   e   eyr</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media ng-scope" >
                                    <div class="thumbnail  reflection shift1" ng-class="[content.type,customStyle]">
                                        <!--{{customStyle}}-->
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflectrtneyrt ehrt etytr  eet   e   eyr    t3 y wt ion dgh hry </h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div class="thumbnailDetails " style="display: none;">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>

                                                    <!-- ngIf: content.description -->
                                                    <!-- ngIf: content.description || content.secondaryVerbPeople -->

                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <!-- ngIf: content.contentFormat === 'text' --><small class="more-info ng-scope" >T</small>
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                            <!-- ngIf: content.contentFormat != 'text' -->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!--</ul>-->
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

    </div>
</div>
