<div class="header-with-carousel  explore">
    <div class="page-header">
        <div class="ajab-wrapper">
            <div class="logo-container">
                <a href="/songs" target="_self">
                    <span class="page-logo">songs</span>
                </a>
            </div>
            <div class="page-title" ng-cloak>
                <span class="main">{{song.songTitle.englishTransliteration}}</span>
                <span class="sub-main">{{song.songTitle.englishTranslation}}</span>
            </div>
        </div>
    </div>

    <div class='ajab-container'>
        <div class='ajab-wrapper'>
            <div class="main-content">
                <div class="left-nav" scroll>
                    <ul>
                        <li><a ng-href="{{getDetailsPageUrl()}}">song</a></li>
                        <li title="a sample of reflections, songs & more, related through common words & ideas"><a target="_self" href="javascript:void(0)"
                               class="active">explore</a>
                            <ul class="child-list">
                                <li title="" ng-show="contentAvailable('song')"><a href="javascript:void(0)" ng-click="applyFilter('song')" ng-class="{active:currentSelection==='song'}">songs</a></li>
                                <li title="" ng-show="contentAvailable('reflection')"><a href="javascript:void(0)" ng-click="applyFilter('reflection')" ng-class="{active:currentSelection==='reflection'}">reflections</a></li>

                                <li title=""><a href="javascript:void(0)" ng-click="clearFilters()" ng-class="{active:!currentSelection}">all</a></li>
                            </ul>

                        </li>

                    </ul>

                </div>
                <div class='grid-view'>
                    <span>A random sample of reflections, songs & more</span>
                    <div ng-if="song.words && song.words.length > 0">
                        , related through the common words -
                        <!--{{song.words}}-->
                        <span ng-repeat="word in song.words" >
                            <a class="clickable-grey"  ng-show="word.publish" ng-href="/words/details/{{word.id}}" ng-bind="word.wordTransliteration"></a><span ng-show="word.publish" ng-hide="$last">,</span>
                        </span>
                    </div>
                    <div class='grid-wrapper' >
                        <div id="container" masonry preserve-order height-offset="150">
                            <!--<ul class="media-list" height-offset="0">-->
                            <div ng-repeat="thumbnail in thumbnails | filter : contentTypeFilter" class="media masonry-brick">
                                <content-thumbnail content="thumbnail" format="format" ng-click="selectThumbnail(thumbnail)" keep-expanded="true"
                                                   current-index="{{$index}}"></content-thumbnail>
                            </div>
                            <!--</ul>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
