body.admin-pages{
margin-top:20%;
margin-bottom: 50%;
}

.admin-container{
  width:100%;
  text-align: center;
  display:inline-block;
}

.admin-wrapper{
  max-width:1000px;
  width:100%;
  text-align: center;
  display:inline-block;
  margin:0 auto;
}

.left{
	margin-left: 2%;
}

.lyricsBox{
	margin-left: 246%;
	margin-top: -190%;
}