.left{
	margin-left: 2%;
}

.admin-home{
  position: absolute;
  display: inline-block;
  margin-left: 91%;
}

.song-text-table {
  width: 80%;
  margin: 2% 0;
}

.song-text-table td{
  padding-right: 2%;
}