/*homepage content box */


.homepage-content{
    width: 70%;
    position: relative;
    height: 4100px;
    margin:10% auto 0;

    .thumbnailWrapper {
        margin-bottom: 300px;
        margin-top: 100px;
    }

}

.shift {

        &1 {
            margin:0 0 0 50%;
        }
        &2, &8 {
            margin:0 0 0 47%;
        }
        &3 {
            margin:0 0 0 40%;
        }
        &4, &6 {
            margin:0 0 0 35%;
        }
        &5 {
            margin:0 0 0 30%;
        }
        &7 {
            margin:0 0 0 43%;
        }
        &9 {
            margin:0 0 0 49%;
        }

    }


