

/*homepage content box */

.homepage-content{
    width: 70%;
    position: relative;
    height: 3910px;
    margin: 24% auto 0;

    @media screen and (max-width: 1024px) {
        margin-top: 34%;
    }
    @media screen and (max-width: 768px) {
        margin-top: 42%;
    }

    .thumbnailWrapper {
        margin-bottom: 27%;
        margin-top: 0px;

        @media screen and (max-width: 1280px) {
            margin-bottom: 31%;
        }
        @media screen and (max-width: 1024px) {
            margin-bottom: 41%;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 55%;
        }
    }

}

.shift {

        &1 {
            margin:0 0 0 35%;
        }
        &2 {
            margin:0 0 0 42%;
        }
        &3 {
            margin:0 0 0 38%;
        }
        &4 {
            margin:0 0 0 38%;
        }
        &5 {
            margin:0 0 0 42%;
        }
        &6 {
            margin:0 0 0 30%;
        }
        &7 {
            margin:0 0 0 40%;
        }
        &8 {
            margin:0 0 0 30%;
        }
        &9 {
            margin:0 0 0 40%;
        }

    }


