
.pxLayers {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 4138px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &.px-layer {

    /*body layer*/
    &1 {
        background-image: url(../../img/mainLandingPage/parallax/body.png);
        width: 1140px;
    }

    /* map layer */
    &2 {
        background: url(../../img/mainLandingPage/parallax/02_map.png) 50% 0 repeat fixed;
    }

    /*background-effects layer*/
    &3 {
        background-image: url(../../img/mainLandingPage/parallax/check_img.png);
        width: 1180px;

        @media screen and (max-width: 1140px) {
            background-image: url(../../img/mainLandingPage/parallax/check_img1.png);
            width: 1140px;
        }

    }

    &4 {
        display: block;
        background-color: #fff;

        @media screen and (max-width: 1140px) {

            display: none;

        }
    }

    &5{
        background: url(../../img/mainLandingPage/parallax/bird.png) 0px no-repeat;

        -webkit-animation: birdopacity 15s linear infinite;
        -webkit-animation: movebird 55s linear infinite;
        -moz-animation: movebird 15s linear infinite;
        -o-animation: movebird 15s linear infinite;
        -webkit-transform-origin: 30em 60em;
    }

    &6{
       background: url(../../img/mainLandingPage/parallax/clouds.png);
       height: 4138px;
       -webkit-animation: moveclouds 30s linear infinite;
       -moz-animation: moveclouds 30s linear infinite;
       -o-animation: moveclouds 30s linear infinite;
    }
  }
}



/* bird animation begins */

@-webkit-keyframes birdopacity {
    0%{opacity:0.4;}
    50% {opacity: 1}
    100%{opacity:1;}
}
@-webkit-keyframes movebird {
  0% {background-position-y: 100px;background-position-x: 0px;-webkit-transform: rotate(80deg); }
  50% {background-position-y: 500px;background-position-x: 1200px;}
  100% {background-position-y: 200px;background-position-x: 500px;-webkit-transform: rotate(892deg); }
}
@-moz-keyframes movebird {
  0% {background-position-x: 800px;}
  100% {background-position-y: 500px;}
}
@-o-keyframes movebird {
  0% {background-position-x: 800px;}
  100% {background-position-y: 500px;}
}
/* bird animation ends */



/* clouds animation begins */
@-webkit-keyframes moveclouds {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}

@-moz-keyframes moveclouds {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}

@-o-keyframes moveclouds {
  0% { transform: translate(100%, 0); }
  100% { transform: translate(-100%, 0); }
}

/* clouds animation ends */