$color-primary: #E83785;

// Text Colors

$color-heading: #333333;
$color-text: #666666;
$color-menu: #7F8080;
$color-sub-text: #999999;
$color-link-active: #7bd0ca;
$color-link-green: #00a199;

// Others

$color-icon: #B3B3B3;
$color-border: #C7C6C5;
