<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Couplet list page</title>
    <script src="/common/lib/angular/angular.js"></script>
    <script src="/common/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script type="text/javascript" src="/common/lib/textAngular/dist/textAngular.min.js"></script>
    <script type="text/javascript" src="/common/lib/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="/admin/js/services/contentService.js"></script>
    <script type="text/javascript" src="/admin/js/app.js"></script>
    <script type="text/javascript" src="/admin/js/controllers/couplets/coupletListController.js"></script>
    <link href="/common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<a ng-href="/admin/partials/home.html" target="_self">
    <button type="button" class="btn btn-info admin-home">Admin home</button>
</a>

<div ng-controller="coupletListController">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>Category</td>
            <td>Poet</td>
            <td>Edit</td>
        </tr>
        <tr ng-repeat="song in songs" ng-cloak>
            <td>{{song.title}}</td>
            <td>{{song.categoryName}}</td>
            <td>{{song.poetName}}</td>
            <td><a href="edit.html?id={{song.id}}" class="btn btn-info">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>
