<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../../lib/angular/angular.js"></script>
    <script src="../../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/Admin/app.js"></script>
    <script type="text/javascript" src="../../../js/Admin/controllers/words/detailsController.js"></script>
    <link href="../../../css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Enter Word details for landing page</h2>
<div ng-controller="wordDetailsController">
    <form >
        Name: <input type="text" name="word" ng-model="formInfo.NAME"><br>
        Synonym: <input type="text" name="translation" ng-model="formInfo.SYNONYM"><br>
        Category:
        <select name="format" ng-model="formInfo.CATEGORY">
            <option value="Word intro">Word intro</option>
        </select><br/>
        Show On LandingPage :
        <select name="format" ng-model="formInfo.showOnLandingPage">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br/>
        <button type="submit" ng-click="saveData()">Submit</button>

    </form>
</div>
</body>
</html>