<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../../common/lib/angular/angular.js"></script>
    <script type="text/javascript" src="../../../common/lib/angular-filter/dist/angular-filter.js"></script>
    <script type="text/javascript" src="../../../common/services/nameService.js"></script>
    <script type="text/javascript" src="../../js/services/contentService.js"></script>
    <script type="text/javascript" src="../../../common/modules/headerModule.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script type="text/javascript" src="../../js/controllers/couplets/detailsController.js"></script>
    <link href="../../../common/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Enter Couplet details for landing page</h2>
<div ng-controller="coupletDetailsController" ng-init = "getCoupletData()">
    <form >

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Original Title</label>
            </div>
            <div class="form-group col-sm-5">
                <input type="text" name="originalTitle" ng-model="formInfo.originalTitle">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>English Translation</label>
            </div>
            <div class="form-group col-sm-5">
                <input type="text" name="englishTranslation" ng-model="formInfo.englishTranslation">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>English Transliteration</label>
            </div>
            <div class="form-group col-sm-5">
                <input type="text" name="englishTransliteration" ng-model="formInfo.englishTransliteration">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Thumbnail Url</label>
            </div>
            <div class="form-group col-sm-5">
                <input type="text" name="thumbnailUrl" ng-model="formInfo.thumbnailUrl">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Description</label>
            </div>
            <div class="form-group col-sm-5">
                <input type="text" name="word" ng-model="formInfo.description" maxlength="30" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Show On LandingPage</label>
            </div>
            <div class="form-group col-sm-5">
                <select name="format" ng-model="formInfo.showOnLandingPage">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Poet</label>
            </div>
            <div class="form-group col-sm-5">
                <select  ng-model="formInfo.poet"
                         ng-options="poet.firstName for poet in poetsList">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2">
                <label>Category</label>
            </div>
            <div class="form-group col-sm-5">
                <select ng-model="formInfo.category"
                        ng-options="category.name for category in categoryList">
                </select>
            </div>
        </div>

        <button type="submit" ng-click="updateCouplet()">Submit</button>
        <button type="reset" ng-click="redirectToEnterPage()">Add More</button>
    </form>
</div>
</body>
</html>