<!DOCTYPE html>
<html ng-app="adminApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Admin home page</title>
    <link href="/admin/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="adminHomeController">
<button type="button" ng-click="logout()" class="btn btn-danger pull-right">Log Out</button>
<span ng-show="message.text" ng-cloak class="bg-danger panel panel-danger">{{message.text}}</span>

<h3>Add new</h3>

<div class="left">
    <h5><a href="/admin/partials/songs/details.html" class="btn btn-info">Song</a>
        <a href="/admin/partials/words/wordDetails.html" class="btn btn-info">Word</a>
        <a href="/admin/partials/reflections/reflectionDetails.html" class="btn btn-info">Reflection</a>
        <a href="/admin/partials/person/details.html" class="btn btn-info">Person</a>
        <a href="/admin/partials/ajabShaharPoems.html" class="btn btn-info">Ajab-shahar poems</a>
        <a href="/admin/partials/genre/genreDetails.html" class="btn btn-info">Genre</a>
        <a href="/admin/partials/gathering/gatheringDetails.html" class="btn btn-info">Gathering</a></h5>
</div>

<h3>List of </h3>

<div class="left">
    <h5><a href="/admin/partials/songs/list.html" class="btn btn-info">Songs</a>
        <a href="/admin/partials/words/list.html" class="btn btn-info">Words</a>
        <a href="/admin/partials/reflections/list.html" class="btn btn-info">Reflections</a>
        <a href="/admin/partials/person/list.html" class="btn btn-info">People</a>
        <!--<a href="/admin/partials/category/list.html?type=song" class="btn btn-info">Song Categories</a>-->
        <!--<a href="/admin/partials/category/list.html?type=media" class="btn btn-info">Media Categories</a>-->
        <a href="/admin/partials/genre/genreList.html" class="btn btn-info">Genres</a>
        <a href="/admin/partials/gathering/gatheringList.html" class="btn btn-info">Gatherings</a></h5>
</div>
<script type="text/javascript" src="/common/lib/angular/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.js"></script>
<script type="text/javascript" src="/admin/js/services/contentService.js"></script>
<script type="text/javascript" src="/admin/js/services/loginVerifyService.js"></script>
<script type="text/javascript" src="/admin/js/app.js"></script>
<script type="text/javascript" src="/admin/js/controllers/adminHomeController.js"></script>
</body>
</html>
