<!--<div class="mediaIntroduction">-->
    <!--<div ng-if="isVideo()" class='youtubeVideo'>-->
        <!--<youtube width="100%" height="90%" videoid="{{videoId}}" showcontrols="true"-->
                 <!--should-stop-video="closeVideo()"></youtube>-->
    <!--</div>-->
    <!--<div ng-if="isAudio()">-->
        <!--<sound-cloud audio-url="{{audioId}}" id="snd_{{id}}" should-stop-video="closeVideo()"></sound-cloud>-->
    <!--</div>-->
    <!--<div ng-if="!isAudio() && !isVideo()">-->
        <!--text text text-->
    <!--</div>-->

    <!--<div class="mediaFooter">-->
        <!--<h3 class='infoText'>For lyrics, translations, versions, reflections, echoes and more enter-->
            <!--<a href="/user/partials/reflections/details.html?id={{id}}">REFLECTION</a>-->
        <!--</h3>-->
    <!--</div>-->
<!--</div>-->

<div class="media-introduction reflection">

    <!--<div ng-if="showVideo" class='youtubeVideo'>-->
        <!--<youtube width="100%" height="90%" videoid="videoId" should-stop-video="shouldStopVideo()"></youtube>-->
    <!--</div>-->
    <!--<div ng-if="showAudio">-->
        <!--<sound-cloud audio-url="{{audioUrl}}" id="snd_{{id}}"></sound-cloud>-->
    <!--</div>-->
    <div id="content-wrapper" ng-if="!showVideo && !showAudio">
        <div class="content-bg">
            <span class="ref-author-says">Purushottam Agarwal</span>
            <h3 class="ref-title">Have you ever met yourself</h3>
            <h5 class="ref-intro-by">
                Introduction by
                <span class="ref-caps-people">Vipul Raki,</span>
                <span class="ref-people">Ajab Shahar Team</span>
            </h5>
            <div bind-dynamic-html="wordIntroEnglish" class="lightbx-text-content">
                Home to the ancient Indus Valley Civilisation and a region of historic trade routes and vast empires, the Indian
                subcontinent was identified with its commercial and cultural wealth for much of its long history.[13] Four religions—Hinduism,
                Buddhism, Jainism, and Sikhism—originated here, whereas Zoroastrianism and the abrahamic religions of Judaism, Christianity, and
                Islam arrived in the 1st millennium CE and also helped shape the region's diverse culture. Gradually annexed by and brought under
                the administration of the British East India Company from the early 18th century and administered directly by the United Kingdom
                after the Indian Rebellion of 1857, India became an independent nation in 1947 after a struggle for independence that was marked
                by non-violent resistance led by Mahatma Gandhi.

                The Indian economy is the world's tenth-largest by nominal GDP and third-largest by purchasing power parity (PPP).[14] Following
                market-based economic reforms in 1991, India became one of the fastest-growing major economies; it is considered a newly
                industrialised country. However, it continues to face the challenges of poverty, corruption, malnutrition, inadequate public
                healthcare, and terrorism. A nuclear weapons state and a regional power, it has the third-largest standing army in the world and
                ranks ninth in military expenditure among nations. India is a federal constitutional republic governed under a parliamentary system
                consisting of 29 states and 7 union territories. India is a pluralistic, multilingual, and a multi-ethnic society. It is also home
                to a diversity of wildlife in a variety of protected
            </div>

            <div class="mediaFooter">
                <h3 class='infoText'>Goto
                    <a href="/user/partials/reflections/featuredContent.html">REFECTION</a> or see
                    <a href="/user/partials/reflections/allReflections.html">All Reflections</a>
                </h3>

                <div class='creditCont'>
                    <div class='creditBox'><span class='selected'>Shah Latif Bhital </span> POET</div>
                    <div class='creditBox'><span class='selected'>Meetha khan & Summer khada </span> SINGER</div>


                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                     <span> WORD  </span>
                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                    <span> WORD  </span>
                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                    <span> WORD  </span>
                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                    <span> WORD  </span>
                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                    <span> WORD  </span>
                    <span  class="selected">
                        Sahaj Spontaneous
                    </span>
                    <span> WORD  </span>
              </span>
                </div>
            </div>
        </div>
    </div>

</div>