<div ng-init="isAudioOrVideo()">
    <div ng-show="showVideo">
        <youtube width="100%" height="90%" videoid="{{videoId}}" showcontrols="true"
                 should-stop-video="shouldStopVideo()"></youtube>
    </div>
    <div ng-if="showAudio">
        <sound-cloud audio-url="{{audioUrl}}" id="snd_{{id}}"></sound-cloud>
    </div>

    <div ng-show="showTranscript">
        <div bind-dynamic-html="transcript"></div>
    </div>

    <div class="video-options">
        <div>
            <button ng-click="toggleVideoOrAudio()" ng-show="isVideoSong">Toggle between audio and video</button>
        </div>
        <ul class="share-options">
            <li>
                <a href="javascript:void(0)" class="favorite"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="share" ng-click="dropDownVisible='true'"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="comment"></a>
            </li>
            <li>
                <a href="javascript:void(0)" class="download" target="_blank" ng-href="{{downloadurl}}"></a>
            </li>
        </ul>
    </div>

    <div class='toggleBySlide shareItemsDropDown' ng-show="dropDownVisible" ng-mouseleave="dropDownVisible='false'">
            <ul class='shareItems'>
                <li>
                    <a class="icon"
                       href='http://www.facebook.com/share.php?u={{createUrl(content.shareUrl)}}'
                       target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter-share-button icon"
                       href="https://twitter.com/intent/tweet?text={{createUrl(content.shareUrl)}}"
                       target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="icon"
                       href="https://plus.google.com/share?url={{createUrl(content.shareUrl)}}"
                       target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="icon"
                       href="//pinterest.com/pin/create/link/?url={{createUrl(content.shareUrl)}}&media={{createURLForImage(content.image)}}"
                       target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
            </ul>
    </div>
</div>
