<div class="thumbnail reflection {{customStyle}}">
    <div class="thumbnail-media image" ng-click="open('{{id}}')">
        <img src="/user/img/reflections/bw_background2b.jpg">
    </div>
    <div class="bubble" ng-click="open('{{id}}')">
        <div class="summary" ng-mouseEnter="showDetails()" ng-mouseleave="hideDetails()">
            <h3 class="title" ng-cloak>{{title}}</h3>

            <h3 class="singers" ng-cloak>{{verb}} {{ speaker.name }}</h3>

            <div ng-show="shouldShowDetails" class='thumbnailDetails toggleBySlide'>
                <div class='footer'>
                    <p class="categoryName">REFLECTION
                        <small class="more-info">T</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
