<div class="media-introduction reflection" ng-class="{'bg-wrapper': showText}">

    <span class="ref-speaker">{{speaker.name}}</span><span class="ref-verb">  {{verb}}</span>

    <h3 class="ref-title">{{title}}</h3>

    <div class="content-bg" ng-show="showText">
        <span bind-dynamic-html="info"></span>
        <span bind-dynamic-html="transcript.englishTranscript" ng-repeat="transcript in text"></span>
    </div>

    <div ng-show="showVideo" class='youtubeVideo'>
        <youtube width="100%" height="90%" videoid="videoUrl" should-stop-video="shouldStopVideo()"></youtube>
    </div>
    <div ng-show="showAudio">
        <sound-cloud audio-url="{{audioUrl}}" id="snd_{{id}}"></sound-cloud>
    </div>

    <div class="mediaFooter">
        <h3 class='infoText'>Go to
            <a href="/reflections/#/details/{{id}}">REFLECTION</a> or see
            <a href="/reflections/#/all">All Reflections</a>
        </h3>

        <div class='creditCont'>
            <div class='creditBox'><a class='selected' href="/people/all#{{speaker.id}}">{{speaker.name}} </a> {{speaker.primaryOccupation}}</div>
            <div class='creditBox' ng-repeat="person in people track by $index"><a class='selected' href="/people/all#person.id">{{person.name}} </a> {{person.primaryOccupation}}</div>

            <span ng-repeat="word in words" class="creditBox">
                     <a href="/words/#/details/{{word.id}}"
                        target="_self" class="link-text">{{word.transliteration}} {{word.translation}}</a>
                 <span> WORD  </span>
            </span>

            <span ng-repeat="song in songs" class="creditBox">
                <a href="/songs/?id={{song.id}}" target="_self" class="link-text">{{song.englishTransliterationTitle}}</a>
                <span class="creditBox"> SONG </span>
            </span>

        </div>
    </div>
</div>