html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: "Merriweather Sans", "Merriweather", lucida grande, arial, tahoma, verdana, sans serif; }

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather';
  color: #e83785;
  font-weight: 100; }

h3 {
  font-size: 16px;
  line-height: 20px; }

ul {
  list-style: none; }

.selected {
  color: #e83785; }

.active-link {
  color: #00a199; }

html {
  overflow-x: hidden; }

body {
  width: 100%;
  overflow: hidden;
  background: #fff; }

.main-content-wrapper {
  overflow: hidden;
  margin-top: -5%; }

.ajab-container {
  width: 100%;
  text-align: center;
  display: inline-block; }

.ajab-wrapper {
  width: 98%;
  text-align: center;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#loader_wrapper {
  width: 100%;
  min-height: 1000px;
  background-color: #fff;
  display: inline-block; }
  #loader_wrapper > span {
    background: white url(../user-img/common/icons/spinner.gif) 0 0px;
    height: 128px;
    width: 128px;
    display: block;
    margin: 10% auto 0; }

.headerBox {
  margin-top: 0%;
  position: absolute !important;
  left: 0; }
  .headerBox.fixed {
    position: fixed !important;
    width: 100%;
    top: 0;
    cursor: pointer;
    z-index: 15; }
  .headerBox .headerWrapper {
    transition: none;
    background: #fff;
    padding: 0% 0 0% 0;
    position: relative;
    z-index: 9;
    box-shadow: #DDD 0 1px 15px; }
    .headerBox .headerWrapper.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      display: block; }
    .headerBox .headerWrapper header {
      display: inline-block;
      width: 98%;
      padding: 10px 0 20px;
      margin: 0 auto; }
  .headerBox .headerArt {
    background: url(../img/common/directives/header/header.png) 100% -1px no-repeat;
    transition: none;
    margin-top: -1px;
    height: 95px;
    position: relative;
    z-index: 9; }
    .headerBox .headerArt.fixed {
      position: fixed;
      width: 100%;
      top: 0;
      cursor: pointer; }
    .headerBox .headerArt .menuTree {
      display: inline-block;
      width: 130px;
      height: 70px;
      float: right;
      margin: 28px 115px 0 -100px;
      cursor: pointer; }

.headerBox .logoContainer {
  float: left;
  display: inline-block; }
  .headerBox .logoContainer img.logo {
    float: left; }

.menuContainer {
  width: auto;
  margin-left: 125px;
  margin-top: 5px; }

header ul {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  clear: right;
  padding: 1% 0;
  border-bottom: solid 1px #d9d9d9;
  color: #444; }
  header ul:last-child {
    border: 0; }
  header ul li {
    padding: 0% 1.5%;
    border-left: solid 1px #c7c6c5;
    display: inline-block;
    float: left;
    line-height: 15px; }
    header ul li:first-child {
      border: 0;
      padding-left: 0; }
    @media screen and (max-width: 770px) {
      header ul li {
        padding: 0 1%; } }
  header ul.topLine {
    float: right;
    text-align: right;
    border: 0;
    padding: 0; }
    header ul.topLine li {
      float: right;
      padding: 0 1%;
      font-size: 12px;
      color: #b3b3b3;
      font-weight: 300;
      border-left: solid 1px #b3b3b3; }
      header ul.topLine li:last-child {
        border: 0; }
      header ul.topLine li.selected {
        border-left: solid 1px #C6C6C5; }
      header ul.topLine li.hindi {
        font-size: 15px;
        letter-spacing: 0.05em;
        padding: 0 0.5% 0 1%; }
      header ul.topLine li.english {
        padding: 0 0 0 0.5%; }
      @media screen and (max-width: 770px) {
        header ul.topLine li {
          font-size: 10px; } }
  header ul.firstLine {
    margin-top: 0%;
    color: #666;
    padding: 19px 0 10px; }
    header ul.firstLine li > a {
      font-weight: 300;
      color: #333;
      font-size: 22px;
      line-height: 22px; }
      @media screen and (max-width: 770px) {
        header ul.firstLine li > a {
          font-size: 18px; } }
  header ul.secondLine li {
    padding: 0 1%; }
    header ul.secondLine li:first-child {
      padding-left: 0; }
    header ul.secondLine li > a {
      font-weight: 300;
      color: #7F8080;
      font-size: 13px; }
      @media screen and (max-width: 770px) {
        header ul.secondLine li > a {
          font-size: 11px; } }
  header ul.thirdLine {
    font-size: 1em;
    color: #ccc; }

.header-with-carousel .headerBox {
  position: absolute; }
.header-with-carousel .page-header {
  width: 100%;
  padding: 20px 0 0;
  display: inline-block;
  background: transparent url(../img/songs/pardah_long.png) -800px bottom no-repeat;
  height: 138px;
  padding-top: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  .header-with-carousel .page-header .logo-container {
    width: 85px; }
    .header-with-carousel .page-header .logo-container > a {
      background: transparent url(../img/songs/songs_logo.png) center center no-repeat;
      width: inherit;
      height: 55px;
      float: left;
      clear: both;
      padding: 30px 0 0 0;
      color: #999;
      font-family: 'Merriweather';
      font-size: 18px;
      font-weight: 300; }
  .header-with-carousel .page-header .sub-info {
    width: inherit; }
    .header-with-carousel .page-header .sub-info .number {
      font-size: 14px;
      color: #999;
      border-bottom: solid 1px #d3135a;
      padding: 5px; }
    .header-with-carousel .page-header .sub-info .all-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 5px;
      display: inline-block;
      line-height: 27px; }
  .header-with-carousel .page-header .page-title {
    float: left;
    margin: 35px 0 0 1.2%;
    font-family: 'Merriweather';
    font-weight: 300; }
    .header-with-carousel .page-header .page-title .main {
      font-size: 21px;
      margin-right: 5px;
      color: #333; }
    .header-with-carousel .page-header .page-title .sub-main {
      font-size: 18px;
      color: #999;
      font-style: italic; }
.header-with-carousel .lower-pardah {
  background: transparent url(../img/songs/pardah_long.png) -800px bottom no-repeat;
  min-height: 185px;
  width: 100%;
  position: relative; }
  .header-with-carousel .lower-pardah .versions .carousel-wrapper {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    width: 100%;
    padding: 137px 0 25px 0;
    /*UI: WIP */ }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .carousel-box {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding: 12px 0 0; }
      @media screen and (max-width: 1380px) {
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .carousel-box {
          width: 94%; } }
      @media screen and (max-width: 1280px) {
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .carousel-box {
          width: 77%; } }
      @media screen and (max-width: 1024px) {
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .carousel-box {
          width: 96%; } }
      @media screen and (max-width: 768px) {
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .carousel-box {
          width: 86%; } }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel > ul {
      height: 270px;
      display: inline-block; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel > ul li {
        border: none;
        width: auto !important;
        margin: 0 46px 0 53px; }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel-control-prev, .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel-control-next {
      background: transparent url(../img/songs/carousel-left.png) 0 0 no-repeat;
      width: 28px;
      height: 39px;
      display: inline-block;
      text-shadow: none;
      border-radius: 0;
      box-shadow: none;
      top: 25%; }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel-control-prev {
      left: -10px; }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .jcarousel-control-next {
      background-image: url(../img/songs/carousel-right.png);
      right: 0; }
    .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper {
      margin: 0; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper .thumbnail-media {
        height: 120px;
        width: 215px; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper .desc-wrapper .thumbnail-desc {
        margin: 0 0 0 17px;
        width: 215px; }
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper .desc-wrapper .thumbnail-desc .item-title {
          font-size: 16px; }
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper .desc-wrapper .thumbnail-desc:before {
          background: rgba(255, 255, 255, 0) url(../img/common/directives/thumbnail/top-small.png) -1px top no-repeat;
          width: 236px; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper .desc-wrapper .lower-curve {
        background: rgba(255, 255, 255, 0) url(../img/common/directives/thumbnail/bottom-small.png) left -5px no-repeat;
        margin-left: 15px; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper.active .desc-wrapper .thumbnail-desc {
        background-color: #f2f2f2; }
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper.active .desc-wrapper .thumbnail-desc .item-title {
          color: #333; }
        .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper.active .desc-wrapper .thumbnail-desc:before {
          background: transparent url(../img/common/directives/thumbnail/top-small-grey.png) -1px top no-repeat; }
      .header-with-carousel .lower-pardah .versions .carousel-wrapper .thumbnailWrapper.active .desc-wrapper .lower-curve {
        background: transparent url(../img/common/directives/thumbnail/bottom-small-grey.png) left -5px no-repeat; }
  .header-with-carousel .lower-pardah .see-more {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 67px; }
    .header-with-carousel .lower-pardah .see-more .version {
      position: absolute;
      top: 16px;
      left: 48%;
      font-family: 'Merriweather';
      font-size: 12px;
      color: #999;
      font-weight: 300; }
    .header-with-carousel .lower-pardah .see-more .arrow {
      background: transparent url(../img/songs/down-arrow1.png) 4px 4px no-repeat;
      height: 13px;
      width: 19px;
      display: inline-block; }
      .header-with-carousel .lower-pardah .see-more .arrow.up-arrow {
        background-image: url(../img/songs/up-arrow1.png); }

/* Common Header Design with carousel end here*/
.page-header-with-logo {
  width: 100%;
  padding: 20px 0 0;
  display: inline-block; }
  .page-header-with-logo .logo-container {
    width: 85px; }
    .page-header-with-logo .logo-container > a {
      background: transparent url(../../user-img/songs/songs_logo.png) center center no-repeat;
      width: inherit;
      height: 55px;
      float: left;
      clear: both;
      padding: 30px 0 0 0;
      color: #999;
      font-family: 'Merriweather';
      font-size: 18px;
      font-weight: 300; }
  .page-header-with-logo .sub-info {
    width: inherit; }
    .page-header-with-logo .sub-info .number {
      font-size: 14px;
      color: #999;
      border-bottom: solid 1px #d3135a;
      padding: 5px; }
    .page-header-with-logo .sub-info .all-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 5px;
      display: inline-block;
      line-height: 27px; }

/* footer */
.footer-bg {
  background-color: #000; }

.footerBox {
  margin-top: -5%;
  position: relative; }
  .footerBox .footerArt {
    background: url(../img/common/directives/footer/footer1.png) top no-repeat;
    height: 249px;
    position: relative;
    z-index: 8;
    margin-top: -14%; }
    .footerBox .footerArt footer {
      position: relative;
      width: 70%;
      display: inline-block;
      margin-top: 40px; }
      @media screen and (max-width: 1140px) {
        .footerBox .footerArt footer {
          width: 88%; } }
      .footerBox .footerArt footer ul {
        display: table-cell;
        vertical-align: bottom;
        padding: 0 3%;
        text-align: left; }
        @media screen and (max-width: 1300px) {
          .footerBox .footerArt footer ul {
            padding: 0 1%; } }
        @media screen and (max-width: 768px) {
          .footerBox .footerArt footer ul {
            padding: 0; } }
        .footerBox .footerArt footer ul > li {
          color: #b3b3b3;
          background: transparent url(../img/common/directives/footer/dotted.png) left top;
          background-repeat: no-repeat repeat;
          font-family: 'Merriweather Sans','Merriweather';
          font-weight: 300;
          font-size: 12px; }
        .footerBox .footerArt footer ul.footerList li {
          text-transform: uppercase;
          padding: 3px 5px 3px 10px;
          line-height: 18px; }
          .footerBox .footerArt footer ul.footerList li:first-child {
            padding-top: 10px; }
        .footerBox .footerArt footer ul.footerExtra {
          width: 25%; }
          @media screen and (max-width: 880px) {
            .footerBox .footerArt footer ul.footerExtra {
              width: 30%; } }
          @media screen and (max-width: 768px) {
            .footerBox .footerArt footer ul.footerExtra {
              width: 32%; } }
          .footerBox .footerArt footer ul.footerExtra li {
            padding: 10px 0 10px 10px; }
          .footerBox .footerArt footer ul.footerExtra li.kabirProject {
            padding-top: 20px;
            position: relative; }
            .footerBox .footerArt footer ul.footerExtra li.kabirProject:after {
              content: '';
              display: inline-block;
              background: url(../img/common/directives/footer/icons/kabirinit.jpg) 0 0 no-repeat;
              height: 42px;
              width: 42px;
              position: absolute;
              top: 6px; }

.parallax-container {
  position: relative;
  margin: 0 auto;
  width: 1140px; }

.pxLayers {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 4138px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  .pxLayers.px-layer {
    /*body layer*/
    /* map layer */
    /*background-effects layer*/ }
    .pxLayers.px-layer1 {
      background-image: url(../img/mainLandingPage/parallax/body.png);
      width: 1140px; }
    .pxLayers.px-layer2 {
      background: url(../img/mainLandingPage/parallax/map.png) 50% 0 repeat fixed; }
    .pxLayers.px-layer3 {
      background-image: url(../img/mainLandingPage/parallax/check_img1.png);
      width: 1140px; }
      .pxLayers.px-layer3:before, .pxLayers.px-layer3:after {
        content: '';
        display: inline-block;
        background: transparent url(../img/mainLandingPage/parallax/side_pattern.png) 0 0;
        width: 30px;
        background-repeat: no-repeat repeat;
        height: 100%; }
        @media screen and (max-width: 1140px) {
          .pxLayers.px-layer3:before, .pxLayers.px-layer3:after {
            display: none; } }
      .pxLayers.px-layer3:before {
        float: left; }
      .pxLayers.px-layer3:after {
        float: right;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .pxLayers.px-layer5 {
      background: url(../img/mainLandingPage/parallax/bird2.png) 0px no-repeat;
      -webkit-animation: movebird 100s linear infinite;
      -moz-animation: movebird 100s linear infinite;
      -o-animation: movebird 100s linear infinite;
      animation: movebird 100s linear infinite;
      -webkit-transform-origin: 30em 60em;
      -moz-transform-origin: 30em 60em;
      -o-transform-origin: 30em 60em;
      transform-origin: 30em 60em; }
    .pxLayers.px-layer6 {
      background: url(../img/mainLandingPage/parallax/clouds.png);
      width: 1981px;
      height: 800px;
      top: 120px;
      animation-name: moveclouds;
      animation-duration: 70s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-animation-name: moveclouds;
      -webkit-animation-duration: 70s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-name: moveclouds;
      -moz-animation-duration: 70s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      -o-animation-name: moveclouds;
      -o-animation-duration: 70s;
      -o-animation-timing-function: linear;
      -o-animation-iteration-count: infinite;
      animation-delay: -2s;
      -moz-animation-delay: -2s;
      -webkit-animation-delay: -2s;
      -o-animation-delay: -2s; }
      .pxLayers.px-layer6.second {
        background: url(../img/mainLandingPage/parallax/clouds1.png);
        width: 1290px;
        height: 771px;
        top: 800px;
        animation-delay: -5s;
        -moz-animation-delay: -5s;
        -webkit-animation-delay: -5s;
        -o-animation-delay: -5s;
        animation-duration: 58s;
        -webkit-animation-duration: 58s;
        -moz-animation-duration: 58s;
        -o-animation-duration: 58s; }
      .pxLayers.px-layer6.third {
        background: url(../img/mainLandingPage/parallax/clouds2.png);
        width: 1337px;
        height: 858px;
        top: 1800px;
        animation-delay: 2s;
        -moz-animation-delay: 2s;
        -webkit-animation-delay: 2s;
        -o-animation-delay: 2s;
        animation-duration: 66s;
        -webkit-animation-duration: 66s;
        -moz-animation-duration: 66s;
        -o-animation-duration: 66s; }
      .pxLayers.px-layer6.fourth {
        background: url(../img/mainLandingPage/parallax/clouds3.png);
        width: 1223px;
        height: 855px;
        top: 3200px;
        animation-delay: 5s;
        -moz-animation-delay: 5s;
        -webkit-animation-delay: 5s;
        -o-animation-delay: 5s;
        animation-duration: 55s;
        -webkit-animation-duration: 55s;
        -moz-animation-duration: 55s;
        -o-animation-duration: 55s; }
    .pxLayers.px-layer7 {
      background: transparent url(../img/mainLandingPage/parallax/whiteString.png) 0 0px;
      background-repeat: no-repeat repeat;
      left: 36.3%;
      top: 45px;
      width: 356px; }
      @media screen and (max-width: 1024px) {
        .pxLayers.px-layer7 {
          left: 29%; } }
      @media screen and (max-width: 768px) {
        .pxLayers.px-layer7 {
          left: 17%; } }

/* bird animation begins */
@-webkit-keyframes movebird {
  0% {
    background-position-y: 100px;
    background-position-x: 0px;
    -webkit-transform: rotate(80deg); }

  50% {
    background-position-y: 500px;
    background-position-x: 1200px; }

  100% {
    background-position-y: 200px;
    background-position-x: 500px;
    -webkit-transform: rotate(892deg); } }
@-moz-keyframes movebird {
  0% {
    background-position: 0px 100px;
    -moz-transform: rotate(80deg); }

  50% {
    background-position: 1200px 500px; }

  100% {
    background-position: 500px 200px;
    -moz-transform: rotate(892deg); } }
@-o-keyframes movebird {
  0% {
    background-position: 0px 100px;
    -o-transform: rotate(80deg); }

  50% {
    background-position: 1200px 500px; }

  100% {
    background-position: 500px 200px;
    -o-transform: rotate(892deg); } }
/* bird animation ends */
/* clouds animation begins */
@-webkit-keyframes moveclouds {
  0% {
    -webkit-transform: translate(100%, 0); }

  100% {
    -webkit-transform: translate(-100%, 0); } }
@-moz-keyframes moveclouds {
  0% {
    -moz-transform: translate(100%, 0); }

  100% {
    -moz-transform: translate(-100%, 0); } }
@-o-keyframes moveclouds {
  0% {
    -o-transform: translate(100%, 0); }

  100% {
    -o-transform: translate(-100%, 0); } }
/* clouds animation ends */
/* Animation */
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes antirotation {
  0% {
    -webkit-transform: rotate(0); }

  100% {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0); }

  100% {
    -moz-transform: rotate(360deg); } }
@-moz-keyframes antirotation {
  0% {
    -moz-transform: rotate(0); }

  100% {
    -moz-transform: rotate(-360deg); } }
@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0); }

  100% {
    -o-transform: rotate(360deg); } }
@-o-keyframes antirotation {
  0% {
    -o-transform: rotate(0); }

  100% {
    -o-transform: rotate(-360deg); } }
@keyframes rotation {
  0% {
    transform: rotate(0); }

  100% {
    transform: rotate(360deg); } }
@keyframes antirotation {
  0% {
    transform: rotate(0); }

  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes moveUp {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 -4277px; } }
@-webkit-keyframes moveDown {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 4277px; } }
@-moz-keyframes moveUp {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 -4277px; } }
@-moz-keyframes moveDown {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 4277px; } }
@-o-keyframes moveUp {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 -4277px; } }
@-o-keyframes moveDown {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 4277px; } }
@keyframes moveUp {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 -4277px; } }
@keyframes moveDown {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 4277px; } }
#songs_landing .song-parallax-container {
  width: 1140px;
  position: relative;
  z-index: -1;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    #songs_landing .song-parallax-container {
      width: 1024px; } }
  @media screen and (max-width: 768px) {
    #songs_landing .song-parallax-container {
      width: 768px; } }
  #songs_landing .song-parallax-container .pxSongLayers {
    width: 100%;
    top: 0;
    left: 0;
    height: 4000px;
    position: absolute; }
  #songs_landing .song-parallax-container .px-song-layer:before {
    float: left; }
  #songs_landing .song-parallax-container .px-song-layer:after {
    float: right;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #songs_landing .song-parallax-container .px-song-layer1 {
    background: url(../img/songs/parallax/background_image.jpg) 0px 0px;
    background-repeat: no-repeat repeat; }
  #songs_landing .song-parallax-container .px-song-layer2 {
    background: url(../img/songs/parallax/white_tambura.png) 0 0 no-repeat;
    width: 145px;
    -webkit-animation: antirotation 100s linear -5s infinite;
    -moz-animation: antirotation 100s linear -5s infinite;
    -o-animation: antirotation 100s linear -5s infinite;
    animation: antirotation 100s linear -5s infinite;
    -webkit-transform-origin: 30% 20%;
    -moz-transform-origin: 30% 20%;
    -o-transform-origin: 30% 20%;
    transform-origin: 30% 20%;
    height: 495px;
    top: 560px;
    left: 12%; }
    #songs_landing .song-parallax-container .px-song-layer2.tambura-small-1 {
      background: url(../img/songs/parallax/tambura_small_white.png) 0 0 no-repeat;
      top: 1697px;
      width: 190px;
      left: 12%;
      opacity: 0.8;
      background: url(../img/songs/parallax/white_tambura.png) 0 0 no-repeat;
      height: 500px;
      -webkit-animation: antirotation 100s linear 2s infinite;
      -moz-animation: antirotation 100s linear 2s infinite;
      -o-animation: antirotation 100s linear 2s infinite;
      animation: antirotation 100s linear 2s infinite; }
  #songs_landing .song-parallax-container .px-song-layer3 {
    background: url(../img/songs/parallax/tambura_small.png) 0px 0px no-repeat;
    opacity: 0.1;
    top: 1000px;
    left: 70%;
    -webkit-transform-origin: 30% 20%;
    -moz-transform-origin: 30% 20%;
    -o-transform-origin: 30% 20%;
    transform-origin: 30% 20%;
    width: 190px;
    height: 600px;
    -webkit-animation: rotation 60s linear 3s infinite;
    -moz-animation: rotation 60s linear 3s infinite;
    -o-animation: rotation 60s linear 3s infinite;
    animation: rotation 60s linear 3s infinite; }
    #songs_landing .song-parallax-container .px-song-layer3.tambura-small-1 {
      left: 67%;
      top: 2000px;
      -webkit-animation: rotation 60s linear 1s infinite;
      -moz-animation: rotation 60s linear 1s infinite;
      -o-animation: rotation 60s linear 1s infinite;
      animation: rotation 60s linear 1s infinite;
      opacity: 0.15; }
  #songs_landing .song-parallax-container .px-song-layer4 {
    background: url(../img/songs/parallax/triangles_new.png) 0px 0px;
    opacity: 0.4;
    background-size: contain; }
  #songs_landing .song-parallax-container .px-song-layer5 {
    background: url(../img/songs/parallax/viberations_new.png) 0px 0px repeat;
    opacity: 0.12;
    left: -4%;
    height: 4277px;
    background-size: contain;
    -webkit-animation: moveUp 200s linear infinite;
    -moz-animation: moveUp 200s linear infinite;
    -o-animation: moveUp 200s linear infinite;
    animation: moveUp 200s linear infinite; }
    #songs_landing .song-parallax-container .px-song-layer5.top-to-bottom {
      top: -2000px;
      opacity: 0.15;
      height: 6400px;
      -webkit-animation: moveDown 500s linear infinite;
      -moz-animation: moveDown 500s linear infinite;
      -o-animation: moveDown 500s linear infinite;
      animation: moveDown 500s linear infinite; }
  #songs_landing .song-parallax-container .px-song-layer6 {
    background: url(../img/songs/parallax/ingla.png) 0px 0px;
    background-repeat: no-repeat repeat;
    background-size: contain;
    width: 53px;
    left: 22%; }
    @media screen and (max-width: 768px) {
      #songs_landing .song-parallax-container .px-song-layer6 {
        left: 25%; } }
  #songs_landing .song-parallax-container .px-song-layer7 {
    background: url(../img/songs/parallax/pingla.png) 0px 0px;
    background-repeat: no-repeat repeat;
    left: 68%;
    width: 112px;
    background-size: contain; }
    @media screen and (max-width: 768px) {
      #songs_landing .song-parallax-container .px-song-layer7 {
        left: 65%; } }
  #songs_landing .song-parallax-container .px-song-layer8 {
    background: url(../img/songs/parallax/sushamna.png) 0 0;
    background-repeat: no-repeat repeat;
    background-size: contain;
    left: 44%;
    width: 144px; }
    @media screen and (max-width: 768px) {
      #songs_landing .song-parallax-container .px-song-layer8 {
        left: 42%; } }
  #songs_landing .song-parallax-container .px-song-layer9 {
    background: url(../img/songs/parallax/snake.png) 0px 0 no-repeat;
    top: 2244px;
    left: 40%;
    opacity: 0.5; }
    @media screen and (max-width: 768px) {
      #songs_landing .song-parallax-container .px-song-layer9 {
        left: 36%; } }
  #songs_landing .song-parallax-container .px-song-layer11:before, #songs_landing .song-parallax-container .px-song-layer11:after {
    content: '';
    display: inline-block;
    background: transparent url(../img/mainLandingPage/parallax/side_pattern.png) 0 0;
    width: 30px;
    background-repeat: no-repeat repeat;
    height: 100%; }
    @media screen and (max-width: 1140px) {
      #songs_landing .song-parallax-container .px-song-layer11:before, #songs_landing .song-parallax-container .px-song-layer11:after {
        display: none; } }
#songs_landing .shift1 {
  top: -6%;
  left: 10%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift1 {
      left: 3%;
      top: -4%; } }
#songs_landing .shift2 {
  left: 60%;
  position: absolute;
  top: 0%; }
#songs_landing .shift3 {
  left: 33%;
  top: 10%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift3 {
      left: 27%; } }
#songs_landing .shift4 {
  top: 21%;
  left: 10%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift4 {
      left: 2%; } }
#songs_landing .shift5 {
  left: 39%;
  top: 32%;
  position: absolute; }
#songs_landing .shift6 {
  left: 59%;
  top: 47%;
  position: absolute; }
  @media screen and (max-width: 768px) {
    #songs_landing .shift6 {
      top: 46%; } }
#songs_landing .shift7 {
  left: 12%;
  top: 41%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift7 {
      left: -5%; } }
#songs_landing .shift8 {
  left: 33%;
  top: 56%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift8 {
      left: 18%; } }
#songs_landing .shift9 {
  left: 10%;
  top: 68%;
  position: absolute; }
  @media screen and (max-width: 1024px) {
    #songs_landing .shift9 {
      left: 4%; } }

.thumbnail {
  margin: 0 auto;
  width: 300px;
  position: relative;
  cursor: pointer; }
  .thumbnail .media {
    width: 250px;
    height: 140px; }
    .thumbnail .media img {
      border: 3px solid #FFF;
      box-shadow: 1px 1px 10px #777;
      max-width: 100%;
      max-height: 100%; }
  .thumbnail .bubble {
    background: url(http://localhost:8000/img/common/directives/thumbnail/bubble-250-content.png) scroll repeat-y top left;
    width: 270px;
    position: absolute;
    top: 140px;
    left: 20px; }
    .thumbnail .bubble .summary {
      position: relative;
      left: 0px;
      padding: 0 20px; }
      .thumbnail .bubble .summary:before {
        background: url(http://localhost:8000/img/common/directives/thumbnail/bubble-250-top.png) scroll repeat-y top left;
        width: 270px;
        height: 30px;
        content: " ";
        position: absolute;
        top: -30px;
        left: 0; }
      .thumbnail .bubble .summary:after {
        background: url(http://localhost:8000/img/common/directives/thumbnail/bubble-250-bottom.png) scroll repeat-y top left;
        width: 270px;
        height: 30px;
        content: " ";
        position: absolute;
        bottom: -30px;
        left: 0; }

.thumbnail {
  text-align: left; }
  .thumbnail .summary {
    font-weight: 100; }
    .thumbnail .summary .title {
      margin-bottom: 3px; }
    .thumbnail .summary .en-title {
      color: #9c9b9b;
      font-style: italic;
      margin-bottom: 3px; }
    .thumbnail .summary .footer {
      margin-top: 10px;
      color: #666666;
      line-height: 18px;
      font-size: 12px;
      text-align: right;
      text-transform: uppercase; }

.thumbnail.songs .summary .singers {
  color: #666666;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px; }
.thumbnail.songs .summary .poet {
  font-size: 14px;
  line-height: 20px;
  color: #9c9b9b; }
.thumbnail.songs .summary .categoryName {
  position: relative;
  top: 2px; }
.thumbnail.songs .summary .play {
  background: url(../img/common/icons/gray_play.png) left bottom no-repeat;
  padding-left: 12px;
  margin-left: 3px;
  color: #888; }

.thumbnailWrapper.word .desc-wrapper .thumbnail-desc .sub-title.item-title-translation {
  font-size: 18px; }
.thumbnailWrapper.word .desc-wrapper .thumbnail-desc small.desc {
  color: #868686; }
.thumbnailWrapper.word .desc-wrapper .thumbnail-desc .categoryName {
  color: #868686;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase; }
.thumbnailWrapper.word .desc-wrapper .thumbnail-desc .more-info {
  color: #9c9b9b;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Merriweather";
  font-weight: 700; }

.thumbnails-grid .media-list {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .thumbnails-grid .media-list::after {
    clear: both;
    content: "";
    display: table; }
  .thumbnails-grid .media-list .media {
    min-height: 250px;
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .thumbnails-grid .media-list .media:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      .thumbnails-grid .media-list .media {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 1%; }
        .thumbnails-grid .media-list .media:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1024px) {
      .thumbnails-grid .media-list .media {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .thumbnails-grid .media-list .media:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1025px) {
      .thumbnails-grid .media-list .media {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .thumbnails-grid .media-list .media:last-child {
          margin-right: 0; } }
    .thumbnails-grid .media-list .media .thumbnailWrapper {
      width: 225px;
      margin: 0 auto; }

.jspVerticalBar {
  width: 5px; }
  .jspVerticalBar .jspTrack {
    background: #fff;
    border-left: dotted 2px #7e8080; }
    .jspVerticalBar .jspTrack .jspDrag {
      left: -2px;
      background: #dedede;
      border-radius: 30px; }

/*
 This page displays common structure that may include:
 - alphabet filter
 - toggle between original and english links
 - number of items displayed on the page
 - search bar
 - icons for list and grid view
*/
.pagination-head {
  display: inline-block;
  width: 100%;
  padding: 0% 0 2%;
  float: left; }
  .pagination-head > .upper {
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    border-bottom: solid 1px #ccc;
    /* Do not remove this commented code, it is used for searchbar and view options design */
        /*.search-box {
            float: left;
            margin: 3px 20px 0 0;

            .search {
                width: 150px;
                border-radius: 3px;
                border: solid 1px #ccc;
                height: 28px;
                line-height: 18px;
                outline: 0;
                float: left;
                background: #FFF;
                margin-top: -5px 8px 5px 0;
                display: none;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            &:after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 19px;
                background: transparent url('../../user-img/songs/icons/search.png') 0 0 no-repeat;
                cursor: pointer;
            }
        }

        .view-options {
            float: right;
            &>a {
                background: transparent url('../../user-img/songs/icons/grid.png') 0 -1px no-repeat;
                width: 20px;
                height: 18px;
                display: inline-block;

                &.list {
                   background-image: url('../../user-img/songs/icons/list.png');
                   background-position: 0;
                }
            }
        }

        .upper-right {
            float: right;
            width: 110px;
        }*/ }
    .pagination-head > .upper .toggle {
      font-size: 12px;
      text-transform: uppercase;
      width: 200px;
      float: left; }
      .pagination-head > .upper .toggle li {
        float: left; }
        .pagination-head > .upper .toggle li > span {
          float: left;
          border-right: solid 1px #575756;
          padding: 0 15px;
          line-height: 12px; }
        .pagination-head > .upper .toggle li:last-child > span {
          border: none; }
        .pagination-head > .upper .toggle li > a {
          color: #888;
          text-transform: uppercase; }
        .pagination-head > .upper .toggle li > .active {
          text-transform: uppercase;
          color: #00A199; }
    .pagination-head > .upper .numeric-count {
      float: left;
      line-height: 12px;
      font-weight: 300;
      font-size: 14px;
      color: #888;
      text-transform: uppercase; }
  .pagination-head > .lower .alphabets {
    display: inline-block;
    text-transform: uppercase;
    clear: both;
    text-align: left;
    padding: 5px 0;
    width: 100%; }
    .pagination-head > .lower .alphabets li {
      float: left;
      width: 3.8%;
      text-align: center; }
      .pagination-head > .lower .alphabets li a {
        color: #888;
        cursor: pointer;
        font-size: 15px;
        font-weight: 300; }
      .pagination-head > .lower .alphabets li > .active {
        color: #00A199; }

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0; }

.splash_screen {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -999; }

.slide_bottom {
  position: fixed;
  bottom: 0;
  right: 20%;
  display: block;
  width: 220px;
  height: 180px;
  background: url(../img/introduction/enter.png) no-repeat; }
  .slide_bottom a.enter {
    display: inline-block;
    margin: 40px 0px 0 50px;
    color: #fff;
    width: 70px;
    height: 20px;
    cursor: pointer; }
  .slide_bottom a.pravesh {
    display: inline-block;
    margin: 40px 0px 0 2px;
    color: #fff;
    width: 70px;
    height: 20px;
    cursor: pointer; }

.homepage-content {
  width: 70%;
  position: relative;
  height: 3910px;
  margin: 24% auto 0; }
  @media screen and (max-width: 1024px) {
    .homepage-content {
      margin-top: 34%; } }
  @media screen and (max-width: 768px) {
    .homepage-content {
      margin-top: 42%; } }
  .homepage-content .thumbnailWrapper {
    margin-bottom: 27%;
    margin-top: 0px; }
    @media screen and (max-width: 1280px) {
      .homepage-content .thumbnailWrapper {
        margin-bottom: 31%; } }
    @media screen and (max-width: 1024px) {
      .homepage-content .thumbnailWrapper {
        margin-bottom: 41%; } }
    @media screen and (max-width: 768px) {
      .homepage-content .thumbnailWrapper {
        margin-bottom: 55%; } }

.shift1 {
  margin: 0 0 0 35%; }
  @media screen and (max-width: 1024px) {
    .shift1 {
      margin-left: 32%; } }
  @media screen and (max-width: 768px) {
    .shift1 {
      margin-left: 18%; } }
.shift2 {
  margin: 0 0 0 42%; }
  @media screen and (max-width: 1024px) {
    .shift2 {
      margin-left: 35%; } }
  @media screen and (max-width: 768px) {
    .shift2 {
      margin-left: 28%; } }
.shift3 {
  margin: 0 0 0 35%; }
  @media screen and (max-width: 1024px) {
    .shift3 {
      margin-left: 27%; } }
  @media screen and (max-width: 768px) {
    .shift3 {
      margin-left: 27%; } }
.shift4 {
  margin: 0 0 0 38%; }
  @media screen and (max-width: 1024px) {
    .shift4 {
      margin-left: 30%; } }
  @media screen and (max-width: 768px) {
    .shift4 {
      margin-left: 27%; } }
.shift5 {
  margin: 0 0 0 42%; }
  @media screen and (max-width: 1024px) {
    .shift5 {
      margin-left: 33%; } }
  @media screen and (max-width: 768px) {
    .shift5 {
      margin-left: 27%; } }
.shift6 {
  margin: 0 0 0 30%; }
  @media screen and (max-width: 1024px) {
    .shift6 {
      margin-left: 33%; } }
  @media screen and (max-width: 768px) {
    .shift6 {
      margin-left: 27%; } }
.shift7 {
  margin: 0 0 0 40%; }
  @media screen and (max-width: 1024px) {
    .shift7 {
      margin-left: 33%; } }
.shift8 {
  margin: 0 0 0 30%; }
  @media screen and (max-width: 1024px) {
    .shift8 {
      margin-left: 25%; } }
  @media screen and (max-width: 768px) {
    .shift8 {
      margin-left: 18%; } }
.shift9 {
  margin: 0 0 0 40%; }
  @media screen and (max-width: 1024px) {
    .shift9 {
      margin-left: 33%; } }
  @media screen and (max-width: 768px) {
    .shift9 {
      margin-left: 27%; } }

.ajab-wrapper {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
  z-index: 1; }

.all-songs {
  background: transparent url(../img/common/bg/bg_pattern.png) repeat;
  background-size: contain;
  margin: 10px 0 0 0; }
  .all-songs .headerBox {
    position: absolute;
    top: 0;
    left: 0; }
  .all-songs .left-nav {
    /*float: left;
    text-align: center;*/
    position: absolute;
    left: 0;
    top: 5%;
    margin-left: 1.5%;
    z-index: 7; }
    .all-songs .left-nav .nav-elements-wrapper {
      position: relative; }
      .all-songs .left-nav .nav-elements-wrapper .category-logo {
        background: transparent url("../img/songs/songs_logo.png") 0 0 no-repeat;
        width: 85px;
        height: 58px;
        padding-top: 30px;
        color: #9c9b9b;
        font-size: 20px;
        font-family: 'Merriweather';
        font-weight: 300; }
      .all-songs .left-nav .nav-elements-wrapper .filter-button {
        display: block;
        margin-top: 10px;
        font-size: 10px;
        text-transform: uppercase;
        color: #e61b72; }
        .all-songs .left-nav .nav-elements-wrapper .filter-button > .collapse {
          background: transparent url("../img/common/icons/cross.png") 0 0 no-repeat;
          display: inline-block;
          height: 9px;
          width: 9px; }
          .all-songs .left-nav .nav-elements-wrapper .filter-button > .collapse.expand {
            background-image: url("../img/common/icons/minus.png"); }
  .all-songs .second-layer-list {
    position: fixed;
    left: 183px;
    top: 0;
    height: 100%;
    width: 87%;
    text-align: left;
    z-index: -1;
    padding: 104px 50px 50px 50px;
    color: #999;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    box-sizing: border-box;
    -webkit-animation: slideIn 4s ease-in-out -2s;
    -moz-animation: slideIn 4s ease-in-out -2s;
    -ms-animation: slideIn 4s ease-in-out -2s;
    animation: slideIn 4s ease-in-out -2s;
    /*display: none;*/ }
    .all-songs .second-layer-list .overlay {
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .all-songs .second-layer-list.ng-hide {
      -webkit-animation: slideOut 4s ease-in-out -2s;
      -moz-animation: slideOut 4s ease-in-out -2s;
      -ms-animation: slideOut 4s ease-in-out -2s;
      animation: slideOut 4s ease-in-out -2s; }
    .all-songs .second-layer-list > ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      overflow: hidden; }
      .all-songs .second-layer-list > ul .list-item {
        padding: 5px 2%; }
        .all-songs .second-layer-list > ul .list-item > a {
          font-size: 12px;
          color: #6f6f6e;
          text-transform: uppercase; }
  .all-songs .filters > li > a {
    text-transform: lowercase; }
  .all-songs .filters .child-list {
    margin: 10px 0; }
    .all-songs .filters .child-list > li {
      color: #878787;
      font-size: 12px;
      font-family: 'Merriweather Sans';
      text-transform: uppercase;
      margin: 0; }
      .all-songs .filters .child-list > li > a {
        color: #e62379;
        line-height: 15px;
        margin-left: 10px;
        font-weight: 700; }
  .all-songs .songs {
    margin-top: 0; }
    .all-songs .songs .thumbnail-media {
      width: 215px;
      height: 120px; }
    .all-songs .songs .desc-wrapper {
      z-index: 1; }
      .all-songs .songs .desc-wrapper .thumbnail-desc {
        margin: 0;
        box-shadow: none;
        width: 203px; }
        .all-songs .songs .desc-wrapper .thumbnail-desc:before {
          background: rgba(255, 255, 255, 0) url(../img/common/directives/thumbnail/top.png) left top no-repeat;
          top: -16px;
          width: 223px;
          background-size: contain; }
      .all-songs .songs .desc-wrapper .lower-curve {
        margin: -3px 0 0 0;
        background: rgba(255, 255, 255, 0) url(../img/common/directives/thumbnail/bottom.png) left top no-repeat;
        background-size: cover;
        width: 223px; }

@keyframes slideIn {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 0%; } }
@-webkit-keyframes slideIn {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 0%; } }
@-moz-keyframes slideIn {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 0%; } }
@-ms-keyframes slideIn {
  0% {
    margin-left: -100%; }

  100% {
    margin-left: 0%; } }
@keyframes slideOut {
  0% {
    margin-left: 0%; }

  100% {
    margin-left: -100%; } }
@-webkit-keyframes slideOut {
  0% {
    margin-left: 0%; }

  100% {
    margin-left: -100%; } }
@-moz-keyframes slideOut {
  0% {
    margin-left: 0%; }

  100% {
    margin-left: -100%; } }
@-ms-keyframes slideOut {
  0% {
    margin-left: 0%; }

  100% {
    margin-left: -100%; } }
.homepage-content {
  width: 70%;
  position: relative;
  height: 2500px !important;
  margin: 18% auto 0; }
  .homepage-content .logo-container {
    left: 14%;
    top: 45px !important;
    position: fixed; }
    @media screen and (max-width: 1024px) {
      .homepage-content .logo-container {
        left: 5%;
        z-index: 1; } }

#songs_landing .page-header {
  width: 100%;
  padding: 20px 0 0;
  display: inline-block; }
  #songs_landing .page-header .logo-container {
    width: 85px; }
    #songs_landing .page-header .logo-container > a {
      background: transparent url(../img/songs/songs_logo.png) center center no-repeat;
      width: inherit;
      height: 55px;
      float: left;
      clear: both;
      padding: 30px 0 0 0;
      color: #999;
      font-family: 'Merriweather';
      font-size: 18px;
      font-weight: 300; }
  #songs_landing .page-header .sub-info {
    width: inherit; }
    #songs_landing .page-header .sub-info .number {
      font-size: 14px;
      color: #999;
      border-bottom: solid 1px #d3135a;
      padding: 5px; }
    #songs_landing .page-header .sub-info .all-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 5px;
      display: inline-block;
      line-height: 27px; }

body.songs-details {
  background: transparent url(../img/songs/song_details_bg.jpg) center center no-repeat;
  background-size: cover; }
  body.songs-details .main-content {
    margin-top: 60px;
    min-height: 500px; }
  body.songs-details #song_container, body.songs-details #poem_container {
    clear: both;
    width: 853px;
    margin: 0 auto; }
    @media screen and (max-width: 1280px) {
      body.songs-details #song_container, body.songs-details #poem_container {
        width: 640px; } }
    @media screen and (max-width: 768px) {
      body.songs-details #song_container, body.songs-details #poem_container {
        width: 530px; } }
  body.songs-details #song_container youtube {
    width: 853px;
    display: inline-block;
    height: 480px; }
    @media screen and (max-width: 1280px) {
      body.songs-details #song_container youtube {
        width: 640px;
        height: 360px; } }
    @media screen and (max-width: 768px) {
      body.songs-details #song_container youtube {
        width: 530px;
        height: 315px; } }
    body.songs-details #song_container youtube iframe {
      -webkit-box-shadow: 1px 1px 10px #777777 ;
      -moz-box-shadow: 1px 1px 10px #777777 ;
      box-shadow: 1px 1px 10px #777777 ;
      border: solid 5px #fff;
      width: inherit;
      height: inherit; }
  body.songs-details #song_container .rendition-wrapper ul {
    float: right;
    padding: 0 0 6px; }
    body.songs-details #song_container .rendition-wrapper ul li {
      float: left;
      color: #999; }
      body.songs-details #song_container .rendition-wrapper ul li > a {
        color: #999;
        margin: 0 3px; }
        body.songs-details #song_container .rendition-wrapper ul li > a.active {
          color: #7bd0ca; }
  body.songs-details #song_container .info {
    width: 843px;
    display: none;
    max-height: 260px;
    margin: 45px 0;
    color: #666;
    font-size: 12px;
    font-family: 'Merriweather';
    font-weight: 300;
    overflow: auto; }
  body.songs-details #song_container .video-options {
    width: 100%;
    display: inline-block; }
    body.songs-details #song_container .video-options > ul {
      text-align: left;
      float: left;
      position: relative;
      font-size: 16px;
      width: auto; }
      body.songs-details #song_container .video-options > ul > li {
        float: left;
        padding: 10px 5px;
        color: #666;
        font-weight: 200;
        line-height: 20px; }
    body.songs-details #song_container .video-options ul.share-options li {
      padding: 10px; }
      body.songs-details #song_container .video-options ul.share-options li a {
        background: transparent url(../img/songs/songs_sprite.png) 0 0 no-repeat;
        display: inline-block;
        width: 26px;
        height: 23px; }
        body.songs-details #song_container .video-options ul.share-options li a.favorite {
          background-position: 0 -25px;
          height: 22px; }
        body.songs-details #song_container .video-options ul.share-options li a.share {
          background-position: -26px 0;
          height: 23px; }
        body.songs-details #song_container .video-options ul.share-options li a.download {
          background-position: -26px -23px; }
  body.songs-details #song_container .song-info {
    width: auto;
    margin: 45px 0 40px; }
    body.songs-details #song_container .song-info dl {
      margin: 4px auto;
      clear: both;
      line-height: 23px;
      text-align: center;
      display: block; }
      body.songs-details #song_container .song-info dl dt {
        color: #e6257a;
        text-transform: capitalize;
        font-weight: 300;
        display: inline-block;
        font-size: 13px;
        font-family: 'Merriweather'; }
      body.songs-details #song_container .song-info dl dd {
        color: #7f8080;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 20px 0 0;
        font-size: 10px;
        font-weight: 300; }
  body.songs-details #poem_container {
    text-align: center;
    padding: 10px 0 50px;
    font-weight: 300;
    line-height: 27px; }
    body.songs-details #poem_container .song-heading {
      color: #b3b3b3;
      font-size: 30px;
      line-height: 52px;
      padding: 0 0 20px;
      font-weight: 300;
      font-family: 'Merriweather'; }
    body.songs-details #poem_container .poet-details {
      color: #676767;
      font-size: 14px; }
    body.songs-details #poem_container .initial-couplets {
      color: #808080;
      font-size: 14px; }
    body.songs-details #poem_container .lyrics {
      font-size: 14px;
      color: #333; }
    body.songs-details #poem_container .hindi > * {
      font-family: 'Lohit Devanagari', serif; }
    body.songs-details #poem_container .hindi .song-heading {
      font-size: 32px; }
    body.songs-details #poem_container .hindi .initial-couplets {
      font-size: 15px; }
    body.songs-details #poem_container .hindi .lyrics {
      font-size: 18px; }
  body.songs-details .lyrics-footer {
    background: transparent url(../img/songs/song_bottom.png) 0 0 no-repeat;
    height: 100px;
    width: 100%;
    display: inline-block;
    position: relative; }
    body.songs-details .lyrics-footer ul {
      margin: 20px auto 0px;
      display: inline-block;
      width: auto; }
      body.songs-details .lyrics-footer ul > li {
        float: left;
        margin-left: 30px; }
        body.songs-details .lyrics-footer ul > li:first-child {
          margin-left: 0; }
        body.songs-details .lyrics-footer ul > li > a {
          float: left;
          width: 36px;
          height: 36px;
          background: transparent url(../img/songs/songs_sprite.png) 0 0 no-repeat; }
        body.songs-details .lyrics-footer ul > li.original > a {
          background-position: 0px -48px; }
        body.songs-details .lyrics-footer ul > li.transliteration > a {
          background-position: 0px -84px; }
        body.songs-details .lyrics-footer ul > li.translation > a {
          background-position: 0px -120px; }
    body.songs-details .lyrics-footer .play-icon {
      position: absolute;
      right: 13%;
      bottom: 40px;
      background: transparent url(../img/songs/songs_sprite.png) -52px 0px no-repeat;
      width: 50px;
      height: 102px;
      display: inline-block; }
