<div ng-controller="allPeopleController">
    <div class="people">
    <div id="page-wrapper" ng-random-class ng-classes="classes">
        <div class="main-content">
        <div class="ajab-container headerfixOuter">
            <div class='logo-with-filter headerfixInner'>
                <div class='nav-elements-wrapper'>
                    <h1 class='category-logo'>people</h1>
                    <a href="javascript:void(0);" ng-click="toggleExpandFilter()" class="filter-button">Filter <span
                            class="collapse expand"></span></a>
                </div>
            </div>

            <div class="ajab-wrapper">

                <div class="slide-nav-list " ng-show="expandFilter">
                    <!--first layer pardah-->

                    <div class="first-layer-list">
                        <ul class='filters'>
                            <li class='head'>Filter by</li>
                            <li>
                                <a ng-class="{active:isActive('_Poets')}" href="javascript:void(0)" ng-click="filterBy('_Poets')">poets</a>
                            </li>
                            <li>
                                <a ng-class="{active:isActive('_Singers')}" href="javascript:void(0)" ng-click="filterBy('_Singers')">singers</a>
                            </li>
                            <li>
                                <a ng-class="{active:isActive('_Writers')}" href="javascript:void(0)" ng-click="filterBy('_Writers')">writers</a>
                            </li>
                            <li>
                                <a ng-class="{active:isActive('_Artists')}" href="javascript:void(0)" ng-click="filterBy('_Artists')">artists</a>
                            </li>
                            <li>
                                <a ng-class="{active:isActive('_Legendary Figures')}" href="javascript:void(0)" ng-click="filterBy('_Legendary Figures')">legendary figures</a>
                            </li>
                            <li>
                                <a ng-class="{active:isActive('_Other')}" href="javascript:void(0)" ng-click="filterBy('_Other')">other</a>
                            </li>

                            <li class="reset-image"><a class="reset" ng-click="resetFilters()">reset</a></li>
                        </ul>
                    </div>
                </div>

                <div class='people-grid-view'>

                    <div class="people-grid-content-wrapper" min-height-offset="150">


                        <div class='people-grid-wrapper'>
                            <div class='pagination-head'>
                                <div class="upper" ng-cloak>

                                    <span class='numeric-count'
                                          ng-if="numberOfPeople == 1">{{numberOfPeople}} PERSON</span>
                                    <span class='numeric-count'
                                          ng-if="numberOfPeople != 1">{{numberOfPeople}} PEOPLE</span>
                                </div>
                                <div class="lower">
                                    <ul class='alphabets'>
                                        <li ng-repeat="letter in alphabetFilters" ng-click="applyAlphabetFilter(letter)">
                                            <a ng-class="{active:letter === currentAlphabetSelection}" ng-bind="letter"></a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                            <ul>
                                <div id="{{getPersonTag(person)}}" ng-repeat="(index,person) in people | orderBy : 'name'" on-ng-repeat-end="scrollTo" class="row-wrapper">
                                    <div class="image" >
                                        <img src="{{person.thumbnailImg}}">
                                    </div>
                                    <div class="people-wrapper">
                                        <div class="people-info" read-more>

                                            <a ng-href="{{getExploreUrl(person)}}"  target="_self"><span class="title" ng-cloak>{{person.name}}</span></a>
                                            <span class="job-title" style="display: inline">{{person.getOccupationsAsString()}}</span>
                                            <div class="original-html-size" bind-dynamic-html = "person.profile"></div>
                                        </div>
                                        <a ng-href="{{getExploreUrl(person)}}" target="_self" class="explore">Explore</a>
                                    </div>
                                </div>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <ajab-shahar-footer></ajab-shahar-footer>
</div>
        </div>
</div>
