<div class="people-explore explore details header-with-carousel" ng-controller="peopleExploreController">
<div id="page-wrapper" ng-random-class ng-classes="classes">
        <div class="page-header">
            <div class="ajab-wrapper">
                <div class="logo-container">
                    <a href="/people/all" target="_self">
                        <span class="page-logo">people</span>
                    </a>
                </div>
                <div class="page-title">
                    <span class="main">Parvathy Baul</span>
                    <span class="job">singer, poet</span>
                </div>
            </div>
        </div>

        <div class='ajab-container'>
            <div class='ajab-wrapper'>
                <div class="main-content">
                    <div class="left-nav" scroll>
                        <ul>
                            <li title="a sample of reflections, songs & more, related through common words & ideas"><a
                                    target="_self" href="javascript:void(0)"
                                    class="active">explore</a>
                                <ul class="child-list">
                                    <li><a href="javascript:void(0)">songs</a></li>
                                    <li><a href="javascript:void(0)">all</a></li>
                                </ul>

                            </li>

                        </ul>

                    </div>
                    <div class='grid-view'>
                        <div class='grid-wrapper'>
                            <div id="container" masonry preserve-order height-offset="150">

                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL asDasd afadsf dsfsdf wdf wefwef</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                          <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL asDasd afadsf dsfsdf wdf wefwef</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL asDasd afadsf dsfsdf wdf wefwef</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL asDasd afadsf dsfsdf wdf wefwef</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL asDasd afadsf dsfsdf wdf wefwef</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="media masonry-brick " >
                                    <div class="thumbnail  reflection" >
                                        <div class="image">
                                            <img ng-src="/user/img/reflections/bw_background2b.jpg" src="/user/img/reflections/bw_background2b.jpg">
                                        </div>
                                        <div class="bubble">
                                            <div class="summary" >
                                                <h3 class="title ng-binding">text reflection</h3>
                                                <h4 class="en-title ng-binding"></h4>

                                                <span class="singers ng-binding" >asks PARVATHY BAUL</span>

                                                <div  class="thumbnailDetails toggleBySlide">

                                                    <div>
                                                        <div class="singers ng-hide" >
                                                            <small class="ng-binding">asks PARVATHY BAUL</small>
                                                        </div>
                                                    </div>


                                                    <div class="footer">
                                                        <p class="categoryName ng-binding">REFLECTION
                                                            <small class="more-info ng-scope" >T</small>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    <ajab-shahar-footer></ajab-shahar-footer>
    </div>
</div>
